@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background: #272C38;
}
.bg{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    background: url(https://www.ridus.ru/images/2022/9/16/1512525/in_article_webp_2a63098a4f.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    box-shadow: inset 0px 0px 20px 10px #282D39;
}
.bg-gradient{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(39, 44, 56, 0.69) 0%, #272C38 50vw);
}

header{
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search > input[type="text"]{
    width: 60vw;
    max-width: 550px;
    min-height: 45px;
    background: #1E232F;
    border: 0px;
    padding-left: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
}

.search > input[type="text"]::placeholder{
    margin-left: 10px;
}
.icon-search{
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results{
    min-height: 50px;
    background: #fff;
    width: 100%;
    position: absolute;
    top: 60px;
    border-radius: 5px;
}

.results::after{
    content: '';
    position: absolute;
    top: -8px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    clear: both;
    rotate: 180deg;
    border-radius: 5px;
}

.results > .res_anim{
    font-family: 'Inter', sans-serif;
}
.res_anim > a{
    text-decoration: none;
}
.res_anim:nth-child(2n){
background: #f3f3f3;
}
.anime_info{
    display: flex;
    padding: 10px;
}
.anime_main{
    display: flex;
}
.anime_info > .anime_main > .anime_img > img{
    height: 110px;
    border-radius: 10px;
    max-width: 79px;
    object-fit: cover;
}
.anime_info > .anime_main > .anime_cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.anime_info > .anime_main > .anime_cnt > h3{
    font-size: 20px;
    margin-bottom: 7px;
    color: #000;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    width: 280px;
    -webkit-box-orient: vertical;
}
.anime_info > .anime_main > .anime_cnt > span{
    font-size: 14px;
    margin-bottom: 7px;
    color: #C4C8CB;
}
.anime_info > .anime_main > .anime_cnt > p{
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    width: 280px;
    -webkit-box-orient: vertical;
    color: #A4A4A4;
    line-height: 20px;
}
.anime_info > .anime_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
b{
    color: #000;
}
.a_time, .a_episodes, .a_score{
    display: flex;
    width: 100%;
    font-size: 14px;
    align-items: center;
    color: #828282;
    padding: 5px 0px;
}
.a_time > img, .a_episodes > img, .a_score > img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}


.loading > a > .anime_info > .anime_main > .anime_img{
    height: 110px;
    min-width: 78px;
    background-color: #d0d0d0;
    border-radius: 10px;
    animation: search_load 1s ease-in-out;
    animation-iteration-count: infinite;
}

.loading > a >.anime_info > .anime_main > .anime_cnt > h3{
    background: #d0d0d0;
    border-radius: 3px;
    width: 150px;
    color: #0000;
    animation: search_load 1s ease-in-out;
    animation-iteration-count: infinite;
}
.loading > a >.anime_info > .anime_main > .anime_cnt > span{
    background: #d0d0d0;
    border-radius: 3px;
    width: 75px;
    color: #0000;
    animation: search_load 1s ease-in-out;
    animation-iteration-count: infinite;
}
.loading > a >.anime_info > .anime_main > .anime_cnt > p{
    background: #d0d0d0;
    border-radius: 3px;
    color: #0000;
    animation: search_load 1s ease-in-out;
    animation-iteration-count: infinite;
}

.loading > a > .anime_info > .anime_div > div > span{
    background: #d0d0d0;
    border-radius: 3px;
    color: #0000;
    animation: search_load 1s ease-in-out;
    animation-iteration-count: infinite;
}
.loading > a > .anime_info > .anime_div > div > span > b{
    color: #0000;
}
@keyframes search_load {
    0%{
        background: #d0d0d0;
    }
    50%{
        background: #eaeaea;
    }
    100%{
        background: #d0d0d0;
    }
}

@media screen and (max-width:500px) {
    .search{
        width: 100%;
    }
    .search > input[type="text"]{
        width: 100%;
    }
}

@media screen and (max-width:870px) {
    .anime_info{
        flex-direction: column;
    }
    .anime_info > .anime_main > .anime_cnt > p {
        width: 100%;
    }
    .anime_info > .anime_div{
        flex-direction: initial;
        margin-left: 0px;
    }
}