.content-anime .content-wrapper {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    gap: 0 !important;
}

@mixin bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
    margin-left: max(env(safe-area-inset-left), 20px);
    margin-right: max(env(safe-area-inset-right), 20px);

    .window-title {
        font-size: 14px;
        color: #FFFFFF;
        font-weight: bold;
    }

    .window-close {
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
        cursor: pointer;

        .ticon {
            height: 14px;
            background-color: #fff;
        }
    }
}

@mixin wrapper {
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: var(--space);

    .anime-list-wrapper {
        margin: 10px;
        min-height: 200px;

        .grid-anime-list-wrapper {
            display: grid;
            align-items: center;
            justify-content: center;

            grid-template-columns: repeat(auto-fit, 200px);
            gap: 10px;

            @media screen and (max-width: 490px) {
                grid-template-columns: 1fr 1fr !important;
            }
        }
    }

    .card-anime {
        min-width: auto !important;
        transition: .3s ease-in-out;

        &.-off {
            opacity: .2;
        }
    }
}

@mixin empty {
    .empty-card {
        padding: 11px 0;
        width: 218px;
        color: #FFFFFF;
        font-family: "Manrope", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        justify-content: center;
        margin: 0 auto;
        min-height: 200px;

        .title {
            font-size: 15px;
            font-weight: bold;
        }

        .add {
            font-size: 12px;
            text-align: center;
            opacity: 0.5;
        }

        @media screen and (max-width: 490px) {
            grid-column: 1 / 3;
        }
    }
}

@mixin controller {
    display: grid;
    grid-template-columns: auto 1fr auto;

    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    gap: 5px;
    padding: 5px;
    margin-bottom: var(--bot);

    width: 100%;
    max-width: 300px;
    min-width: 40px;

    input {
        width: 100%;
        height: 40px;
        box-sizing: border-box;

        background: #191C21;
        border: 0.2px solid rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        outline: none;

        padding: 0 3px;

        font-size: 14px;
        color: #FFFFFF;
        text-align: center;

        transition: 0.3s ease-in-out;

        &::placeholder {
            transition: .3s ease-in-out;
        }

        &:focus {
            border-color: #2393F1;

            &::placeholder {
                opacity: 0.1;
            }
        }
    }

    .btn {
        display: grid;
        place-items: center;
        position: relative;

        width: 40px;
        height: 40px;

        margin-right: 5px;

        cursor: pointer;

        .ticon {
            height: 16px;
            background-color: #D6D6D6;
            transition: .3s ease-in-out;

            &.i-circle-notch {
                animation: 1s linear infinite rotate;
                opacity: 0;
            }

            &.i-eye-slash {
                opacity: 0;
            }


            &.i-xmark,
            &.i-circle-notch,
            &.i-eye-slash {
                position: absolute;
            }

            &.i-xmark {
                height: 18px;
                opacity: 0;
            }
        }
    }

    .btn-filter {
        &.-load {
            .ticon {
                background-color: #2393F1;

                &.i-circle-notch {
                    opacity: 1;
                }

                &.i-ios-search {
                    opacity: 0;
                }
            }
        }

        &.-rem {
            .ticon {

                &.i-circle-notch {
                    opacity: 0;
                }

                &.i-ios-search {
                    opacity: 0;
                }

                &.i-xmark {
                    opacity: 1;
                }
            }
        }
    }

    .btn-visible{
        &.-off{
            .i-eye{
                opacity: 0;
            }
            .i-eye-slash{
                opacity: 1;
            }
        }
    }
}

.window-anime {
    .window-content {
        --bot: max(calc(var(--sab) - 10px), 10px);
        --space: calc(62px + var(--bot));

        .content-wrapper {
            max-height: 100dvh;
            overflow: auto;

            .wrapper {
                .window-bar {
                    @include bar();
                }

                @include wrapper();
                @include empty();
            }

            .anime-list-search {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                z-index: 10;

                .anime-search-wrapper {
                    @include controller();
                }
            }
        }
    }
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}