.authorization {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;

    .authorization__wrapper {
        padding: 20px;
        background: #0009;
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 6px;
        max-width: 400px;

        .authorization_logo {
            display: flex;
            margin: 20px 0;
            align-items: center;
            justify-content: center;
            color: #fff;
            background: #2eb2f7;
            width: 50px;
            height: 50px;
            border-radius: 3px;
            font-size: 24px;
            font-weight: bold;
        }

        .authorization_title {
            color: #fff;
            font-size: 24px;
            font-weight: bold;
        }

        .authorization_variation_text {
            color: #fff;
            margin: 20px 0 0 0;
            position: relative;
            display: flex;
            align-items: center;
            font-size: 11px;
            text-align: center;

            .variation__line {
                content: "";
                height: 1px;
                width: 60px;
                background: #fff;
                position: relative;
                display: flex;
                margin: 0 10px;
            }
        }

        .authorization_variation_duo {
            display: flex;
            width: 100%;
            margin-top: 20px;

            .auth__button {
                margin: 0 5px;
                cursor: pointer;
                width: 50%;
                background: #fff;
                display: flex;
                align-items: center;
                height: 40px;
                border-radius: 5px;
                position: relative;

                .button__icon {
                    display: flex;
                    width: 30px;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    margin-left: 10px;

                    svg {
                        height: 20px;
                    }
                }

                .button__text {
                    font-size: 16px;
                    font-weight: bold;
                    width: 100%;
                    margin: 0 10px;
                    display: flex;
                    justify-content: center;
                    color: #000000;
                }

                .google {
                    color: #525357;
                }
            }
        }

        .authorization_support_text {
            color: #8692a0;
            font-size: 11px;
            margin-top: 20px;

            a {
                color: #8692a0;
            }
        }

        .authorzation_detail {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            font-size: 13px;
            width: 100%;
            color: #fff;

            .detail_info {
                margin-top: 10px;
                display: flex;
                align-items: center;

                .detail_icon {
                    background: #222930;
                    width: 25px;
                    height: 25px;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        width: 9px;
                        fill: #fff;
                    }
                }

                .detail_text {
                    margin-left: 10px;
                    color: #ebf0f0;
                }
            }
        }
    }
}

.disabled::before {
    content: '';
    position: absolute;
    background: #525357ab;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
}

.disabled::after {
    content: 'В разработке';
    position: absolute;
    top: -10px;
    right: -5px;
    font-size: 9px;
    padding: 5px 10px;
    background: #f6de51;
    border-radius: 3px;
}

@media screen and (max-width:400px) {
    .authorization .authorization__wrapper {
        height: 100%;
        justify-content: center;
    }
}
