.card-anime {
    display: grid;

    .card-content {
        display: flex;
        overflow: hidden;
        position: relative;
        border-radius: 4px;
        max-height: 280px;
        justify-content: center;
        aspect-ratio: 1/1.44;

        img {
            height: 100%;
            z-index: 3;
        }

        .blur{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            filter: blur(5px);
        }

        .title {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(16, 19, 24, 0.7);
            backdrop-filter: blur(2.5px);
            text-align: center;
            padding: 10px 0px;
            z-index: 4;

            span {
                margin-left: 10px;
                margin-right: 10px;
                display: flex;
                color: #fff;
                font-family: 'Manrope';
                font-size: 13px;
                justify-content: center;
            }
        }

        .my-score {
            position: absolute;
            right: 10px;
            top: 10px;
            background: linear-gradient(98.26deg, #51B2FF 0%, #2672DA 100%);
            backdrop-filter: blur(2px);
            border-radius: 3px;
            padding: 4px 8px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 3px;
            color: #fff;
            font-family: 'Nova Square';
            font-size: 12px;
            z-index: 5;
            svg{
                fill: #fff;
                display: none;
            }
        }
    }

    .card-information {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        color: #fff;
        font-family: 'Nova Square';
        font-size: 12px;

        .score {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 5px;
        }
    }

    &.hide-anime {
        display: none;
    }

    &.hide-search {
        display: none;
    }

    &:empty {
        --duration: 1.5s;
        min-height: 308px;
        border-radius: 3px;
        position: relative;

        &::after {
            height: 14.5px;
            bottom: 0;
            
        }

        &::before {
            top: 0;
            bottom: 24.5px;
        }

        &::before, &::after{
            content: '';
            position: absolute;
            width: 100%;
            opacity: 0.2;
            background: #282D39;
            border-radius: 3px;
            animation: loading var(--duration) infinite;
        }
    }
}

.swiper-slide-active {
    a {
        .card_anime {
            .card_content {
                background: rgba(0, 0, 0, 0.7);
            }
        }
    }
}

@keyframes loading {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.2;
    }
}