$margin: 20px 20px 10px 20px;
$w: 55px;
$h: $w + 15px;
$bg_color: #15171E;
$pr_color: #5FBEF3;

.episodes{
  margin: $margin;
  overflow: hidden;
  overflow-x: auto;
  border-radius:3px;
  
  .value{
    display: inline-flex;
    background: $bg_color;
    border-radius:3px;
    width: auto;
    position: relative;
    .episode{
      margin: 3px;
      width: $w;
      height: $h;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Manrope, serif;
      font-weight: bold;
      color: #555657;
      z-index: 2;
      position: relative;
      flex-direction: column;
      .ep-name{
        font-size: 11px;
        margin-top: 5px;
      }
    }
    .sel{
      position: absolute;
      width: $w;
      height: $h;
      background: $pr_color;
      margin: 3px;
      border-radius: 3px;
      z-index: 1;
    }
  }
}
.episodes::-webkit-scrollbar {
  border-radius:3px;
  width: 5px;
  height: 8px;
  display: hidden;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
.episodes::-webkit-scrollbar-thumb {
  background: #000;
  border-radius:3px;
}