.application-menu {
    position: fixed;
    bottom: 0;
    padding-bottom: env(safe-area-inset-bottom);
    left: 0;
    right: 0;
    background: #1E1F25;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 7px 7px 0px 0px;
    z-index: 80;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    .btn-menu {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .selected {
            display: none;
            fill: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
        }

        svg {
            fill: #fff;
            height: 26px;
            color: #fff;
        }

        &:first-child {
            margin-left: 10px;
        }

        &:last-child {
            margin-right: 10px;
        }
    }

    .primary {
        background: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
        border-radius: 4px;
    }

    .selected {
        position: relative;

        .main-icon {
            display: none;
        }

        .selected {
            display: block;
        }
    }
}

.mode-1 {
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding-bottom: 0;
    border: none;
    border-radius: 7px;
}

.mode-2 {

    .selected {
        &::after {
            content: '';
            position: absolute;
            border-radius: 7px;
            left: calc(50% - 17px);
            top: -1px;
            width: 34px;
            height: 3px;
            background: #51B1FE;
        }

        .main-icon {
            display: block;
        }

        .selected {
            display: none;
        }
    }
}

.interactive-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    z-index: 78;
    transition: .3s ease-in-out;
    opacity: 0;

    .close-interactive{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 79;
    }

    .user-interactive{
        position: absolute;
        left: calc(env(safe-area-inset-left) + 20px);
        right: calc(env(safe-area-inset-right) + 20px);
        background: #1E1F25;
        color: #fff;
        font-family: Manrope;
        bottom: calc(env(safe-area-inset-bottom) + 80px);
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        border-radius: 4px;
        z-index: 80;
        .btn-inter{
            display: flex;
            gap: 20px;
            padding: 15px 0;
            font-size: 15px;
            cursor: pointer;

            svg{
                fill: #fff;
                -webkit-text-stroke-color: #fff;
                width: 16px;
            }
        }
    }
}