.application-menu {
    position: fixed;
    bottom: 0;
    padding-bottom: env(safe-area-inset-bottom);
    left: 0;
    right: 0;
    background: #1E1F25;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 7px 7px 0px 0px;
    z-index: 80;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    .btn-menu {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .selected {
            display: none;
            fill: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
        }

        svg {
            fill: #fff;
            height: 26px;
            color: #fff;
        }

        &:first-child {
            margin-left: 10px;
        }

        &:last-child {
            margin-right: 10px;
        }
    }

    .primary {
        background: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
        border-radius: 4px;
    }

    .selected {
        position: relative;

        .main-icon {
            display: none;
        }

        .selected {
            display: block;
        }
    }
}

.mode-1 {
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding-bottom: 0;
    border: none;
    border-radius: 7px;
}

.mode-2 {

    .selected {
        &::after {
            content: '';
            position: absolute;
            border-radius: 7px;
            left: calc(50% - 17px);
            top: -1px;
            width: 34px;
            height: 3px;
            background: #51B1FE;
        }

        .main-icon {
            display: block;
        }

        .selected {
            display: none;
        }
    }
}

.interactive-menu {
    background: rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 75;
    opacity: 1;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: .3s ease-in-out;

    .close-interactive {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 76;
    }

    .user-interactive {
        position: absolute;
        max-width: 350px;
        width: 100%;
        background: rgb(25, 28, 33);
        border-radius: 4px;
        backdrop-filter: blur(10px);
        z-index: 77;
        display: flex;
        flex-direction: column;
        bottom: calc(env(safe-area-inset-bottom) + 80px);

        .interact-content {
            overflow: hidden;
            position: relative;
            z-index: 2;
            border-radius: 4px;
        }

        .btn-inter {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 15px 20px;
            font-size: 15px;
            color: #fff;
            font-family: Manrope;
            cursor: pointer;

            svg {
                fill: #fff;
                -webkit-text-stroke-color: #fff;
                width: 16px;
            }
        }

        .line-inter {
            height: 1px;
            width: 100%;
            background: rgba(255, 255, 255, 0.33);
            display: grid;
        }

        .inter-param {
            position: relative;

            .title {
                display: flex;
                gap: 20px;
                align-items: center;
            }

            .checkbox {
                position: absolute;
                right: 20px;
                overflow: hidden;
                display: grid;
                place-items: center;
                width: 16px;
                height: 16px;
                background: #C0C0C0;
                border-radius: 3px;

                input {
                    display: none;
                }

                .switch-check {
                    display: none;
                    width: 100%;
                    height: 100%;
                    background: #3C92ED;
                }

                input:checked+.switch-check {
                    display: grid;
                }
            }
        }

        .btn-inter.disable-true {
            background: rgba(0, 0, 0, 0.50);
            color: rgba(255, 255, 255, 0.60);

            svg {
                fill: rgba(255, 255, 255, 0.60);
            }
        }

        .inter-param.disable-true {
            .checkbox {
                background: rgba(192, 192, 192, 0.60);
            }
        }

        //Треугольник
        .triangle {
            position: absolute;
            bottom: -15px;
            fill: #fff;
        }
    }
}

.interactive-menu.hide {
    opacity: 0;
}

//Мобтльное меню
body.menuver {

    &[data-orientation="90"],
    &[data-orientation="270"] {
        .application-menu {
            bottom: 0;
            top: 0;
            padding-bottom: 0;
            padding-top: 0;
            border-top: none;
            flex-direction: column;
            align-items: center;

            .btn-menu:first-child {
                margin: 0;
            }

            .btn-menu:last-child {
                margin: 0;
            }
        }
    }

    &[data-orientation="90"] {
        .application-menu {
            left: 0;
            right: auto;
            padding-left: 10px;
            border-radius: 0px 7px 7px 0px;
            border-right: 1px solid rgba(255, 255, 255, 0.1);
        }

        margin-left: 75px;
    }

    &[data-orientation="270"] {
        .application-menu {
            left: auto;
            right: 0;
            padding-right: 10px;
            border-radius: 7px 0px 0px 7px;
            border-left: 1px solid rgba(255, 255, 255, 0.2);
        }

        margin-right: 75px;
    }
}

//Интерактивное меню
body.menuver {
    &[data-orientation="270"] {
        .interactive-menu {
            .user-interactive {
                right: 90px;

                .triangle {
                    transform: rotate(-90deg);
                    bottom: auto;
                    right: -18px;
                }
            }
        }
    }

    &[data-orientation="0"] {
        .interactive-menu {
            .user-interactive {
                bottom: calc(env(safe-area-inset-bottom) + 80px);
            }
        }
    }

    &[data-orientation="90"] {
        .interactive-menu {
            .user-interactive {
                left: 90px;

                .triangle {
                    transform: rotate(90deg);
                    bottom: auto;
                    left: -18px;
                }
            }
        }
    }
}