$main_bg: #101318;
$object_bg: #1f2329;
$primary: #2393F1;
$radius: 5px;

html {
  scrollbar-width: none;
}

body {
  background: $main_bg;
  max-width: 1100px;
  margin: 0 auto;
  -webkit-text-size-adjust: none;
  /* Запрещает автоматическое изменение размера текста */

  &.hidden {
    overflow: hidden;
  }
}

header {
  $profile_size: 45px;

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &>.account {
    display: flex;
    white-space: nowrap;
    align-items: center;

    .image-profile {
      overflow: hidden;
      border-radius: 50%;
      width: $profile_size;
      height: $profile_size;

      img {
        width: 45px;
        height: 45px;
        aspect-ratio: 1 / 1;
      }
    }

    &>.information {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
      color: #fff;
      font-family: Manrope;

      &>.name {
        font-size: 16px;

        span {
          font-size: 14px;
        }

        b {
          font-weight: 800;
        }
      }

      &>.position {
        display: flex;
        align-items: center;

        .ticon {
          width: 12px;
          height: auto;
          background-color: #FFFFFF;
        }

        &>span {
          margin-left: 5px;
          font-size: 13px;
        }
      }
    }
  }

  &>.notify-search {
    display: flex;
    gap: 10px;

    .notification {
      $size: 40px;
      min-height: $size;
      min-width: $size;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $object_bg;
      border-radius: $radius;
      cursor: pointer;

      .ticon {
        background-color: #FFFFFF;
        height: 17px;
        z-index: 1;
      }

      .ticon.dot {
        display: none;
      }

      &.dot {
        .ticon.mail {
          display: none;
        }

        .ticon.dot {
          display: block;
        }
      }
    }
  }
}

.mbs {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.desktop.search {
  width: 300px;
}

.search {
  display: flex;
  height: 40px;
  overflow: hidden;
  border-radius: $radius;
  position: relative;

  &>input {
    width: 100%;
    border-radius: 0;
    border: none;
    background: $object_bg;
    color: #fff;
    padding-left: 10px;
    padding-right: 40px;
    font-family: Manrope;

    &::placeholder {
      // padding-left: 10px;
      color: #fff;
      opacity: 0.7;
      transition: .3s ease-in-out;
    }

    @supports (-moz-appearance:none) {
      &:placeholder-shown {
        padding-left: 10px;
        transition: .3s ease-in-out;
      }

      &:focus {
        &:placeholder-shown {
          padding-left: 10px;
        }
      }
    }
  }

  &>.shortcut {
    position: absolute;
    right: 6px;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;

    &>span {
      color: #fff;
      background: $main_bg;
      width: 28px;
      height: 28px;
      border-radius: $radius;
      display: grid;
      place-items: center;
      font-size: 14px;
    }
  }

  &>input:focus {
    &::placeholder {
      padding-left: 0px;
    }
  }

  input:focus~.icon {
    opacity: 0;
  }

  input:not(:placeholder-shown)~.icon {
    opacity: 0;
  }
}

@import './index/trailers';

.swiper-continue {
  font-family: Manrope;
  position: relative;
  overflow: hidden;

  .swiper-wrapper {
    .swiper-slide {
      overflow: hidden;

      .wrapp-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $object_bg;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;

        .continue-frame {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          width: 100%;
          margin-top: 10px;
          background-size: cover;
          background-repeat: no-repeat;
          aspect-ratio: 16/9;


          img {
            height: 207px;
          }

          .continue-time {
            position: absolute;
            bottom: 20px;
            padding: 5px 10px;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 4px;

            span {
              font-family: 'Manrope';
              font-style: normal;
              font-size: 13px;
              color: #FFFFFF;
            }
          }
        }

        .continue-content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding-top: 12px;

          .wrap-content {
            font-family: 'Manrope';
            margin-left: 12px;
            display: flex;
            flex-direction: column;
            width: calc(100% - 90px);


            .title {
              font-size: 13px;
              color: #FFFFFF;
              // margin-right: 40px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .continue-episode {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 5px;
              font-size: 13px;
              color: #FFFFFF;
            }
          }

          .continue-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            font-size: 11px;
            color: rgba(255, 255, 255, 0.5);

            span.ellipse {
              width: 3px;
              height: 3px;
              background: #2393F1;
              border-radius: 50%;
            }
          }

          .wrap-continue {
            margin-right: 12px;
            font-size: 10px;
            color: #FFFFFF;
            font-family: 'Manrope';
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 5px;
            white-space: nowrap;
            min-width: 45px;

            .button-continue {
              background: #2393F1;
              border-radius: 3px;
              width: 43px;
              height: 43px;

              svg {
                transform: translateX(-1px);
              }
            }
          }
        }
      }

      .frame-anime {
        position: relative;
        display: grid;
        place-items: center;

        img {
          aspect-ratio: 16 / 9;
          width: 100%;
        }

        &>.progress-watch {
          position: absolute;
          top: 0;
          left: 0;
          height: 5px;
          background: #398BE0;
          border-radius: 0px 5px 5px 0px;
        }

        &>a {
          position: absolute;
          height: 50px;
          width: 50px;

          &>.btn {
            min-width: 50px;
            height: 50px;
            position: absolute;
            border-radius: 50%;
            background: linear-gradient(135deg, #51B2FF 0%, #2672DA 95.83%);
            box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
            display: grid;
            place-items: center;
            cursor: pointer;

            svg {
              transform: translateX(1px);
              fill: #fff;
              height: 20px;
            }
          }
        }
      }
    }
  }

  .swiper-pagination {
    bottom: 5px;

    .swiper-pagination-bullet {
      background: #282B2F;
      transition: .3s ease-in-out;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background: #398BE0;
    }
  }
}

.section-title {
  color: #fff;
  font-family: Manrope;
  display: flex;
  gap: 10px;

  &>.line {
    display: grid;
    width: 5px;
    border-radius: 1px;
    height: 25px;
    background: $primary;
  }
}

.section-genres {
  display: flex;
  color: #A9AAAC;
  font-family: Manrope;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 16px;
  overflow: hidden;
  overflow-x: scroll;
  padding: 0 20px;
  gap: 10px;

  &>.genres {
    background: $object_bg;
    height: 35px;
    display: grid;
    place-items: center;
    padding: 0 25px;
    cursor: pointer;
    border-radius: 5px;
  }

  &>.selected {
    color: #fff;
    background: $primary;
  }
}

.section-anime,
.section-update {
  padding: 0 20px;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;

  @for $i from 1 through 8 {
    a:empty+a:nth-child(#{$i}) {

      &::before,
      &::after {
        animation-delay: #{$i * 0.3}s;
      }
    }
  }
}

.github {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Manrope;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #404246;
  gap: 3px;

  .title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .version-hash {
    display: flex;
    flex-direction: column;
    align-items: center;

    .version {
      font-size: 14px;
    }

    .hash {
      text-transform: uppercase;
      font-size: 11px;
      margin-top: -4px;
    }
  }

  .date {
    font-size: 14px;
  }
}

footer {
  display: flex;
  height: var(--menu-height-safe);
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  z-index: 99;

  svg {
    width: 50px;
    fill: #fff;
    animation: rotate 3s ease-in-out infinite;
  }
}

.hide {
  display: none;
}

.scroll-none {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.downloads-link {
  padding-left: 4px;
  background: linear-gradient(-90deg, #101318 0%, #2393F1 100%);
  border-radius: 3px;

  &>.wrapper {
    background: #191C21;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    font-family: 'Manrope', sans-serif;
    color: #FFFFFF;
    overflow: hidden;

    .text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .new {
        display: flex;
        align-items: center;
        color: #F7D149;
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        gap: 5px;

        .ticon {
          background-color: #F7D149;
          height: 11px;
        }
      }

      &>.wrapper {
        display: flex;
        flex-direction: column;

        .title {
          font-size: 13px;
          font-weight: bold;
        }

        .more {
          font-size: 10px;
          opacity: .3;
        }
      }
    }

    .btn-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-size: 9px;
      font-weight: bold;
      text-transform: uppercase;
      color: #5E6063;
      gap: 3px;

      .btn {
        width: 43px;
        aspect-ratio: 1 / 1;
        display: grid;
        place-items: center;
        background: #2393F1;
        border-radius: 3px;
        // box-shadow: 0 0 5px 5px rgba(35, 147, 241, 0.10);
        cursor: pointer;

        .ticon {
          height: 17px;
          background-color: #FFFFFF;
        }
      }
    }
  }
}

@import './popup';
@import './cards';
@import './windowed';
@import './window/update';
@import './window/notify';
@import './window/countdown';

.card-anime {
  min-width: 195px;
  margin-right: 10px;
}

@media screen and (max-width:700px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width:700px) {
  .mobile {
    display: none;
  }
}

// Animations

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {

  .section-genres,
  .section-anime,
  .section-update {
    margin-right: 0;
  }
}

body {

  &[angle="90"],
  &[angle="270"] {

    .section-genres,
    .section-anime,
    .section-update {
      margin-right: 0;
    }
  }

  &[angle="90"] {

    .swiper-treilers,
    .swiper-continue,
    .section-countdown,
    .downloads-link {
      margin-right: max(20px, env(safe-area-inset-right));
    }

    header,
    .section-title,
    .swiper-treilers,
    .swiper-continue,
    .section-countdown,
    .downloads-link {
      margin-left: var(--menu-width-safe);
    }

    .section-genres,
    .section-anime,
    .section-update {
      padding-left: var(--menu-width-safe);
      padding-right: max(20px, env(safe-area-inset-right));
    }
  }

  &[angle="270"] {

    .swiper-treilers,
    .swiper-continue,
    .section-countdown,
    .downloads-link {
      margin-left: max(20px, env(safe-area-inset-left));
    }

    header,
    .section-title,
    .swiper-treilers,
    .swiper-continue,
    .section-countdown,
    .downloads-link {
      margin-left: max(20px, env(safe-area-inset-left));
    }

    .section-genres,
    .section-anime,
    .section-update {
      padding-left: max(20px, env(safe-area-inset-left));
      padding-right: var(--menu-width-safe);
    }
  }
}