$main_bg: #101318;

body {
  background: $main_bg;
  max-width: 1100px;
  margin: 0 auto;
}

header {
  $profile_size: 45px;

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;

  &>.account {
    display: flex;
    white-space: nowrap;

    .image-profile {
      overflow: hidden;
      border-radius: 50%;
      width: $profile_size;
      height: $profile_size;

      img {
        width: 45px;
        height: 45px;
        aspect-ratio: 1 / 1;
      }
    }

    &>.information {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
      color: #fff;
      font-family: Manrope;

      &>.name {
        font-size: 16px;

        b {
          font-weight: 800;
        }
      }

      &>.position {
        display: flex;

        svg {
          width: 12px;
          fill: #fff;
        }

        &>span {
          margin-left: 5px;
          font-size: 13px;
        }
      }
    }
  }

  &>.notification {
    min-height: $profile_size;
    min-width: $profile_size;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: #fff;
      height: 20px;
    }

    &>.dot {
      width: 8px;
      height: 8px;
      background: red;
      border-radius: 50%;
      position: absolute;
      top: 14px;
      right: 13px;
    }
  }
}

.mbs {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.search {
  display: flex;
  height: 40px;
  overflow: hidden;
  border-radius: 7px;
  position: relative;

  .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    display: grid;
    place-items: center;

    svg {
      width: 16px;
      fill: #fff;
      opacity: 0.7;
    }
  }

  &>input {
    width: 100%;
    border-radius: 0;
    border: none;
    background: #282D39;
    color: #fff;
    padding-left: 10px;
    font-family: Manrope;

    &::placeholder {
      padding-left: 30px;
      color: #fff;
      opacity: 0.7;
    }
  }



  &>.btn {
    min-width: 40px;
    height: 40px;
    background: linear-gradient(135deg, #51B2FF 0%, #2672DA 95.83%);
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    place-items: center;

    svg {
      fill: #fff;
      height: 18px;
    }
  }
}

.swiper {
  border-radius: 7px;
  padding-bottom: 20px;

  .swiper-wrapper {
    .swiper-slide {
      &>.player {
        iframe{
          width: 100%;
          aspect-ratio: 16/9;
          position: absolute;
          z-index: 1;
        }
        video {
          aspect-ratio: 16/9;
          width: 100%;
          position: absolute;
          z-index: 1;
        }

      }

      &>.image-player {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &>.image-player>.btn {
        width: 50px;
        height: 50px;
        background: linear-gradient(135deg, #51B2FF 0%, #2672DA 95.83%);
        ;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        z-index: 2;
        svg {
          fill: #fff;
          width: 17.3px;
          transform: translateX(2px);
        }
      }

      img {
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 7px;
      }

      &>.data-content {
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-family: Manrope;
        margin-top: 10px;

        &>.raiting {
          display: flex;

          svg {
            width: 12px;
            margin-right: 10px;
            fill: #ffe600;
          }
        }
      }
    }
  }

  .swiper-pagination {
    bottom: 0;

    .swiper-pagination-bullet {
      background: #282B2F;
    }

    .swiper-pagination-bullet-active {
      background: #398BE0;
    }
  }
}

.w800 {
  width: 800px;
  margin-left: 20px;
  margin-right: 20px;
}

.hide{
  display: none;
}
@import './phone_menu';
@import './cards';

@media screen and (max-width:700px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width:700px) {
  .mobile {
    display: none;
  }
}