:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

html,
body {
    background: #101318;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

@import './phone_menu';
@import './cards';
@import './windowed';
@import './popup';

@import './list/collection';
@import './watch/reload';

.app {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100dvh;
    background: #101318;

    &>.wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 900px;

        @import './list/main';
        @import './list/content';
    }

    @media screen and (min-width: 900px) {
        &>.wrapper {
            margin: 0 auto;
        }
    }
}

.card-anime {
    .card-content {
        // aspect-ratio: auto !important;
        .score {
            position: absolute;
            right: 10px;
            top: 10px;
            height: 29px;
            width: 29px;
            background: linear-gradient(98.26deg, #51B2FF 0%, #2672DA 100%);
            backdrop-filter: blur(2px);
            border-radius: 3px;
            // padding: 4px 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-family: "Nova Square";
            font-size: 12px;
            z-index: 4;
        }
    }
}

body[data-orientation="0"]{
    .application-menu{
        transition: 0.3s ease-in-out;
        &.hide{
            transform: translateY(100%);
        }
    }
}

@import './list/window/filter';
@import './list/window/collection';
@import './list/window/anime';

@media screen and (max-width: 490px) {

    .anime-list,
    .list-anime,
    .anime-search-result {
        grid-template-columns: 1fr 1fr !important;
    }
}