$bg: #101318;

body {
    background: $bg;
    max-width: 900px;
    margin: 0 auto;
    min-height: 100vh;
    overflow-x: hidden;
    //overflow: hidden;
    display: flex;
}

h1 {
    font-family: 'Nova Square', cursive;
    color: #fff;
    font-size: 40px;
    margin-top: 50px;
}

h1.animation {
    font-weight: 400;
    line-height: 48px;
    margin-top: 0px;
}

span.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background: $bg;
    z-index: 99;
}

// Test new 
.wrapper {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 100%;
    height: calc(100vh - 40px);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 35px 1fr auto auto auto auto auto auto;

    header {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .btn {
            width: 35px;
            height: 35px;
            cursor: pointer;
            display: grid;
            place-items: center;

            svg {
                fill: #fff;
                opacity: .25;
            }
        }

        .back {
            svg {
                width: 17px;
            }
        }

        .mute {
            svg {
                width: 20px;
            }
        }
    }

    .icon-logo {
        display: flex;
        justify-content: center;
        overflow: hidden;
        align-items: center;
        
        img{
            height: calc(100% - 40px);
        }
    }

    h1 {
        text-align: center;
        display: grid;
        place-items: center;
        margin-top: 0;
    }

    p {
        margin-top: 20px;
        margin-bottom: 25px;
        font-family: 'Manrope';
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        color: #FFFFFF;
        display: grid;
        place-items: center;
    }

    a {
        font-family: 'Manrope';
        display: grid;
        place-items: center;
        color: #fff;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        height: 50px;

        &.primary {
            background: #5D72FB;
            margin-bottom: 10px;
        }

        &:not(.primary) {
            border: 1px solid rgba(255, 255, 255, 0.47);
        }
    }

    label {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Manrope';
        color: #fff;
        width: 100%;
        font-size: 11px;
        display: flex;
        align-items: center;
        position: relative;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            margin-right: 10px;
            display: grid;
            height: 16px;
            width: 16px;
            border-radius: 4px;
            border: 1px solid #5D72FB;
        }


        input:checked~.checkmark {
            background-color: #5D72FB;
        }
    }


    .help {
        color: rgba(255, 255, 255, 0.2);
        font-size: 11px;
        font-family: 'Manrope';
        width: 100%;
    }
}