:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: inherit;
}

body {
    background: #101318;
    overflow-x: hidden;
}

.btn {
    cursor: pointer;
}

.app-wrapper {
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: calc(100dvh - 10px);
    padding: 10px;
    padding-left: max(var(--sal), 10px);
    padding-right: max(var(--sar), 10px);
    gap: 10px;

    .content-container {
        flex: 1 0 0;
        gap: 10px;
        display: flex;
        flex-direction: column;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 10px;
            opacity: .25;

            .btn {
                width: 35px;
                height: 35px;
                display: grid;
                place-items: center;

                .ticon {
                    background-color: #fff;
                    height: 14px;
                }

                &.btn-back {
                    .ticon {
                        height: 16px;
                    }
                }
            }

            .title {
                color: #FFFFFF;
                font-size: 12px;
                font-weight: bold;
            }
        }

        .border-wrapper {
            $border: 2px;
            display: flex;
            flex: 1 0 0;
            background: linear-gradient(to top, #3689E8, #191C21 30%);
            padding: $border;
            border-radius: 10px;

            .content-wrapper {
                background: #191C21;
                border-radius: 8px;
                position: relative;
                display: flex;
                flex-direction: column;
                flex: 1 0 0;

                .bg-wrapper {
                    $size: 250px;
                    position: absolute;
                    inset: 0;
                    display: grid;
                    place-items: center;
                    border-radius: 10px;
                    overflow: hidden;
                    pointer-events: none;

                    .circle-b {
                        background: #3689E8;
                        bottom: calc(($size / 2) * -1);
                        position: absolute;
                        width: $size;
                        height: $size;
                        opacity: .6;
                        border-radius: 50%;
                        filter: blur(150px);
                        z-index: 1;
                    }
                }

                .wrapper {
                    $padding: 10px;
                    z-index: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 20px;
                    flex: 1 0 0;
                    padding: calc($padding - $border);

                    .m-title {
                        display: none;
                        font-size: 48px;
                        font-weight: 800;
                        text-align: center;
                        color: #FFFFFF;
                        z-index: 3;

                        span {
                            color: #3689E8;
                        }
                    }

                    .tun-content {
                        .text-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            &.-err {
                                .error {
                                    color: #e83636;
                                    text-align: center;
                                    font-weight: bold;
                                    font-size: 16px;
                                }

                                p {
                                    display: none;
                                }
                            }

                            .slogan {
                                font-size: 14px;
                                color: #FFFFFF;
                                text-align: center;
                                margin: 0 10px;
                            }
                        }

                        .btn-wrapper {
                            display: flex;
                            flex-direction: column;
                            gap: 3px;
                            margin-top: 20px;

                            .primary {
                                color: #FFFFFF;
                                background: #3689E8;
                                height: 50px;
                                display: flex;
                                place-items: center;
                                align-items: center;
                                justify-content: center;
                                flex-wrap: nowrap;
                                font-size: 14px;
                                font-weight: bold;
                                gap: 6px;
                                border-radius: 4px;

                                .ticon {
                                    height: 14px;
                                    background-color: #FFFFFF;
                                }
                            }

                            .btn-skip {
                                color: #FFFFFF;
                                opacity: .35;
                                height: 40px;
                                display: grid;
                                place-items: center;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        .help {
            color: #FFFFFF;
            opacity: .35;
            font-size: 12px;
            text-align: center;
            margin: 0 10px;
        }
    }

    .safe-zone {
        display: none;
    }
}

.app-auth {
    position: fixed;
    inset: 0;
    background: #161616;
    z-index: 300;
    padding: 20px 20px max(20px, env(safe-area-inset-bottom)) 20px;

    display: grid;
    grid-template-rows: 1fr auto;
    place-items: center;
    font-family: 'Manrope', sans-serif;
    transition: .3s ease-in-out;

    .process-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .m-title {
            color: #FFFFFF;
            font-weight: bold;
            font-size: 30px;

            span {
                color: #3689E8;
            }
        }

        .process-name {
            color: #FFFFFF;
            font-size: 14px;
        }
    }

    .process {

        /* From Uiverse.io by NlghtM4re */
        .loader {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            position: relative;
        }

        .loader:before {
            content: "";
            position: absolute;
            top: -10px;
            left: -10px;
            right: -10px;
            bottom: -10px;
            border-radius: 50%;
        }

        .loader-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .loader-block {
            display: inline-block;
            width: 8px;
            height: 10px;
            margin: 2px;
            background-color: rgb(53, 143, 246);
            box-shadow: 0 0 30px rgb(53, 143, 246);
            animation: loader 5s infinite;
        }

        .loader-block:nth-child(1) {
            animation-delay: 0.2s;
        }

        .loader-block:nth-child(2) {
            animation-delay: 0.4s;
        }

        .loader-block:nth-child(3) {
            animation-delay: 0.6s;
        }

        .loader-block:nth-child(4) {
            animation-delay: 0.8s;
        }

        .loader-block:nth-child(5) {
            animation-delay: 1s;
        }

        .loader-block:nth-child(6) {
            animation-delay: 1.2s;
        }

        .loader-block:nth-child(7) {
            animation-delay: 1.4s;
        }

        .loader-block:nth-child(8) {
            animation-delay: 1.6s;
        }

        .loader-block:nth-child(9) {
            animation-delay: 1.8s;
        }

        .loader-block:nth-child(10) {
            animation-delay: 2s;
        }

        .loader-block:nth-child(11) {
            animation-delay: 2.2s;
        }

        .loader-block:nth-child(12) {
            animation-delay: 2.4s;
        }

        .loader-block:nth-child(13) {
            animation-delay: 2.6s;
        }

        .loader-block:nth-child(14) {
            animation-delay: 2.8s;
        }

        .loader-block:nth-child(15) {
            animation-delay: 3s;
        }

        .loader-block:nth-child(16) {
            animation-delay: 3.2s;
        }

        .loader-block:nth-child(17) {
            animation-delay: 3.4s;
        }

        .loader-block:nth-child(18) {
            animation-delay: 3.6s;
        }

        .loader-block:nth-child(19) {
            animation-delay: 3.8s;
        }

        .loader-block:nth-child(20) {
            animation-delay: 4s;
        }

        .loader-block:nth-child(21) {
            animation-delay: 4.2s;
        }

        .loader-block:nth-child(22) {
            animation-delay: 4.4s;
        }

        .loader-block:nth-child(23) {
            animation-delay: 4.6s;
        }

        .loader-block:nth-child(24) {
            animation-delay: 4.8s;
        }

        @keyframes loader {
            0% {
                transform: scale(1);
                box-shadow: 0 0 40px rgb(53, 143, 246);
            }

            13% {
                transform: scale(1, 4);
                box-shadow: 0 0 60px rgb(53, 143, 246);
            }

            26% {
                transform: scale(1);
                box-shadow: 0 0 40px rgb(53, 143, 246);
            }
        }

    }

    &.-hide {
        opacity: 0;
        pointer-events: none;
    }
}

@import './login/icons';

.container {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-color: #101318;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}

.tun-wrapper {
    position: relative;
    height: 100%;
    background: #000;
    border-radius: 10px;
    overflow: hidden;

    .img-wrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        inset: 0;

        img {
            object-fit: cover;
            height: 100%;
        }
    }


    .glass {
        position: absolute;
        inset: 0;
        border: 1px solid #393a3d;
        border-radius: 9.5px;
        z-index: 3;
    }

    .title {
        font-size: 48px;
        font-weight: 800;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        inset: 0;
        // left: 0;
        // right: 0;
        // bottom: 40px;
        z-index: 3;
        display: grid;
        place-items: center;

        span {
            color: #3689E8;
        }
    }
}

@media (orientation: landscape) {
    .app-wrapper {
        margin: 0 auto;
        flex-direction: row;
        max-width: 1800px;

        .content-container {
            margin: 0 auto;

            .border-wrapper {
                padding: 0;
                background: none;

                .content-wrapper {
                    background: none;

                    .bg-wrapper {
                        display: none;
                    }

                    .wrapper {
                        align-items: center;
                        justify-content: center;

                        .m-title {
                            display: block;
                        }

                        .tun-wrapper {
                            display: none;
                        }

                        .tun-content {
                            .btn-wrapper {
                                .primary {
                                    min-width: 335px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .safe-zone {
            display: block;
            flex: 1 0 0;
            margin: 0 auto;
        }
    }
}