@font-face {
    font-family: 'Manrope';
    src: url('/style/fonts/Manrope.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('/style/fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: 'Nova Square';
    src: url('/style/fonts/NovaSquare.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

.unselectable {
    user-select: none;
}

.scroll-none {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

img {
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

a {
    text-decoration: none;
    user-select: none;
    -webkit-user-drag: none;
}