:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

html {
  scrollbar-width: none;
}


body {
    background: #101318;
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
    -webkit-text-size-adjust: none;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 auto;
    max-width: 900px;
    gap: 10px;

    padding-bottom: max(20px, var(--menu-height-safe));

    @media screen and (max-width: 940px) {
        margin: 20px max(10px, var(--sar)) 0 max(10px, var(--sal));
    }

    &.search {

        .main,
        footer {
            display: none;
        }
    }

    &.result {

        .main,
        footer {
            display: none;
        }
    }

    &.state-2 {

        .main,
        footer {
            display: none;
        }
    }

    &.state-1 {

        .results-wrapper,
        .main {
            display: none;
        }
    }
}

.main,
footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-title {
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;

    .ticon {
        background-color: #A4A4A4;
        height: 13px
    }

    span {
        font-weight: bold;
        color: #FFFFFF;
        font-size: 15px;
    }
}

header {
    @import './search/search_input';
}

.btn {
    cursor: pointer;
}

.v-list,
.results {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    @media screen and (min-width: 810px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.h-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.results-wrapper {
    position: relative;
    display: grid;
    gap: 10px;

    .info {
        margin: 0 10px;
        display: none;

        .genre {
            font-size: 14px;
            line-height: 22px;
            color: #FFFFFF;
            display: none;

            .sel {
                color: #2393F1;
            }
        }

        .studio {
            gap: 10px;
            display: none;

            .img-wrapper {
                width: 120px;
                height: 120px;
                overflow: clip;
                border-radius: 5px;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .content-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .title-wrapper {
                    .eng {
                        color: #F7D149;
                        font-weight: bold;
                        font-size: 16px;
                    }

                    .jp {
                        color: #A9AAAC;
                        font-size: 12px;
                        font-weight: bold;
                    }
                }

                .data {
                    display: flex;
                    flex-direction: column;
                    color: #A9AAAC;
                    font-weight: bold;
                    font-size: 12px;

                    .count {
                        transform: translateY(3px);
                    }
                }
            }
        }

        &.genre {
            display: block;

            .genre {
                display: block;
            }
        }

        &.studio {
            display: block;

            .studio {
                display: flex;
            }
        }
    }

    .end {
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        // overflow: clip;
        position: relative;

        .btn {
            position: relative;
            color: #2393F1;
            font-size: 14px;
            font-weight: bold;
            height: 40px;
            display: flex;
            place-items: center;

            span {
                opacity: .7;
            }

            img {
                position: absolute;
                width: 35px;
                pointer-events: none;
                left: -52px;
                bottom: -20px;
            }
        }

        &.hide {
            display: none;
        }
    }

    .empty {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        gap: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .btn {
            border: 1px solid #FFFFFF;
            width: 40px;
            height: 40px;
            display: grid;
            place-items: center;
            border-radius: 5px;
            opacity: .45;

            .ticon {
                background-color: #FFFFFF;
                height: 12px;
            }
        }

        .description {
            text-align: center;

            .title {
                font-size: 16px;
                font-weight: bold;
            }

            .help {
                opacity: .45;
                font-size: 14px;
            }
        }
    }

    .sentinel {
        position: absolute;
        height: 190px;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
    }

    &.state-0 {
        display: none;
    }

    &>.load-wrapper {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &.empty,
    &.load {
        height: calc(100dvh - (40px + 20px + 10px + var(--m-space) + var(--sab)));
    }

    &.load {
        .load-wrapper {
            display: flex;
        }
    }

    .info.genre~.empty,
    .info.studio~.empty {
        position: relative;
    }

    &.empty {
        grid-template-rows: auto 1fr;

        .results {
            display: none;
        }

        .empty {
            display: flex;
        }
    }
}

@import './search/seasons_list';
@import './search/genres_list';
@import './search/voices_list';
@import './search/studios_list';
@import './cards';

@import './windowed';
@import './search/w_filter';
@import './search/w_genres';
@import './search/w_season';

@import './search/icons';
@import './search/anime_loader';
@import './search/anime_card';

.card-anime {
    min-width: 195px;
}

body[angle="90"],
body[angle="270"] {
    @media screen and (max-width: 940px) {
        &[angle="90"] {
            padding-left: max(10px, var(--menu-width-safe), var(--sal));
        }

        &[angle="270"] {
            padding-right: max(10px, var(--menu-width-safe), var(--sar));
        }
    }
}