@import './phone_menu';

$bg: #101318;

body {
    background: $bg;
    max-width: 1100px;
    margin: 0 auto;
}

body.state_result,
body.state_focus,
body.state_search {
    .phone_menu {
        display: none;
    }
}

body.state_search {
    overflow-y: hidden;
}

.btn {
    overflow: hidden;
    min-width: 40px;
    height: 40px;
    background: linear-gradient(135deg, #51B2FF 0%, #2672DA 95.83%);
    display: grid;
    place-items: center;
    border-radius: 7px;
    cursor: pointer;
    transition: .3s ease-in-out;

    svg {
        height: 18px;
        fill: #fff;
    }
}

header,
main,
.common {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    font-family: Manrope;
}

main {
    flex-direction: column;
}

.scroll-none {
    &::-webkit-scrollbar {
        display: none;
    }
}

.search {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    width: 100%;

    .input-search {
        width: 100%;
        position: relative;
        display: flex;
        place-items: center;
        height: 40px;

        input {
            width: 100%;
            border-radius: 7px;
            height: 40px;
            border: none;
            background: #282D39;
            color: #fff;
            padding-left: 10px;
            font-family: Manrope;
            outline: none;

            &::placeholder {
                padding-left: 30px;
                color: #fff;
                opacity: 0.7;
                transition: .3s ease-in-out;
            }
        }

        .btn {
            position: absolute;
            right: 0;
            background: transparent;
            opacity: .7;
            transition: .3s ease-in-out;
            display: none;
        }

        .icon {
            position: absolute;
            left: 10px;
            display: flex;
            transition: .3s ease-in-out;

            svg {
                width: 16px;
                fill: #fff;
                opacity: 0.7;
            }
        }

        .filter-dub {
            display: none;
            align-items: center;
            font-size: 12px;
            position: absolute;
            left: 10px;
            border-radius: 3px;

            .pre {
                background: #5fbef3;
                color: #101318;
                padding: 2px 4px;
                font-weight: bold;
            }

            .dub {
                color: #fff;
                margin-left: 5px;
            }
        }

        &>input:focus {
            &::placeholder {
                padding-left: 0px;
            }
        }

        input:focus~.icon {
            opacity: 0;
        }

        input:not(:placeholder-shown)~.icon {
            opacity: 0;
        }

        &.dub-filter {
            input::placeholder {
                opacity: 0;
            }
            .filter-dub{
                display: flex;
            }
            .icon{
                display: none;
            }
        }
    }
}

.search.state_common {
    .btn-back {
        width: 0px;
        min-width: 0px;
        max-width: 0px;
        margin-right: 0;
    }
}

.search.state_focus {
    .btn-back {
        width: 40px;
        min-width: 40px;
        max-width: 40px;
        margin-right: 10px;
    }
}

.search.state_search {
    .btn-back {
        width: 40px;
        min-width: 40px;
        max-width: 40px;
        margin-right: 10px;
    }
}

.search.state_result {
    .btn-back {
        width: 40px;
        min-width: 40px;
        max-width: 40px;
        margin-right: 10px;
    }
}

main.state_common {
    .result {
        display: none;
    }

    .search--loading {
        max-height: 0px;
        overflow: hidden;
    }
}

main.state_focus {
    .recomend {
        max-height: 0px;
        overflow: hidden;
    }

    .genres,
    .voice {
        max-height: 0px;
        overflow: hidden;
    }

    .search--loading {
        max-height: 0px;
        overflow: hidden;
    }
}

main.state_search {

    .recomend,
    .history,
    .genres,
    .voice,
    .github {
        max-height: 0px;
        overflow: hidden;
    }
}

main.state_result {

    .recomend,
    .history,
    .genres,
    .voice {
        max-height: 0px;
        overflow: hidden;
    }

    .search--loading {
        max-height: 0px;
        overflow: hidden;
    }
}


.recomend {
    display: flex;
    width: 100%;
    color: #fff;
    transition: .3s ease-in-out;
    max-height: 400px;

    &>.title {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;

        .status {
            opacity: .4;
            font-size: 12px;
        }
    }

    .content {
        position: relative;
        display: flex;
        margin-top: 20px;
        min-height: 200px;
        width: 100%;
        max-width: 1100px;
        overflow-x: scroll;

        &>.loading {
            width: 100%;
            height: 305px;
            background: linear-gradient(135deg, #51b2ff 0%, #1f62be 95.83%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            animation: gradient 3s infinite linear;
            position: relative;
            border-radius: 7px;
            margin-left: 20px;
            margin-right: 20px;

            svg {
                width: 50px;
                fill: #fff;
                animation: rotate 3s ease-in-out infinite;
                position: relative;

            }

            h1 {
                font-size: 60px;
                opacity: .4;
            }

            h2 {
                font-size: 16px;
                text-align: center;
                opacity: .4;
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 10px;
            }
        }

        &>a {
            margin-right: 10px;

            &:nth-child(1) {
                margin-left: 20px;
            }

            &:empty {
                border-radius: 7px;
                display: flex;
                background: #fff;
                min-width: 191px;
                margin-right: 10px;
                height: 270px;
                opacity: .04;
                animation: loading 1.5s infinite;
            }

            &:last-child {
                padding-right: 20px;
            }
        }
    }
}

.genres,
.voice {
    max-height: 250px;
    transition: .3s ease-in-out;
}

.genres,
.voice {
    display: flex;

    .title {
        width: 100%;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        color: #fff;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        overflow-x: scroll;
        overflow-y: hidden;

        .block--1,
        .block--2,
        .block--3 {
            display: flex;
            margin-top: 10px;

            &>div:first-child {
                margin-left: 20px;
            }

            &>div:last-child {
                margin-right: 20px;
            }

            &>div {
                display: flex;
                color: #A9AAAC;
                background: #282B2F;
                align-items: center;
                border-radius: 5px;
                height: 35px;
                padding-left: 25px;
                white-space: nowrap;
                padding-right: 25px;
                margin-right: 10px;
                font-size: 16px;

                &.selected{
                    background: #18222F;
                }

                &>div {
                    color: #398BE0;
                    font-size: 12px;
                    margin-left: 10px;
                }
            }
        }
    }
}

.result {
    margin-right: 20px;
    margin-top: 20px;

    .content {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(191px, 1fr));
    }
}

.response-anime {
    overflow: hidden;
    font-family: Manrope;
    cursor: pointer;

    .preview {
        display: flex;
        height: 300px;
        justify-content: center;
        position: relative;
        overflow: hidden;
        border-radius: 3px;

        img {
            width: 100%;
        }

        .title {
            position: absolute;
            font-weight: bold;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            left: 0;
            right: 0;
            padding: 5px;
            text-align: center;
            color: #fff;
            font-size: 13px;
        }
    }

    .hor {
        img {
            width: auto;
            height: 100%;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;

        span.score {
            display: flex;
            align-items: center;

            svg {
                width: 10px;
                margin-right: 5px;
                fill: #FFE600;
            }
        }
    }
}

.github {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Manrope;
    margin-top: 50px;
    color: #404246;

    svg {
        height: 50px;
        fill: #404246;
    }

    .title {
        margin-top: 10px;
    }
}

.result {
    margin-left: 20px;
    color: #fff;
}

.history {
    display: flex;

    &>.title {
        width: 100%;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        color: #fff;
    }

    .content {
        margin-top: 10px;
        position: relative;
        display: flex;
        overflow-x: scroll;

        a {
            margin-right: 10px;

            &:empty {
                border-radius: 7px;
                display: flex;
                background: #fff;
                min-width: 191px;
                margin-right: 10px;
                height: 270px;
                opacity: .04;
                animation: loading 1.5s infinite;
            }

            &:nth-child(1) {
                margin-left: 20px;
            }
        }
    }
}

footer {
    margin-top: 110px;
}

@import './cards';

.card-anime {
    min-width: 195px;
    margin-right: 10px;
}

//Animation loading
.search--loading {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 0px;
    max-height: 300px;
    transition: .3s ease-in-out;
}

.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

//End animation loading

@media screen and (max-width: 500px) {
    .result {
        .content {
            grid-template-columns: 1fr 1fr;
        }
    }

    .response-anime {
        .preview {
            height: 240px;
        }
    }
}

@keyframes loading {
    0% {
        opacity: .04;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: .04;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}