$main_bg: #101318;

:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: inherit;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

body {
    background: $main_bg;
    -webkit-text-size-adjust: none;
    /* Запрещает автоматическое изменение размера текста */
    overflow-y: hidden;
}

.app-scrollable {
    width: 100dvw;
    height: 100dvh;
    max-height: 100dvh;
    max-width: 100dvw;
    overflow-y: scroll;

    .app-wrapper {
        max-width: 900px;
        margin: 0 auto;

        padding-bottom: max(20px, calc(var(--sab) + var(--m-space)));
        font-family: 'Manrope', sans-serif;
    }
}

@import "./settings/header";

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: var(--menu-height-safe);

    .block-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &>.title {
            color: #FFFFFF;
            margin: 0 30px;
            font-weight: bold;
            font-size: 16px;
        }

        .params-wrapper {
            display: flex;
            flex-direction: column;
            gap: 3px;
        }

        @import "./settings/engine/checkbox";
        @import "./settings/engine/valbuttons";
        @import "./settings/engine/img_select";
        @import "./settings/engine/button_tip";
        @import "./settings/engine/select_one";
        @import "./settings/engine/button";
        ;
    }
}

div[param] {
    transition: .3s ease-in-out;
    border: 0px solid rgba(35, 148, 241, 0.5);
}

.-search {
    border: 1px solid rgba(35, 148, 241, 0.5) !important;

    &.-current {
        border: 1px solid #2394f1 !important;
    }
}

@import "./settings/icons";
@import "./popup";

@import "./windowed";
@import "./settings/window/storage";
@import "./settings/window/selector";

.custom-element {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.i-ios-search {
    mask-image: url('data:image/svg+xml,<svg viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 4C8 6.20914 6.20914 8 4 8C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0C6.20914 0 8 1.79086 8 4ZM1.25895 4C1.25895 5.51384 2.48616 6.74105 4 6.74105C5.51384 6.74105 6.74105 5.51384 6.74105 4C6.74105 2.48616 5.51384 1.25895 4 1.25895C2.48616 1.25895 1.25895 2.48616 1.25895 4Z" fill="white"/><rect x="6.85144" y="5.7688" width="4.11406" height="1.63503" rx="0.817516" transform="rotate(45 6.85144 5.7688)" fill="white"/></svg>');
}

.i-pen {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M416.9 85.2L372 130.1L509.9 268L554.8 223.1C568.4 209.6 576 191.2 576 172C576 152.8 568.4 134.4 554.8 120.9L519.1 85.2C505.6 71.6 487.2 64 468 64C448.8 64 430.4 71.6 416.9 85.2zM338.1 164L122.9 379.1C112.2 389.8 104.4 403.2 100.3 417.8L64.9 545.6C62.6 553.9 64.9 562.9 71.1 569C77.3 575.1 86.2 577.5 94.5 575.2L222.3 539.7C236.9 535.6 250.2 527.9 261 517.1L476 301.9L338.1 164z"/></svg>');
}

body {
    &[angle="90"], &[angle="270"] {
        .app-wrapper {
            margin-right: var(--sar);
            margin-left: var(--sal);
        }
    }

    &[angle="90"]{
        .app-wrapper{
            margin-left: max(var(--sal), var(--menu-width-safe));
        }
    }

    &[angle="270"]{
        .app-wrapper{
            margin-right: max(var(--sar), var(--menu-width-safe));
        }
    }
}