$main_bg: #101318;

:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: inherit;
}

body {
    background: $main_bg;
    -webkit-text-size-adjust: none;
    /* Запрещает автоматическое изменение размера текста */
}

.app-wrapper {
    max-width: 900px;
    margin: 10px auto 0 auto;
    padding-bottom: max(20px, calc(var(--sab) + var(--m-space)));
    font-family: 'Manrope', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    margin: -10px 20px -10px 20px;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
    background: $main_bg;
    padding-bottom: 10px;
    padding-top: 10px;

    .profile-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .profile-link {
            .profile {
                display: flex;
                align-items: center;
                gap: 10px;
                background: #191C21;
                padding: 5px 10px 5px 5px;
                border-radius: 28px;

                img {
                    width: 50px;
                    border-radius: 50%
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    color: #FFFFFF;

                    .name {
                        font-weight: bold;
                        font-size: 16px;
                    }

                    span {
                        font-size: 14px;
                        opacity: .5;
                    }
                }

                .icon {
                    width: 30px;
                    height: 30px;
                    display: grid;
                    place-items: center;

                    .ticon {
                        height: 15px;
                        background-color: #FFFFFF;
                    }
                }
            }
        }

        .home {
            width: 50px;
            height: 50px;
            display: grid;
            place-items: center;

            .ticon {
                background-color: #FFFFFF;
                height: 16px;
            }
        }
    }

    .search-wrapper {
        $height: 45px;
        display: flex;
        gap: 5px;

        .search-input {
            position: relative;
            display: flex;
            flex: 1 0 0;

            .btn {
                position: absolute;
                right: 0;
                top: 0;
                transition: .5s cubic-bezier(0.29, -0.81, 0.42, 1.68);

                .ticon {
                    background-color: #A4A4A4;
                    height: 12px;
                }
            }

            .input-wrapper {
                --tag: 0px;
                display: flex;
                flex: 1 0 0;
                position: relative;
                align-items: center;
                background: #191c21;
                border-radius: 5px;
                overflow: clip;

                .tag {
                    display: flex;
                    background: #2393F1;
                    max-width: 300px;
                    gap: 5px;
                    align-items: center;
                    padding: 5px;
                    border-radius: 5px;
                    max-width: 110px;
                    margin-left: 5px;
                    cursor: pointer;

                    .ticon {
                        height: 13px;
                        opacity: .7;
                        background-color: #FFFFFF;
                        pointer-events: none;
                    }

                    .text {
                        font-size: 12px;
                        color: #FFFFFF;
                        font-weight: bold;
                        pointer-events: none;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            input {
                width: 100%;
                height: $height;
                border-radius: 5px;
                background: #191C21;
                color: #FFFFFF;
                border: none;
                outline: none;
                font-size: 14px;
                padding-left: 10px;

                &::placeholder {
                    font-weight: normal;
                }

                &:not(:placeholder-shown)~.btn-empty {
                    opacity: 1;
                    scale: 1;
                    pointer-events: all;
                }

                &:not(:placeholder-shown)~.btn-search {
                    opacity: 0;
                    scale: .8;
                    pointer-events: none;
                }
            }

            &.state-0 {
                .btn-empty {
                    pointer-events: none;
                    scale: .8;
                    opacity: 0;
                }
            }
        }

        .search-controls {
            display: grid;
            place-items: center;
            position: relative;

            &.state-1 {
                .btn-remove {
                    opacity: 1;
                    pointer-events: all;
                }

                .btn-filter {
                    opacity: 0;
                    pointer-events: none;
                }
            }

            .btn-remove {
                position: absolute;
                pointer-events: none;
                opacity: 0;

                .ticon {
                    height: 12px;
                }
            }
        }

        .btn {
            height: $height;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;

            .ticon {
                background-color: #A4A4A4;
            }

            &.btn-filter {
                .ticon {
                    height: 12px;
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

    .block-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &>.title {
            color: #FFFFFF;
            margin: 0 30px;
            font-weight: bold;
            font-size: 16px;
        }

        .params-wrapper {
            display: flex;
            flex-direction: column;
            gap: 3px;
        }

        @import "./settings/engine/checkbox";
        @import "./settings/engine/valbuttons";
        @import "./settings/engine/img_select";
        @import "./settings/engine/button_tip";
        @import "./settings/engine/select_one";
        @import "./settings/engine/button";
        ;
    }
}

div[param] {
    transition: .3s ease-in-out;
    border: 0px solid rgba(35, 148, 241, 0.5);
}

.-search {
    border: 1px solid rgba(35, 148, 241, 0.5) !important;

    &.-current {
        border: 1px solid #2394f1 !important;
    }
}

@import "./settings/icons";
@import "./phone_menu";
@import "./popup";

@import "./windowed";
@import "./settings/window/storage";
@import "./settings/window/selector";

body {
    &[data-orientation="90"] {
        .app-wrapper {
            margin-right: var(--sar);
        }
    }

    &[data-orientation="270"] {
        .app-wrapper {
            margin-left: var(--sal);
        }
    }
}