body,
html {
    background: #15171e;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

@mixin hide {
    &.hide {
        display: none;
    }
}

.wrapper-full {
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(16, 19, 24, 0.50);
    z-index: 900;
    place-items: center;

    .btn-play {
        width: 45px;
        height: 45px;
        display: grid;
        place-items: center;
        cursor: pointer;
        background: #51B2FF;
        border-radius: 3px;
        opacity: 0;
    }
}

.control-button {
    $size: 45px;
    display: grid;
    width: $size;
    height: $size;
    place-items: center;
    cursor: pointer;

    svg {
        fill: #fff;
        height: 16px;
    }
}

.wrapper-player {
    width: 100%;
    height: 100%;

    video {
        height: 100%;
        width: 100%;
    }

    .sliders {
        position: fixed;
        z-index: 40;
        left: 0;
        bottom: 50px;
        right: 0;
        display: none;

        .cur-slider {
            background: #5FBEF3;
            width: 0%;
            max-width: 100%;
            left: 0;

            .content {
                .pointer {
                    right: -29px;
                    top: -40px;
                    z-index: 21;

                    svg {
                        fill: #2672DA;
                    }
                }
            }
        }

        &.mouseenter {

            .cur-slider,
            .end-slider {
                .content {
                    .pointer {
                        display: block;
                    }
                }
            }
        }

        .cur-slider,
        .end-slider {
            position: absolute;
            height: 10px;
            display: flex;
            border-radius: 3px;

            .content {
                position: relative;
                width: 100%;

                .pointer {
                    display: none;
                    position: absolute;
                    padding: 20px;
                    cursor: pointer;

                    &.hide {
                        display: none;
                    }

                    &.mouseenter {
                        display: block;
                    }
                }
            }
        }

        .end-slider {
            background: #F35F5F;
            right: 0;
            max-width: 50%;
            width: 0%;

            .content {
                .pointer {
                    left: -29px;
                    top: -40px;
                    z-index: 20;

                    svg {
                        fill: #DA2626;
                    }
                }
            }
        }



        &.ct-moved {
            display: block;
        }

        &.st-controls {
            display: none;
        }
    }
}

.player-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 51;
    display: none;

    .controls {
        border-radius: 3px;
        background: #282A2E;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 50;

        .left-controls,
        .right-controls {
            display: flex;
            align-items: center;

            .btn-play-pause {
                position: relative;

                svg {
                    position: absolute;

                    &.pause {
                        opacity: 0;
                    }
                }
            }

            .video-timer {
                display: flex;
                font-family: Manrope;
                font-size: 13px;
                gap: 2px;
                cursor: default;

                .current-timve {
                    color: #FFF;
                }

                .del,
                .full-time {
                    color: rgba(255, 255, 255, 0.40);
                }
            }
        }
    }

    &.ct-moved {
        display: block;
    }

    &.st-controls {
        display: none;
    }
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #15171e;
    display: grid;
    place-items: center;
    z-index: 999;
}

.sk-folding-cube {
    position: absolute;
    width: 35px;
    height: 35px;
    transform: rotateZ(45deg);
    z-index: 9;
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    background-color: #51b2ff;
}

.sk-folding-cube .sk-cube1 {
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube3 {
    transform-origin: 0% 0%;
}

.sk-folding-cube .sk-cube4 {
    transform-origin: 0% 0%;
}