body,
html {
    background: #15171e;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

@mixin hide {
    &.hide {
        display: none;
    }
}

*::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

.container {
    position: relative;
    height: 100%;

    .wrapper {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        // background: #000;
        z-index: 9999;

        .info-panel {
            $height: 35px;

            height: $height;
            left: 0;
            right: 0;
            top: 0;
            background: #51B2FF;
            font-family: Manrope;
            color: #FFF;
            font-family: Manrope;
            font-size: 13px;
            font-weight: 700;

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 10px;
            padding-right: 10px;
            -webkit-text-size-adjust: none;

            @include hide;
        }

        .btn-play {
            $box: 40px;

            position: absolute;
            top: calc(50% - ($box / 2));
            left: calc(50% - ($box / 2));
            width: $box;
            height: $box;
            background: #51B2FF;
            display: grid;
            place-items: center;
            cursor: pointer;
            border-radius: 3px;
            opacity: 0;
        }
    }
}

video {
    height: 100%;
    width: 100%;
}

.controls {
    $height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: $height;
    display: flex;
    justify-content: space-between;
    transform: translateY($height);

    .btn {
        min-height: $height;
        max-height: $height;
        min-width: $height;
        max-width: $height;
        cursor: pointer;
        display: grid;
        place-items: center;

        svg {
            fill: #5a5a5a;
            width: 14px;
        }
    }

    .left-controls,
    .right-controls {
        display: flex;
    }

    .time-span {
        min-height: $height;
        max-height: $height;
        display: flex;
        align-items: center;
        font-family: Manrope;
        color: #5a5a5a;
        font-weight: bold;
        font-size: 12px;
    }
}

.fullscreen-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // display: none;

    .fk-cube {
        position: absolute;
        opacity: 0;

        svg {
            width: 15px;
            fill: red;
        }

        &1 {
            top: 10px;
            left: 10px;
        }

        &2 {
            right: 10px;
            top: 10px;
            transform: rotate(90deg);
        }

        &3{
            bottom: 10px;
            left: 10px;
            transform: rotate(270deg);
        }

        &4{
            bottom: 10px;
            right: 10px;
            transform: rotate(180deg);
        }
    }
}


.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #15171e;
    display: grid;
    place-items: center;
    z-index: 999;
}

.sk-folding-cube {
    position: absolute;
    width: 35px;
    height: 35px;
    transform: rotateZ(45deg);
    z-index: 9;
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    background-color: #51b2ff;
}

.sk-folding-cube .sk-cube1 {
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube3 {
    transform-origin: 0% 0%;
}

.sk-folding-cube .sk-cube4 {
    transform-origin: 0% 0%;
}