html,
body {
  height: 100%;
}

body {
  background: #101318;
}

header,
main,
footer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

header {

  //Button controls
  .account-controller {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;

    .left-panel,
    .right-panel {
      display: flex;
    }

    .btn-head {
      width: 35px;
      height: 35px;
      display: grid;
      place-items: center;
      cursor: pointer;

      &>svg {
        fill: #fff;
        opacity: .25;
        height: 18px;
      }
    }
  }

  .user-profile {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

    .top-content {
      display: flex;
      gap: 10px;

      .avatar {
        img {
          width: 73px;
          border-radius: 13px;
        }
      }

      .user-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-family: 'Manrope';
        color: #fff;

        .nikname {
          font-size: 20px;
          font-weight: bold;
        }

        .description {
          font-size: 10px;
          max-height: 45px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
    }

    .bottom-content {
      margin-top: 5px;

      .user-online {
        display: flex;
        justify-content: space-between;
        font-family: 'Manrope';
        font-size: 11px;
        color: #fff;
      }
    }
  }

  .user-anime-stat {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    gap: 5px;

    .planned,
    .dropped,
    .completed {
      display: flex;
      height: 22px;
      align-items: center;
      justify-content: center;
      font-family: 'Manrope';
      font-weight: bold;
      color: #fff;
      font-size: 11px;
      width: 100%;
      min-width: 25px;
      transition: .3s ease-in-out;
    }

    .planned {
      background: #327EE2;
      border-radius: 10px 0px 0px 10px;
    }

    .completed {
      background: #82ADE7;
    }

    .dropped {
      background: #A9A496;
      border-radius: 0px 10px 10px 0px;
    }
  }

  .user-anime-info {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Manrope';
    color: #fff;
    font-size: 11px;

    .point {
      display: flex;
      width: 10px;
      height: 10px;

      &.p-plan {
        background: #327EE2;
      }

      &.p-drop {
        background: #A9A496;
      }

      &.p-comp {
        background: #82ADE7;
      }
    }
  }
}

main {
  .title-block {
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
  }

  .top-anime-user {
    display: flex;
    margin-left: 20px;

    .content {
      position: relative;
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;
      min-height: 200px;
      width: 100%;
      overflow-x: scroll;
    }
  }

  .score-diagrams {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;

    .diagram {
      .panel {
        display: flex;
        background: #82ADE7;
        height: 0.5px;
        width: 100%;
      }

      .content {
        display: flex;
        justify-content: space-between;
        max-width: 500px;
        min-height: 60px;
        margin-left: auto;
        margin-right: auto;
        align-items: end;

        .line {
          border-radius: 2px 2px 0px 0px;
          display: flex;
          max-height: 60px;
          max-width: 10px;
          align-items: center;
          justify-content: center;
          position: relative;
          min-width: 10px;
          background: #327EE2;
          font-family: 'Manrope';
          transition: .3s ease-in-out;
          height: 0px;

          span.score {
            color: #FFFFFF;
            position: absolute;
            bottom: -20px;
            font-size: 11px;
            font-weight: bold;
            cursor: default;
          }
        }
      }
    }
  }

  .user-history {
    font-family: 'Manrope';
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;

    .block-history {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .mounth {
        font-family: 'Inter';
        font-size: 14px;
        color: #fff;
        margin-left: 10px;
        cursor: default;
        font-weight: bold;

        span{
          margin-left: 10px;
        }

        &:first-child {
          display: none;
        }
      }

      .block-date-data {
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-column-gap: 10px;

        .history-date {
          position: sticky;
          top: 0;
          cursor: default;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px;
          gap: 5px;
          align-self: flex-start;

          span.day {
            color: #fff;
            font-size: 14px;
            font-weight: bold;
          }

          span.mon {
            color: #fff;
            opacity: .25;
            font-size: 10px;
          }
        }

        .history-data {
          display: grid;
          width: 100%;
          gap: 10px;

          a {
            .block {
              width: 100%;
              display: flex;
              flex-direction: column;
              font-weight: bolder;
              color: #fff;
              border-radius: 4px;
              padding: 10px 0px 10px 10px;
              gap: 5px;
              background: rgba(40, 45, 57, 0.5);

              .anime-title {
                font-size: 16px;
              }

              .anime-event {
                font-size: 11px;
              }
            }
          }
        }

        &:nth-child(2) {
          .history-data {
            a:first-child {
              .block {
                background: radial-gradient(100% 100% at 0% 100%, rgba(10, 61, 131, 0.2) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(76.31deg, #57A6E9 19.59%, #3683E2 40.81%, #2672DF 80.41%);
              }
            }
          }
        }
      }
    }
  }
}

footer {
  padding-bottom: calc(env(safe-area-inset-bottom) + 61px);
}

.content-load {
  height: 200px;
  position: relative;

  .loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;

    .inner {
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      &.one {
        left: 0%;
        top: 0%;
        animation: rotate-one 1s linear infinite;
        border-bottom: 3px solid #efeffa;
      }

      &.two {
        right: 0%;
        top: 0%;
        animation: rotate-two 1s linear infinite;
        border-right: 3px solid #efeffa;
      }

      &.three {
        right: 0%;
        bottom: 0%;
        animation: rotate-three 1s linear infinite;
        border-top: 3px solid #efeffa;
      }
    }
  }
}


@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/*Animation*/
@keyframes loading {
  0% {
    opacity: .04;
  }

  50% {
    opacity: .4;
  }

  100% {
    opacity: .04;
  }
}

.card-anime {
  min-width: 195px;
  margin-right: 10px;
}

@import "./phone_menu";
@import "./cards";


@media screen and (max-width: 500px) {
  main {
    .score-diagrams {
      .diagram {
        .content {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}