html {
    scrollbar-width: none;
}

body {
    background: #101318;
    overflow-x: hidden;

    /* Запрещает автоматическое изменение размера текста */
    -webkit-text-size-adjust: none;

    @import "./user/loader";
    @import "./user/header";

    main {
        overflow-x: clip;
        margin-top: 10px;

        @import "./user/stats";
        @import "./user/favorites";

        @import "./user/achivements/franchises.finished";
        @import "./user/achivements/franchises.unfinished";

        @import "./user/history";
    }

    footer {
        display: flex;
        margin-top: max(20px, var(--menu-height-safe));
        margin-left: max(20px, env(safe-area-inset-left));
        margin-right: max(20px, env(safe-area-inset-right));
    }
}

@import './cards';
@import './popup';
@import './windowed';

@import './user/window/anime';

@import "./user/friends";
@import './user/window/friends';

.card-anime {
    min-width: 195px;
}