@import './windowed';

.verify-action {
    .window-content {
        max-height: calc(100dvh - env(safe-area-inset-top));
        height: 100dvh;
        border-radius: 0px;
        overflow-y: hidden;

        .content-wrapper {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto 1fr auto;
            height: 100%;

            .verify-task-wrapper {
                display: flex;
                justify-content: center;

                .verify-task {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background: #191C21;
                    padding: 10px 20px 10px 10px;
                    border-radius: 30px;
                    transform: translateY(-100px);
                    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                    cursor: pointer;
                    border: .2px solid rgba(255, 255, 255, 0.1);

                    .icon {
                        $size: 40px;
                        width: $size;
                        height: $size;
                        display: grid;
                        place-items: center;
                        background: #14171B;
                        border-radius: 50%;

                        .ticon {
                            background-color: #FFFFFF;
                            height: 14px;
                        }
                    }

                    .content {
                        .title {
                            font-size: 14px;
                            font-weight: bold;
                        }

                        .description {
                            font-size: 10px;
                            color: #ffffff;
                            opacity: .3;
                        }
                    }
                }

                &.-show {
                    .verify-task {
                        transform: translateY(0px);
                    }
                }
            }

            .verify-image-wrapper {
                display: grid;
                place-items: center;

                .verify-image {
                    overflow: hidden;
                    border: .2px solid rgba(98, 98, 98, 0.5);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 100%;

                    img {
                        aspect-ratio: 11/11;
                        object-fit: cover;
                    }
                }
            }

            .access-footer {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .detail {
                    font-size: 14px;
                    font-weight: bold;
                    color: #FFFFFF;
                    opacity: .3;
                    text-align: center;
                    max-width: 500px;
                    width: 100%;
                    margin: 0 auto 10px auto;
                }
            }

            .access-swiper {
                background: #191C21;
                border-radius: 5px;
                position: relative;
                display: flex;
                padding: 6px;
                max-width: 500px;
                width: 100%;
                margin: 0 auto;
                border: .2px solid rgba(255, 255, 255, 0.1);

                span {
                    position: absolute;
                    inset: 0;
                    display: grid;
                    place-items: center;
                    text-transform: uppercase;
                    font-size: 11px;
                    font-weight: bold;
                    pointer-events: none;
                    z-index: 1;
                }

                .pin {
                    background: #3587E6;
                    width: 65px;
                    display: grid;
                    place-items: center;
                    border-radius: 3px;
                    height: 45px;
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                    border: .2px solid rgba(255, 255, 255, 0.1);

                    .ticon {
                        background-color: #FFFFFF;
                        height: 20px;
                    }
                }
            }

            .btn {
                cursor: pointer;
                height: 50px;
                display: grid;
                place-items: center;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: bold;
                opacity: .3;
            }
        }
    }
}

@media screen and (max-height: 720px) {
    .verify-action .window-content .content-wrapper .verify-image-wrapper {
        display: none;
    }
    .verify-action .window-content .content-wrapper{
        place-items: center;
    }
}

.i-angles-right {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/></svg>');
}