html,
body {
    scrollbar-gutter: stable;
    /* Запрещает автоматическое изменение размера текста */
    -webkit-text-size-adjust: none;
}

body {
    background: #101318;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    &.loading {
        overflow: hidden !important;
    }
}

@import './watch/pageloading';

header {
    width: 100%;
    overflow-x: hidden;
    margin-top: 20px;
    overflow: hidden;
    display: flex;

    .preview {
        position: relative;
        max-width: 370px;
        width: 100%;
        overflow: hidden;

        .preview-wrapper {

            display: flex;
            justify-content: center;
            align-items: center;

            img.main {
                width: 100%;
                min-width: 370px;
                z-index: 1;
                position: relative;
            }

            .bg-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            img.bg {
                filter: blur(5px);
                width: 150%;
            }
        }

        .schape {
            position: absolute;
            bottom: 0px;
            z-index: 14;
            display: flex;

            &-l {
                left: 0;

                .btn {
                    left: 5px;
                }
            }

            &-r {
                right: 0;

                .btn {
                    right: 5px;
                }
            }

            .btn {
                position: absolute;
                width: 59px;
                height: 59px;
                display: grid;
                place-items: center;
                z-index: 14;
                bottom: 5px;

                svg {
                    fill: #fff;
                    width: 20px;
                }
            }

            svg {
                fill: #101318;
            }
        }

        .btn-back {
            width: 35px;
            height: 35px;
            cursor: pointer;
            background: rgba(133, 133, 133, 0.8);
            position: absolute;
            z-index: 15;
            top: 20px;
            left: 20px;
            backdrop-filter: blur(2px);
            border-radius: 5px;
            display: grid;
            place-items: center;

            svg {
                height: 12px;
            }
        }

        .btn-play {
            position: absolute;
            z-index: 11;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: grid;
            place-items: center;

            .btn {
                $size: 60px;
                border-radius: 50%;
                display: grid;
                place-items: center;
                position: relative;
                background: linear-gradient(180deg, #2296f0 0%, #287bf1 100%);
                max-width: $size;
                max-height: $size;
                width: 100%;
                height: 100%;

                .wrapper-play {
                    $size: 25px;
                    max-width: $size;
                    max-height: $size;
                    border-radius: 50%;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    .wrapper-icon {
                        position: absolute;
                        display: flex;
                        top: 1.17px;
                        left: 3.51px;
                        bottom: 1.17px;
                        right: 0.78px;

                        svg {
                            height: 100%;
                        }
                    }
                }
            }
        }

        .anime-status {
            font-family: 'Manrope';
            position: absolute;
            z-index: 15;
            top: 20px;
            right: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .cur-status {
                display: flex;
                cursor: pointer;

                .more-status {
                    background: rgba(164, 164, 164, 0.5);
                    backdrop-filter: blur(2px);
                    /* Note: backdrop-filter has minimal browser support */
                    border-radius: 5px 0px 0px 5px;
                    width: 18px;
                    height: 35px;
                    display: grid;
                    place-items: center;

                    svg {
                        height: 10px;
                    }
                }

                .icon {
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(133, 133, 133, 0.8);
                    border-radius: 0px 5px 5px 0px;

                    .safe-area {
                        min-width: 35px;
                        max-width: 35px;
                        min-height: 35px;
                        max-height: 35px;
                        width: 100%;
                        height: 100%;
                        display: grid;
                        place-items: center;

                        svg {
                            height: 15px;
                            fill: #fff;
                        }
                    }

                    &>.text {
                        max-width: 0px;
                        overflow: hidden;
                        transition: 0.3s ease-in-out;
                        font-size: 12px;
                        color: #fff;
                    }

                    &.selected {
                        background: linear-gradient(180deg, #2296F0 0%, #287BF1 100%);
                    }
                }
            }

            .select {
                .more-status {
                    background: linear-gradient(180deg, #2296f0 0%, #287bf1 100%);
                }

                .icon {
                    background: linear-gradient(180deg, #2296f0 0%, #287bf1 100%);
                }
            }

            .list-status {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                transition: 0.3s ease-in-out;
                max-height: 0px;
                overflow: hidden;

                &>.hide {
                    display: none;
                    max-height: 0px;
                    overflow: hidden;
                }

                &>.status {
                    &:first-child {
                        border-radius: 3px 3px 0 0;
                    }

                    background: rgba(133, 133, 133, 0.8);
                    width: 100%;
                    display: flex;
                    height: 35px;
                    align-items: center;
                    justify-content: flex-start;
                    cursor: pointer;

                    .safe-area {
                        min-width: 35px;
                        max-width: 35px;
                        min-height: 35px;
                        max-height: 35px;
                        width: 100%;
                        height: 100%;
                        display: grid;
                        place-items: center;

                        svg {
                            height: 15px;
                            fill: #fff;
                        }
                    }

                    &>.text {
                        overflow: hidden;
                        transition: 0.3s ease-in-out;
                        font-size: 12px;
                        color: #fff;
                        margin-right: 10px;
                    }

                    &:last-child {
                        border-radius: 0 0 3px 3px;
                    }
                }
            }
        }

        .show-more {
            .cur-status {
                .more-status {
                    svg {
                        transform: scale(-1, 1);
                    }
                }

                .icon {
                    &>.text {
                        max-width: 120px;
                        margin-right: 10px;
                    }
                }
            }

            .list-status {
                max-height: 200px;
            }
        }
    }

    .content {
        font-family: 'Manrope';
        overflow: hidden;
        width: 100%;

        .title-with-raiting {
            margin-left: 20px;
            margin-right: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                margin-right: 10px;

                .russian {
                    color: #fff;
                    font-weight: bold;
                    font-size: 18px;
                }

                .name {
                    color: #fff;
                    opacity: 0.5;
                    font-size: 11px;
                }
            }

            .raiting {
                display: flex;
                color: #fff;
                font-weight: bold;
                align-items: center;

                svg {
                    height: 14px;
                    margin-right: 10px;
                    fill: #5fbef3;
                }
            }
        }

        .genres {
            display: flex;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
            overflow-x: auto;
            gap: 10px;

            a {
                color: #5fbef3;
                border: 1px solid #5fbef3;
                height: 30px;
                padding: 0 10px;
                display: flex;
                align-items: center;
                border-radius: 5px;
                white-space: nowrap;
                font-size: 12px;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            background: #191C21;
            margin-top: 20px;

            .block {
                padding: 10px 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                font-weight: bold;
                color: #fff;

                .content-a {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .icon {
                        $size: 30px;
                        background: #101318;
                        width: $size;
                        height: $size;
                        display: grid;
                        place-items: center;
                        border-radius: 2px;

                        svg {
                            fill: #fff;
                            width: 15px;
                        }
                    }
                }

                .content-b {
                    .ep {
                        opacity: 0.20;
                    }

                    .pg {
                        padding: 3px 7px;
                        background: #F7D149;
                        border-radius: 3px;
                        color: #161616;
                    }
                }
            }
        }

        &>.title {
            font-size: 18px;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            font-weight: bold;
            color: #fff;
        }

        .gallery {
            margin-left: 0px;
            margin-top: 10px;
            margin-left: 20px;

            .galery-slider {
                display: flex;
                overflow-x: auto;
                gap: 10px;

                .slide {
                    position: relative;
                    display: flex;

                    img {
                        height: 150px;
                        border-radius: 3px;
                    }

                    &:last-child {
                        padding-right: 20px;
                    }

                    $select-color: #5FBEF3;

                    .selected {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border: 2px solid $select-color;
                        border-radius: 3px;

                        .sel-icon {
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: $select-color;
                            border-radius: 0px 0px 3px 0px;
                            display: flex;
                            padding: 6px 5px 5px 6px;

                            svg {
                                width: 12px;
                                // mix-blend-mode: color;
                                fill: #191c21;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    font-family: 'Manrope';
    background: #101318;
    position: relative;
    z-index: 1;
    padding-top: 20px;

    &>.title {
        font-size: 18px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: bold;
        color: #fff;

        &:first-child {
            margin-top: 0;
        }

        &.count {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .count {
                font-size: 12px;
                color: #596271;
            }
        }
    }

    .description {
        color: #fff;
        opacity: 0.8;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        line-height: 150%;
        font-size: 14px;

        a {
            color: #98d4fd;
            font-size: 14px;
        }
    }

    .hero-anime {
        margin-top: 20px;
        overflow: hidden;
        overflow-x: auto;

        .val {
            display: inline-flex;
            gap: 10px;

            a {
                overflow: hidden;
                width: 125px;
                height: 195px;
                position: relative;
                display: flex;
                border-radius: 4px;

                img {
                    width: 100%;
                    top: 0;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                }

                .hero {
                    width: 100%;
                    display: grid;
                    place-items: center;
                    padding: 10px 0px;
                    background: rgba(16, 19, 24, 0.70);
                    backdrop-filter: blur(2.5px);
                    position: absolute;
                    bottom: 0;

                    .name {
                        color: #FFF;
                        text-align: center;
                        font-family: Manrope;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }

            a:first-child {
                margin-left: 20px;
            }

            a:last-child {
                margin-right: 20px;
            }
        }
    }

    .player-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .player-controls {
            display: flex;
            gap: 5px;
            border-radius: 3px;
            overflow: hidden;

            .btn {
                $size: 35px;
                width: $size;
                height: $size;
                display: grid;
                place-items: center;
                background: #191C21;
            }
        }
    }
}

.spotify {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.episodes {
    margin: 20px 20px 10px 20px;
    overflow: hidden;
    overflow-x: auto;
    border-radius: 3px;

    &>.value {
        display: inline-flex;
        background: #15171e;
        border-radius: 3px;
        width: auto;
        position: relative;

        &>.sel {
            position: absolute;
            width: 55px;
            height: 70px;
            background: #5fbef3;
            margin: 3px;
            border-radius: 3px;
            z-index: 1;
        }

        &>.episode {
            margin: 3px;
            width: 55px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Manrope, serif;
            font-weight: bold;
            color: #555657;
            z-index: 2;
            position: relative;
            flex-direction: column;
            cursor: pointer;

            &>.ep-name {
                font-size: 11px;
                margin-top: 5px;
            }
        }
    }
}

.player {
    display: flex;

    iframe {
        width: 100%;
        aspect-ratio: 16 / 10;
        display: flex;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    &.fullscreen {
        aspect-ratio: 16 / 10;
        width: 100%;

        iframe {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 999;
            margin: 0;
            aspect-ratio: auto;
            height: 100%;
        }
    }
}

//Кнопка открытия окна выбор озвучки
.translations-wrapper {
    margin: 20px 20px 0 20px;
    background: #191C21;
    color: #020202;
    overflow: hidden;
    border-radius: 3px;
    display: flex;

    .button-translation {
        display: flex;
        flex: 1 0 0;
        cursor: pointer;
        background: #5FBEF3;
        box-shadow: 2px 0px 0px 0px rgba(95, 190, 243, 10%);
        border-radius: 0px 3px 3px 0px;

        .current-translation {
            display: flex;
            height: 45px;
            padding-left: 10px;
            align-items: center;
            gap: 10px;
            flex: 1 0 0;

            svg {
                height: 13px;
                fill: #020202;
            }

            span {
                color: #020202;
                font-family: Manrope;
                font-size: 15px;
                font-weight: 700;
            }
        }

        .count-current-translation {
            display: grid;
            place-items: center;
            min-width: 45px;
            min-height: 45px;
            max-width: 45px;
            max-height: 45px;
            color: #020202;
            font-family: Manrope;
            font-size: 15px;
            font-weight: 400;
        }
    }

    .button-stars {
        display: grid;
        place-items: center;
        min-width: 45px;
        min-height: 45px;
        max-width: 45px;
        max-height: 45px;
        cursor: pointer;

        svg {
            fill: #fff;
            width: 14px;
        }

        .selected {
            display: none;
            fill: #5FBEF3;
        }
    }

    .button-stars.selected {
        .selected {
            display: block;
        }

        .unselected {
            display: none;
        }
    }
}

.similiar-anime {
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;

    a:first-child {
        margin-left: 20px;
    }

    a:last-child {
        .card-anime {
            margin-right: 20px;
        }
    }
}


.btn {
    cursor: pointer;
}

.hide {
    display: none;
}

.screen-wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background: #101318;
    position: sticky;
    z-index: 1;
    padding: 20px;
    font-family: "Manrope";

    .studio {
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;

        span {
            font-size: 15px;
            opacity: 0.5;
        }
    }
}

@import './cards';
@import './windowed';
@import './window/translation';
@import './watch/score';
@import './watch/collection';
@import './watch/download';
@import './watch/franchise';
@import './popup';
@import './watch/reload';

.card-anime {
    min-width: 195px;
    margin-right: 10px;
}

@media screen and (max-width:920px) {

    header {
        .mr-20 {
            margin-right: 20px;
        }
    }

    @media (orientation: landscape) {
        header {
            margin-top: 20px;
        }
    }
}

#center-player {
    display: none;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    #center-player {
        display: grid;
    }

    .landscape-player {
        display: flex;

        .player {
            width: 100%;
            max-height: calc(100vh - 20px);

            iframe {
                margin: 0;
            }
        }

        &.reverse-left {
            margin: 10px 20px 0 20px;

            .episodes {
                margin: 0;
                margin-right: 20px;
                min-width: calc(55px + 6px);

                .value {
                    display: flex;
                    flex-direction: column;
                    max-height: calc(100vh - 20px);
                    overflow-x: hidden;
                    overflow-y: visible;

                    .episode {
                        min-width: 55px;
                        max-width: 55px;
                        min-height: 70px;
                        max-height: 70px;
                    }
                }
            }
        }

        &.reverse-top {
            flex-direction: column;

            .player {
                iframe {
                    margin-top: 10px;
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }

        &.reverse-right {
            flex-direction: row-reverse;
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 20px;

            .episodes {
                margin: 0;
                margin-right: 0;
                margin-left: 20px;
                min-width: calc(55px + 6px);

                .value {
                    display: flex;
                    flex-direction: column;
                    max-height: calc(100vh - 20px);
                    overflow-x: hidden;
                    overflow-y: visible;

                    .episode {
                        min-width: 55px;
                        max-width: 55px;
                        min-height: 70px;
                        max-height: 70px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:650px) {
    header {
        flex-direction: column;
        margin-top: 0;

        .preview {
            margin-left: 0;
            max-width: none;
            height: 528px;
            display: flex;
            align-items: center;
            justify-content: center;

            .preview-wrapper {
                img.main {
                    position: fixed;
                    top: 0;
                    left: 0;
                }
            }
        }

        .content {
            padding-top: 20px;
            z-index: 1;
            background: #101318;
        }
    }
}