html,
body {
    scrollbar-width: none;
    /* Запрещает автоматическое изменение размера текста */
    -webkit-text-size-adjust: none;
}

body {
    --easy: linear(0, 0.0134, 0.0503, 0.1058, 0.1755, 0.2552, 0.3413, 0.4304, 0.5197, 0.6068, 0.69, 0.7676, 0.8385, 0.902, 0.9576, 1.0053, 1.045, 1.077, 1.1018, 1.1198, 1.1318, 1.1384, 1.1404, 1.1383, 1.133, 1.1251, 1.1152, 1.104, 1.0919, 1.0794, 1.0669, 1.0546, 1.043, 1.0321, 1.0222, 1.0134, 1.0056, 0.999, 0.9935, 0.989, 0.9856, 0.9831, 0.9814, 0.9805, 0.9803, 0.9806, 0.9814, 0.9825, 0.9839, 0.9855, 0.9872, 0.9889, 0.9907, 0.9924, 0.994, 0.9956, 0.9969, 0.9982, 0.9993, 1.0002, 1.001, 1.0016, 1.002, 1.0024, 1.0026, 1.0027, 1.0028, 1.0027, 1.0026, 1.0024, 1.0023, 1.002, 1.0018, 1.0015, 1.0013, 1.0011, 1.0008, 1.0006, 1.0004, 1.0002, 1.0001, 1, 0.9999, 0.9998, 0.9997, 0.9997, 0.9996, 0.9996, 0.9996, 0.9996, 0.9996, 0.9997, 0.9997, 0.9997, 0.9998, 0.9998, 0.9998, 0.9999, 0.9999, 0.9999, 1);

    background: #101318;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    &.loading {
        overflow: hidden !important;
    }
}


.btn {
    cursor: pointer;
}

.hide {
    display: none;
}

.screen-wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

@import './watch/pageloading';
@import './watch/header';

main {
    font-family: 'Manrope';
    background: #101318;
    position: relative;
    z-index: 1;
    padding-top: 20px;

    @import './watch/main';

    @include Title();
    @include ADescription();
    @include AHero();

    @import "./watch/player";

    @include PTitle();

    
    @include Episode();
    @include Player();
    @include Dubs();
    
    @include ASimiliar();
}

@import './cards';
@import './watch/roomstats';
@import './watch/chronology';

footer {
    background: #101318;
    position: sticky;
    z-index: 1;
    padding: 20px;
    font-family: "Manrope";
    
    .studio {
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        
        span {
            font-size: 15px;
            opacity: 0.5;
        }
    }
}

@import './windowed';

@import './watch/score';
@import './watch/collection';
@import './watch/download';
@import './watch/reload';
// @import './popup';

.card-anime {
    min-width: 195px;
}

@media screen and (max-width:920px) {

    header {
        .mr-20 {
            margin-right: 20px;
        }
    }

    @media (orientation: landscape) {
        header {
            margin-top: 20px;
        }
    }
}

#center-player {
    display: none;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    #center-player {
        display: flex;
    }

    .id-center-player {
        display: block !important;
    }
}

@media screen and (max-width:650px) {
    header {
        flex-direction: column;
        margin-top: 0;

        .preview {
            margin-left: 0;
            max-width: none;
            height: 528px;
            display: flex;
            align-items: center;
            justify-content: center;

            .preview-wrapper {
                img.main {
                    position: fixed;
                    top: 0;
                    left: 0;
                }
            }
        }

        .content {
            padding-top: 20px;
            z-index: 1;
            background: #101318;
        }
    }
}