header {
    font-family: 'Manrope', sans-serif;
    $border: 3px;

    .header-image {

        position: relative;
        // top: 0;
        width: 100%;
        height: 300px;
        background: var(--bg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: $border;
        border-bottom: $border solid #2393F1;

        width: 100%;
        // padding-top: (31 / 65) * 100%;
        max-height: 300px;

        .btn {
            $size: 36px;

            box-sizing: border-box;
            position: absolute;
            right: 10px;
            top: 10px;

            width: $size;
            height: $size;

            background: rgba(25, 28, 33, 0.1);
            cursor: pointer;

            display: none;
            place-items: center;
            border-radius: 50%;

            .ticon {
                transition: .3s ease-in-out;
                background-color: rgba(255, 255, 255, 0.5);
                height: 18px;

                &.i-circle-notch {
                    background-color: #2393F1;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
            }

            &.-update {
                .ticon.i-pencil {
                    opacity: 0;
                }

                .ticon.i-circle-notch {
                    opacity: 1;
                    animation: 1s linear infinite rotate;
                }
            }
        }
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 900px;
        margin: 0 auto;
        margin-top: -40px;
        position: relative;

        .profile-wrapper {
            display: flex;
            gap: 10px;

            .profile-avatar-wrapper {
                display: flex;

                .profile-avatar {
                    border: 3px solid #2393F1;
                    border-radius: 18px;
                    display: grid;
                    overflow: hidden;

                    img {
                        width: 90px;
                        height: 90px;
                        aspect-ratio: 1/1;
                    }
                }
            }

            .profile-controls-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: $border;
                margin-top: $border;
                flex: 1 0 0;

                .profile-tag-wrapper {
                    display: flex;
                    gap: 6px;

                    .profile-tag {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        padding: 4px 10px;
                        border: 0.5px solid rgba(255, 255, 255, 0.4);
                        border-radius: 25px;
                        background: rgba(25, 28, 33, 0.8);
                        color: #FFFFFFFF;
                        font-size: 12px;
                        font-weight: 900;
                        text-wrap: nowrap;

                        .ticon {
                            height: 15px;
                        }

                        &.-dev {
                            background: #FFD700;
                            border: 0.5px solid #FFE600;
                            color: #191C21;
                            text-transform: uppercase;

                            .ticon {
                                background-color: #191C21;
                            }
                        }

                        &.-user {
                            background: #2393F1;
                            border: 0.2px solid rgba(255, 255, 255, 0.4);
                            color: #FFFFFF;
                            text-transform: uppercase;

                            .ticon {
                                background-color: #FFFFFF;
                            }
                        }
                    }
                }

                .profile-info-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    .profile-text-wrapper {
                        display: grid;

                        .profile-nickname {
                            font-size: 24px;
                            color: #FFFFFFFF;
                            font-weight: bold;
                            margin-bottom: -6px;

                            //Collapce 
                            display: block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            width: 100%;
                        }

                        .profile-description {
                            display: flex;
                            font-size: 13px;
                            color: rgb(129, 129, 129);
                            font-weight: bold;
                        }
                    }

                    .profile-controls {
                        .quick-panel {
                            display: flex;
                            gap: 5px;
                            padding: 5px;
                            justify-content: end;
                            background: rgba(0, 0, 0, 0.2);
                            border-radius: 27px;
                            backdrop-filter: blur(10px);
                            box-sizing: border-box;

                            .btn {
                                padding: 0 9px;
                                height: 40px;
                                width: 40px;
                                border-radius: 20px;
                                display: grid;
                                place-items: center;
                                background: #191C21;
                                border: 0.2px solid rgba(255, 255, 255, 0.2);
                                transition: 0.1s ease-in-out;
                                box-sizing: border-box;
                                gap: 5px;
                                cursor: pointer;
                                position: relative;

                                .ticon {
                                    height: 16px;
                                    background-color: #FFFFFF;

                                    &.-usr {
                                        position: absolute;
                                        height: 18px;
                                        display: none;
                                    }

                                    &.i-circle-notch {
                                        animation: 1s linear infinite rotate;
                                        transition: .3s ease-in-out;
                                        background-color: #2393F1;
                                        scale: 0.9;
                                        height: 20px;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        opacity: 0;
                                    }
                                }

                                &.-usr-true,
                                &.-usr-false {
                                    .i-gear {
                                        display: none;
                                    }
                                }

                                &.-usr-true {
                                    .i-user-minus {
                                        display: block;
                                    }
                                }

                                &.-usr-false {
                                    .i-user-plus {
                                        display: block;
                                    }
                                }

                                &.-load {
                                    .ticon {
                                        transition: .3s ease-in-out;
                                        scale: 0.95;
                                        opacity: 0 !important;

                                        &.i-circle-notch {
                                            scale: 1;
                                            opacity: 1 !important;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

        .profile-level {
            display: flex;
            gap: 10px;
            // gap: 5px;
        }

        .profile-current-level-wrapper {
            display: grid;
            position: relative;
            place-items: center;

            .profile-current-level {
                position: absolute;
                color: #FFFFFF;
                font-weight: 900;
                font-size: 16px;
            }
        }

        .profile-level-progress-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            gap: 5px;

            .level-promotion {
                color: #87898B;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: normal;
            }

            .level-next-wrapper {
                display: flex;
                justify-content: space-between;

                .current-progress,
                .next-level {
                    font-weight: 900;
                    font-size: 11px;
                    color: #CFD0D1;
                }
            }

            .level-progress-bar {
                width: 100%;
                display: flex;
                border-radius: 8px;
                background: rgba(35, 148, 241, 0.25);
                box-sizing: border-box;
                overflow: hidden;
                padding: 4px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

                &>.progress {
                    height: 4px;
                    display: flex;
                    background: #2393F1;
                    border-radius: 8px;
                    width: 50%;
                }
            }
        }

        @media screen and (max-width:940px) {
            & {
                margin-left: 20px !important;
                margin-right: 20px !important;
            }
        }
    }
}

.i-brush {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M290.4 70C288.9 66.4 285.4 64 281.5 64L262.5 64C258.6 64 255 66.4 253.6 70L232.9 121.7C229.7 129.7 218.3 129.7 215.1 121.7L194.4 70C192.9 66.4 189.4 64 185.5 64L176 64C149.5 64 128 85.5 128 112L128 320L512 320L512 112C512 85.5 490.5 64 464 64L358.5 64C354.6 64 351 66.4 349.6 70L328.9 121.7C325.7 129.7 314.3 129.7 311.1 121.7L290.4 70zM128 368L128 384C128 419.3 156.7 448 192 448L256 448L256 512C256 547.3 284.7 576 320 576C355.3 576 384 547.3 384 512L384 448L448 448C483.3 448 512 419.3 512 384L512 368L128 368zM320 528C311.2 528 304 520.8 304 512C304 503.2 311.2 496 320 496C328.8 496 336 503.2 336 512C336 520.8 328.8 528 320 528z"/></svg>');
}

.i-pencil {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M36.4 353.2c4.1-14.6 11.8-27.9 22.6-38.7l181.2-181.2 33.9-33.9c16.6 16.6 51.3 51.3 104 104l33.9 33.9-33.9 33.9-181.2 181.2c-10.7 10.7-24.1 18.5-38.7 22.6L30.4 510.6c-8.3 2.3-17.3 0-23.4-6.2S-1.4 489.3 .9 481L36.4 353.2zm55.6-3.7c-4.4 4.7-7.6 10.4-9.3 16.6l-24.1 86.9 86.9-24.1c6.4-1.8 12.2-5.1 17-9.7L91.9 349.5zm354-146.1c-16.6-16.6-51.3-51.3-104-104L308 65.5C334.5 39 349.4 24.1 352.9 20.6 366.4 7 384.8-.6 404-.6S441.6 7 455.1 20.6l35.7 35.7C504.4 69.9 512 88.3 512 107.4s-7.6 37.6-21.2 51.1c-3.5 3.5-18.4 18.4-44.9 44.9z"/></svg>');
}

.i-code {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M360.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm64.6 136.1c-12.5 12.5-12.5 32.8 0 45.3l73.4 73.4-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l96-96c12.5-12.5 12.5-32.8 0-45.3l-96-96c-12.5-12.5-32.8-12.5-45.3 0zm-274.7 0c-12.5-12.5-32.8-12.5-45.3 0l-96 96c-12.5 12.5-12.5 32.8 0 45.3l96 96c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 150.6 182.6c12.5-12.5 12.5-32.8 0-45.3z"/></svg>');
}

.i-share {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M307.8 18.4c-12 5-19.8 16.6-19.8 29.6l0 80-112 0c-97.2 0-176 78.8-176 176 0 113.3 81.5 163.9 100.2 174.1 2.5 1.4 5.3 1.9 8.1 1.9 10.9 0 19.7-8.9 19.7-19.7 0-7.5-4.3-14.4-9.8-19.5-9.4-8.8-22.2-26.4-22.2-56.7 0-53 43-96 96-96l96 0 0 80c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-9.2-9.2-22.9-11.9-34.9-6.9z"/></svg>');
}

&.-same {
    header .header-image .btn {
        display: grid !important;
    }
}