@mixin loader() {
    .load {
        position: absolute;
        inset: 0;

        display: grid;
        place-items: center;

        background: rgba(49, 49, 49, .3);
        opacity: 0;
        z-index: 9;

        transition: .3s ease-in-out;

        .ticon {
            background-color: #2292F0;
            animation: 1s linear infinite rotate;
        }

        @keyframes rotate {
            from {
                transform: rotateZ(0deg);
            }

            to {
                transform: rotateZ(360deg);
            }
        }
    }

    &.-load {
        .load {
            opacity: 1;
        }
    }
}

@mixin background() {
    .background {
        position: absolute;
        inset: 0;
        filter: blur(17px);
        opacity: .15;

        background: var(--img);
        background-size: cover;
    }
}

@mixin progress() {
    .progress {
        background: rgba(35, 148, 241, 0.25);
        border: 0.3px solid rgba(255, 255, 255, .15);
        padding: 3px;
        border-radius: 10px;
        height: 4px;
        display: flex;
        position: relative;

        .value {
            width: 50%;
            background: #2393F1;
            border-radius: 3px;
        }

        .current-progress,
        .to-next-level {
            position: absolute;
            font-size: 12px;
            font-weight: normal;
            bottom: 11px;
            color: #7A7A7A;

            &.current-progress {
                left: 0;
            }

            &.to-next-level {
                right: 0;
            }
        }
    }
}

@mixin card() {
    .achivement {
        min-width: 200px;
        max-width: 250px;
        background: #1C2028;
        border: 0.2px solid rgba(255, 255, 255, .2);
        border-radius: 5px;
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 10px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: .1s ease-in-out;

        @include background();

        title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            opacity: .6;
        }

        .wrapper {
            width: 100%;
            margin-top: 25px;
        }

        @include progress();
        @include loader();

        &.-load {
            scale: 0.95;
        }
    }
}

.franschises-unfinished {
    overflow-x: auto;

    .list {
        display: inline-flex;
        gap: 10px;
        @include card();

        @media (max-width: 920px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}