.content-banner-edit .content-wrapper {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    gap: 0 !important;
}

.window-banner-edit {
    box-sizing: border-box;
    .window-content {
        overflow: hidden;
        --bot: max(calc(var(--sab) - 10px), 10px);
        --space: calc(62px + var(--bot));

        .content-wrapper {
            font-family: "Manrope", serif;
            max-height: 100dvh;
            overflow: auto;

            .wrapper {
                padding-bottom: var(--space);

                .window-bar {
                    margin-top: 10px;
                    margin-left: max(var(--sar), 20px);
                    margin-right: max(var(--sal), 20px);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .window-title {
                        font-size: 14px;
                        color: #FFFFFF;
                        font-weight: bold;
                    }

                    .window-close {
                        width: 40px;
                        height: 40px;
                        display: grid;
                        place-items: center;
                        cursor: pointer;

                        .ticon {
                            height: 14px;
                            background-color: #fff;
                        }
                    }
                }

                .banner-edit-wrapper {
                    display: grid;
                    grid-template-rows: 1fr auto;
                    gap: 10px;

                    padding: 10px 0;

                    .banner-preview {
                        overflow: hidden;
                        border-radius: 8px;
                        display: flex;
                        min-height: 300px;
                        margin: 0 20px;
                        border-bottom: 2px solid #2393F1;

                        background: var(--bg);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .banner-descripton {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        margin: 0 20px;

                        .warn {
                            width: fit-content;
                            display: flex;
                            align-items: center;
                            background: #FFD700;
                            color: #191C21;
                            border: 0.5px solid #FFE600;
                            padding: 10px 20px 10px 11px;
                            border-radius: 40px;
                            font-weight: 900;
                            font-size: 14px;
                            gap: 5px;

                            .ticon {
                                height: 19px;
                                background-color: #191C21;
                            }
                        }

                        .d {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .banner-edit-input {
            display: grid;
            place-items: center;
            position: absolute;
            bottom: var(--bot);
            right: 20px;
            left: 20px;

            .banner-edit-input-wrapper {
                display: grid;
                gap: 10px;
                grid-template-columns: 1fr auto auto;
                background: rgba(0, 0, 0, 0.2);
                border: 1px solid rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(10px);

                width: 100%;
                max-width: 860px;
                min-width: 40px;
                padding: 5px;

                border-radius: 30px;

                .btn {
                    width: 40px;
                    height: 40px;
                    display: grid;
                    place-items: center;
                    cursor: pointer;
                    position: relative;

                    .ticon {
                        height: 16px;
                        background-color: #D6D6D6;
                    }

                    &.btn-banner-send {
                        background: #2393F1;
                        border: 0.2px solid rgba(255, 255, 255, 0.4);
                        border-radius: 50%;

                        .ticon {
                            height: 16px;
                            background-color: #ffffff;
                        }
                    }
                }

                input {
                    // width: 100%;
                    height: 40px;
                    background: #191C21;
                    border: 0.2px solid rgba(255, 255, 255, 0.2);
                    border-radius: 20px;
                    padding: 0 6px;
                    color: #FFFFFF;
                    outline: none;
                    transition: 0.3s ease-in-out;
                    font-size: 14px;
                    width: 100%;
                    box-sizing: border-box;
                    text-align: center;

                    &::placeholder {
                        transition: .3s ease-in-out;
                    }

                    &:focus {
                        border-color: #2393F1;

                        &::placeholder {
                            opacity: 0.1;
                        }
                    }
                }

                input:not(:placeholder-shown)~.btn:not(.-load) {
                    .ticon.i-xmark {
                        opacity: 1;
                    }

                    .ticon.i-ios-search {
                        opacity: 0;
                    }
                }
            }
        }
    }
}

.i-circle-exclamation {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M256 512a256 256 0 1 1 0-512 256 256 0 1 1 0 512zm0-192a32 32 0 1 0 0 64 32 32 0 1 0 0-64zm0-192c-18.2 0-32.7 15.5-31.4 33.7l7.4 104c.9 12.6 11.4 22.3 23.9 22.3 12.6 0 23-9.7 23.9-22.3l7.4-104c1.3-18.2-13.1-33.7-31.4-33.7z"/></svg>');
}

@media screen and (max-width: 650px) {

    .window-friends .window-content .content-wrapper .wrapper .friends-wrapper .friends-list,
    .window-friends .window-content .content-wrapper .wrapper .friends-wrapper .friends-result-wrapper .friends-results-list {
        grid-template-columns: 1fr;
    }
}