@mixin Config() {
    .config-btn-wrapper {
        display: flex;

        label {
            --color: #585858;

            display: flex;
            align-items: center;
            gap: 10px;
            background: #191C21;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 65px;
            padding: 12px 15px;

            transition: 0.98s linear(0, 0.0446, 0.164, 0.3348, 0.5333, 0.7374, 0.9286, 1.0927, 1.22, 1.3061, 1.3508, 1.3573, 1.3318, 1.2821, 1.2167, 1.1439, 1.0715, 1.0055, 0.9505, 0.9094, 0.8834, 0.8719, 0.8735, 0.8858, 0.9058, 0.9304, 0.9568, 0.9823, 1.0049, 1.0231, 1.0361, 1.0437, 1.0463, 1.0444, 1.0389, 1.0311, 1.022, 1.0125, 1.0036, 0.996, 0.99, 0.9859, 0.9838, 0.9834, 0.9846, 0.9868, 0.9899, 0.9932, 0.9966, 0.9996, 1.0022, 1.0041, 1.0054, 1.0059, 1.0059, 1.0053, 1.0044, 1.0033, 1.002, 1.0009, 0.9998, 0.999, 0.9983, 0.998, 0.9979, 0.9979, 0.9982, 0.9985, 0.999, 0.9994, 0.9998, 1.0002, 1.0005, 1.0006, 1.0007, 1.0008, 1.0007, 1.0006, 1.0005, 1.0003, 1.0002, 1, 0.9999, 0.9998, 0.9998, 0.9997, 0.9997, 0.9998, 0.9998, 0.9998, 0.9999, 1, 1, 1, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1);

            .icon {
                height: 20px;
                fill: var(--color);
            }

            .config-info-wrapper {
                display: flex;
                flex-direction: column;

                .config-name {
                    font-size: 13px;
                    font-weight: bold;
                    color: var(--color);
                }

                .type-value {
                    display: none;
                    font-size: 10px;
                    margin-top: -3px;
                    color: var(--color);

                    &.-disable {
                        display: block;
                    }
                }

            }
        }

        input {
            display: none;
        }

        input:checked~label {
            --color: #2393F1;
            background: rgba(35, 148, 241, 0.15);
            border: 1px solid #2393F1;

            .config-info-wrapper {
                .-enable {
                    display: block;
                }

                .-disable {
                    display: none;
                }
            }
        }
    }
}

@mixin EmptyCard() {
    .empty-card {
        grid-column: 1 / 3;
        padding: 11px 0;
        width: 218px;
        color: #FFFFFF;
        font-family: "Manrope", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        justify-content: center;
        margin: 0 auto;
        min-height: 200px;

        .title {
            font-size: 15px;
            font-weight: bold;
        }

        .add {
            font-size: 12px;
            text-align: center;
            opacity: 0.5;
        }
    }
}

@mixin UCard() {
    .user-card {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px;
        border-radius: 14px;

        background: #1E2126;
        border: 1px solid rgba(255, 255, 255, 0.1);

        .user-profile-wrapper {
            display: flex;
            gap: 10px;

            .img-wrapper {
                $size: 66px;
                min-width: $size;
                min-height: $size;
                width: $size;
                height: $size;

                border-radius: 11px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                background: var(--img) center/cover no-repeat;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.22);
            }

            .user-profile-info {
                display: flex;
                flex-direction: column;
                justify-content: center;

                gap: 5px;

                .user-profile-name {
                    display: flex;
                    align-items: center;

                    gap: 5px;
                    // display: flex; align-items: center; gap: ...;

                    .tag {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        background: rgba(35, 142, 231, 0.23);
                        border: 1px solid rgba(35, 142, 231, 0.27);
                        border-radius: 15px;
                        padding: 5px 8px;

                        color: #238EE7;
                        font-size: 11px;
                        font-weight: bold;
                        text-transform: uppercase;

                        &.-dev {
                            background-color: rgba(255, 217, 0, 0.23);
                            border: 1px solid rgba(255, 217, 0, 0.27);
                            color: #FFD700;

                            .ticon {
                                background-color: #FFD700;
                            }
                        }

                        .ticon {
                            background-color: #238EE7;
                            height: 13px;
                        }
                    }

                    .user-name {
                        font-weight: bold;
                        font-size: 18px;
                    }
                }

                .user-profile-status {
                    display: flex;
                    flex-direction: column;

                    .user-profile-type {
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.5);
                    }

                    .user-profile-online {
                        margin-top: -2px;
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.5);


                        &.-app {
                            padding-left: 12px;
                            position: relative;
                            display: flex;
                            align-items: center;

                            &::after {
                                content: '';
                                display: grid;
                                width: 7px;
                                height: 7px;
                                background: #808080;
                                box-shadow: 0px 0px 0px 3px rgba(128, 128, 128, 0.18);
                                border-radius: 50%;
                                position: absolute;
                                left: 0;
                            }
                        }

                        &.-online {
                            color: #238EE7;

                            &::after {
                                background: #238EE7;
                                box-shadow: 0px 0px 0px 3px rgba(35, 143, 231, 0.18);
                            }
                        }
                    }
                }
            }
        }

        .user-control-wrapper {
            $size: 44px;
            // controls area (справа), например align-self:center;

            .btn {
                display: grid;
                place-items: center;
                position: relative;

                width: $size;
                height: $size;

                border-radius: 12px;

                background-color: rgba(255, 255, 255, 0.05);

                border: 1px solid rgba(255, 255, 255, 0.1);

                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.22);
                cursor: pointer;

                &.btn-select {
                    --bg-color: #2393F1;
                    --background: rgba(35, 143, 231, 0.1);
                    --border: rgba(35, 143, 231, 0.2);

                    background-color: var(--background);
                    border-color: var(--border);

                    .ticon {
                        background-color: var(--bg-color);
                        height: 20px;
                        transition: .3s ease-in-out;

                        // иконки в кнопке
                        &.i-plus {
                            position: absolute;
                        }

                        &.i-minus {
                            position: absolute;
                            opacity: 0;
                        }
                    }

                    &.-select {
                        --bg-color: #F12326;
                        --border: rgba(241, 35, 38, 0.2);
                        --background: rgba(241, 35, 38, 0.1);

                        .i-plus {
                            opacity: 0;
                        }

                        .i-minus {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &.-app {
            .user-profile-wrapper {
                .user-profile-info {
                    .user-profile-status {
                        .user-profile-type {
                            font-weight: bold;
                            color: #238EE7
                        }
                    }
                }
            }
        }
    }
}

@import './win.engine';
$WINDOW: 'users-search';

$SEARCH: 'search.v1', 'search.v1[append]';
$BAR: 'bar.v1';

@include WEngine($WINDOW, $SEARCH..., $BAR);
@include WIcons('i-ios-search', 'i-check', 'i-plus', 'i-minus', 'i-code', 'i-tunime');

.content-#{$WINDOW} {
    .content-wrapper {
        .wrapper {
            .#{$WINDOW}-list-wrapper {
                margin-top: 10px;

                .grid-wrapper-list {
                    padding-left: max(var(--sal), 10px);
                    padding-right: max(var(--sar), 10px);

                    .#{$WINDOW}-grid-list {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
                        justify-content: center;
                        gap: 10px;
                    }

                    @include EmptyCard();
                    @include UCard();
                }
            }
        }

        .rooms-config-wrapper {
            .config-wrapper-list {
                margin-top: 10px;
                display: flex;
                flex-wrap: nowrap;
                gap: 10px;
                min-width: min-content;
                min-height: min-content;
                align-items: center;
                justify-content: center;
                @include Config();
            }
        }

        .#{$WINDOW}-list-search {
            .#{$WINDOW}-search-wrapper {
                .btn-cancel {
                    border: 0.4px solid rgba(255, 255, 255, 0.4);
                    border-radius: 21px;
                    display: grid;
                    place-items: center;
                    background: #F12326;
                    color: #FFFFFF;
                    padding: 0 13px;
                    cursor: pointer;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
}