.contecnt-character .content-wrapper {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    gap: 0 !important;
}

.window-character {
    --z: 300;
    z-index: var(--z) !important;

    .window-content {
        .content-wrapper {
            max-height: 100dvh;

            .wrapper {
                max-width: 940px;
                margin: 0 auto;
                width: 100%;
                container: win-character / inline-size;

                .window-bar {
                    margin-top: 10px;
                    margin-left: max(var(--sar), 10px);
                    margin-right: max(var(--sal), 10px);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;

                    .window-close {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        color: #2292F0;
                        z-index: 2;

                        .icon {
                            width: 25px;
                            height: 40px;
                            display: grid;
                            place-items: center;

                            .ticon {
                                height: 23px;
                                background-color: #2292F0;
                            }
                        }
                    }

                    .window-title {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        left: 0;
                        right: 0;
                        z-index: 1;
                        gap: 1px;

                        .character-name {
                            font-size: 16px;
                            font-weight: bold;
                            color: #FFFFFF;
                        }

                        .character-source {
                            display: flex;
                            align-items: center;
                            font-size: 12px;
                            gap: 5px;
                            text-transform: uppercase;
                            color: #808080;

                            .point {
                                display: grid;
                                width: 4px;
                                height: 4px;
                                background: #2393F1;
                                border-radius: 50%;
                            }
                        }
                    }

                    .btn-character-favorite {
                        width: 40px;
                        height: 40px;
                        display: grid;
                        position: relative;
                        place-items: center;
                        z-index: 2;
                        cursor: pointer;

                        .ticon {
                            position: absolute;
                            height: 20px;
                            background-color: #FFFFFF;
                        }

                        .i-star-solid {
                            opacity: 0;
                        }
                    }

                }
            }

            .character-wrapper {
                display: flex;
                flex-direction: column;

                gap: 10px;
                // padding: 0 20px;

                .character-description-wrapper {
                    padding-top: 10px;
                    padding-left: 20px;
                    padding-right: 20px;

                    .character-preview {
                        display: grid;
                        padding: 1px;
                        border-radius: 10px;
                        overflow: hidden;
                        background: #FFE600;
                        float: left;
                        margin-right: 10px;

                        img {
                            border-radius: 11px;
                            max-width: 155px;
                            width: 20vw;
                            min-width: 100px;
                            box-sizing: border-box;
                        }
                    }

                    .character-description-text {
                        overflow: hidden;
                        position: relative;

                        &.-hide {
                            max-height: 350px;

                            .btn {
                                display: grid;
                            }
                        }
                    }

                    p {
                        font-size: 1rem;
                        line-height: 1.5;

                        a {
                            color: #2292F0;
                            cursor: pointer;
                        }

                        details {
                            margin-top: 5px;
                            margin-bottom: 5px;

                            summary {
                                background: #191c21;
                                padding: 10px;
                                border-radius: 5px;
                                display: flex;
                                cursor: pointer;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }

                    .btn {
                        background: #101318;
                        height: 40px;
                        display: none;
                        place-items: center;
                        cursor: pointer;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;

                        box-shadow: 0 -20px 20px 20px #101318;
                    }
                }

                .character-gallery-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .title-wrapper {
                        font-weight: bold;
                        font-size: 18px;
                        max-width: 900px;
                        padding: 0 20px;
                    }

                    .gallery-wrapper-list {
                        overflow-x: scroll;

                        .gallery-character {
                            display: inline-flex;
                            gap: 10px;
                            padding: 0 20px;

                            img {
                                min-height: 180px;
                                height: 40vw;
                                max-height: 230px;
                                border-radius: 5px;
                            }
                        }
                    }
                }

                .character-role-selector-wrapper {
                    display: flex;
                    padding: 0 20px;
                    align-items: center;
                    justify-content: center;

                    .character-role-selector {
                        padding: 3px;
                        display: flex;
                        background: #191C21;
                        border-radius: 5px;
                        overflow-x: auto;

                        .role {
                            font-size: 14px;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            padding: 10px;
                            cursor: pointer;
                            text-wrap: nowrap;

                            span.count {
                                width: 16px;
                                height: 16px;
                                display: grid;
                                place-items: center;
                                font-size: 10px;
                            }

                            &.-sel {
                                border-radius: 4px;
                                background: #2393F1;
                            }
                        }
                    }
                }

                .character-role-wrapper {

                    .main-role-list,
                    .sup-role-list,
                    .pv-role-list {
                        overflow-x: scroll;

                        .main-role-character,
                        .sup-role-character,
                        .pv-role-character {
                            display: inline-flex;
                            gap: 10px;
                            padding: 0 20px;
                        }

                        &.-hide {
                            display: none;
                        }
                    }
                }

                .marquee {
                    background: #191c21;
                    // color: #fff;
                    // display: flex;
                    // justify-content: center;
                    // padding: 20px;
                    // overflow-x: auto;
                    
                    overflow-x: auto;
                    padding: 20px 10px;
                    margin-top: 10px;
                    // margin: 0 -20px;
                    padding-bottom: max(var(--sab), 20px);

                    .marquee__track {
                        // display: inline-flex;
                        // justify-content: center;
                        // align-items: center;
                        // gap: 20px;

                        display: flex;
                        gap: 20px;
                        justify-content: center;
                        align-items: center;
                        min-width: min-content;
                        width: fit-content;
                        margin: 0 auto;
                        padding: 0 20px;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        text-wrap: nowrap;
                        text-transform: uppercase;

                        span {
                            display: flex;
                            flex-direction: column;
                            ;

                            .name {
                                font-size: 20px;
                                font-weight: bold;
                                color: #FFFFFF;
                                max-width: 200px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .count {
                                margin-top: -5px;
                                font-size: 12px;
                                color: rgba(255, 255, 255, 0.8);
                            }
                        }

                        img {
                            height: 30px;
                        }
                    }

                    .line {
                        display: grid;
                        width: 1px;
                        height: 30px;
                        background: #FFFFFF;
                    }
                }
            }
        }
    }
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(var(--distance));
    }
}

@container win-character (width <=300px) {
    .window-character .window-content .content-wrapper .wrapper .window-bar .window-close span.text {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .window-character .window-content .content-wrapper {
        max-width: none !important;
        margin: auto auto;
    }
}

.i-chevron-left {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M169.4 297.4C156.9 309.9 156.9 330.2 169.4 342.7L361.4 534.7C373.9 547.2 394.2 547.2 406.7 534.7C419.2 522.2 419.2 501.9 406.7 489.4L237.3 320L406.6 150.6C419.1 138.1 419.1 117.8 406.6 105.3C394.1 92.8 373.8 92.8 361.3 105.3L169.3 297.3z"/></svg>');
}

.i-star-regular {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M320.1 32C329.1 32 337.4 37.1 341.5 45.1L415 189.3L574.9 214.7C583.8 216.1 591.2 222.4 594 231C596.8 239.6 594.5 249 588.2 255.4L473.7 369.9L499 529.8C500.4 538.7 496.7 547.7 489.4 553C482.1 558.3 472.4 559.1 464.4 555L320.1 481.6L175.8 555C167.8 559.1 158.1 558.3 150.8 553C143.5 547.7 139.8 538.8 141.2 529.8L166.4 369.9L52 255.4C45.6 249 43.4 239.6 46.2 231C49 222.4 56.3 216.1 65.3 214.7L225.2 189.3L298.8 45.1C302.9 37.1 311.2 32 320.2 32zM320.1 108.8L262.3 222C258.8 228.8 252.3 233.6 244.7 234.8L119.2 254.8L209 344.7C214.4 350.1 216.9 357.8 215.7 365.4L195.9 490.9L309.2 433.3C316 429.8 324.1 429.8 331 433.3L444.3 490.9L424.5 365.4C423.3 357.8 425.8 350.1 431.2 344.7L521 254.8L395.5 234.8C387.9 233.6 381.4 228.8 377.9 222L320.1 108.8z"/></svg>');
}

.i-star-solid {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M341.5 45.1C337.4 37.1 329.1 32 320.1 32C311.1 32 302.8 37.1 298.7 45.1L225.1 189.3L65.2 214.7C56.3 216.1 48.9 222.4 46.1 231C43.3 239.6 45.6 249 51.9 255.4L166.3 369.9L141.1 529.8C139.7 538.7 143.4 547.7 150.7 553C158 558.3 167.6 559.1 175.7 555L320.1 481.6L464.4 555C472.4 559.1 482.1 558.3 489.4 553C496.7 547.7 500.4 538.8 499 529.8L473.7 369.9L588.1 255.4C594.5 249 596.7 239.6 593.9 231C591.1 222.4 583.8 216.1 574.8 214.7L415 189.3L341.5 45.1z"/></svg>');
}