.content-collection-selector .content-wrapper {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  gap: 0 !important;
}

.window-collection-selector {
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
  --sar: env(safe-area-inset-right);
  --sat: env(safe-area-inset-top);
}
.window-collection-selector .window-content .content-wrapper {
  max-height: 100dvh;
  overflow: auto;
  scrollbar-width: none;
}
.window-collection-selector .window-content .content-wrapper .wrapper {
  max-width: 940px;
}
.window-collection-selector .window-content .content-wrapper .wrapper .window-bar {
  margin-top: 10px;
  margin-left: max(env(safe-area-inset-left), 20px);
  margin-right: max(env(safe-area-inset-right), 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.window-collection-selector .window-content .content-wrapper .wrapper .window-bar .window-title {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}
.window-collection-selector .window-content .content-wrapper .wrapper .window-bar .window-bar-wrapper {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
}
.window-collection-selector .window-content .content-wrapper .wrapper .window-bar .window-bar-wrapper .win-bar-btn {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.window-collection-selector .window-content .content-wrapper .wrapper .window-bar .window-bar-wrapper .win-bar-btn svg {
  height: 24px;
  fill: #D6D6D6;
}

.content-collection-selector {
  --box-sizing: border-box;
  --ease: linear(0, 0.0145, 0.0538, 0.1126, 0.1854, 0.2678, 0.3557, 0.4457, 0.5348, 0.6207, 0.7017, 0.7762, 0.8435, 0.9029, 0.9543, 0.9976, 1.0331, 1.0612, 1.0825, 1.0976, 1.1072, 1.1121, 1.113, 1.1105, 1.1054, 1.0983, 1.0897, 1.0802, 1.0702, 1.06, 1.05, 1.0404, 1.0314, 1.0232, 1.0158, 1.0093, 1.0038, 0.9991, 0.9953, 0.9924, 0.9902, 0.9886, 0.9877, 0.9873, 0.9873, 0.9876, 0.9883, 0.9891, 0.9901, 0.9912, 0.9924, 0.9935, 0.9946, 0.9957, 0.9967, 0.9976, 0.9984, 0.9991, 0.9997, 1.0002, 1.0006, 1.0009, 1.0012, 1.0013, 1.0014, 1.0014, 1.0014, 1.0014, 1.0013, 1.0012, 1.0011, 1.001, 1.0008, 1.0007, 1.0006, 1.0005, 1.0003, 1.0002, 1.0002, 1.0001, 1, 1, 0.9999, 0.9999, 0.9999, 0.9998, 0.9998, 0.9998, 0.9998, 0.9998, 0.9999, 0.9999, 0.9999, 0.9999, 0.9999, 0.9999, 0.9999, 1, 1, 1, 1);
}
.content-collection-selector .content-wrapper .wrapper .window-bar {
  margin-bottom: 10px;
}
.content-collection-selector .content-wrapper .wrapper .window-bar .win-bar-btn.create-collection {
  background: #191C21;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.content-collection-selector .content-wrapper .wrapper .window-bar .win-bar-btn.create-collection svg {
  fill: #ffffff !important;
}
.content-collection-selector .content-wrapper .wrapper .type-filter-wrapper {
  padding-left: 20px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .name-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.8;
  font-size: 14px;
  font-weight: bold;
}
.content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .name-wrapper svg {
  height: 17px;
  fill: #ffffff;
}
.content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 30px;
}
.content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper .bg-selector {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}
.content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper .bg-selector .selector {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  width: auto;
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  background: #191C21;
  box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  will-change: left, right;
}
.content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper .type-filter-items {
  display: flex;
  position: relative;
  z-index: 2;
}
.content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper .type-filter-items .item {
  display: grid;
  place-items: center;
  font-size: 12px;
  padding: 0 15px;
  height: 40px;
  opacity: 0.55;
  cursor: pointer;
  transition: opacity 0.2s;
  font-weight: bold;
}
.content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper .type-filter-items .item.-select {
  opacity: 1;
}
@media (max-width: 600px) {
  .content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 210px;
  }
  .content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .type-filter-items {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
    -webkit-mask-image: linear-gradient(90deg, transparent, #000 14%, #000 86%, transparent);
            mask-image: linear-gradient(90deg, transparent, #000 14%, #000 86%, transparent);
  }
  .content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .type-filter-items::-webkit-scrollbar {
    display: none;
  }
  .content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .type-filter-items::before {
    content: "";
    flex: 0 0 var(--tf-pad-start, 0px);
  }
  .content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .type-filter-items::after {
    content: "";
    flex: 0 0 var(--tf-pad-end, 0px);
  }
  .content-collection-selector .content-wrapper .wrapper .type-filter-wrapper .type-filter-items .item {
    flex: 0 0 auto;
    scroll-snap-align: center;
    white-space: nowrap;
  }
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper {
  padding: 10px;
  overflow: hidden;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background: #15171C;
  border-radius: 8px;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item {
  --procent: 0;
  position: relative;
  padding-top: min(var(--procent) * 10px, 10px);
  padding-bottom: min(var(--procent) * 10px, 10px);
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .left-wrapper,
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .right-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .left-wrapper .btn-item,
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .right-wrapper .btn-item {
  scale: min(var(--procent) * 1, 1);
  opacity: min(var(--procent) * 1, 1);
  display: flex;
  font-size: 12px;
  gap: 5px;
  font-weight: bold;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  max-width: 110px;
  width: 100%;
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  background: #191C21;
  pointer-events: all;
  cursor: pointer;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .left-wrapper .btn-item .icon,
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .right-wrapper .btn-item .icon {
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .left-wrapper .btn-item .icon svg,
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .right-wrapper .btn-item .icon svg {
  height: 14px;
  fill: #ffffff;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .left-wrapper .btn-item[data-type=edit],
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .right-wrapper .btn-item[data-type=edit] {
  background: #2393F1;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .left-wrapper .btn-item[data-type=remove],
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .right-wrapper .btn-item[data-type=remove] {
  background: #F12326;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .left-wrapper.left-wrapper,
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .right-wrapper.left-wrapper {
  left: 10px;
  right: 0;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .left-wrapper.right-wrapper,
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .right-wrapper.right-wrapper {
  left: 0;
  right: 10px;
  justify-content: flex-end;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .item-wrapper {
  display: flex;
  justify-content: space-between;
  background: #191C21;
  height: 50px;
  align-items: center;
  position: relative;
  z-index: 3;
  padding: 0 10px;
  touch-action: pan-y;
  will-change: transform;
  box-shadow: 0px 0px calc(var(--procent) * 10px) 0px rgba(0, 0, 0, 0.25);
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .item-wrapper .cl-name {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: bold;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .item-wrapper .cl-name .icon {
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .item-wrapper .cl-name .icon svg {
  height: 18px;
  fill: #ffffff;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .item-wrapper .cl-name .icon svg[data-type=i-shikimori] {
  height: 15px;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .item-wrapper .cl-info {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 3px 7px;
  border-radius: 50px;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .item-wrapper .cl-info .count {
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  line-height: 0;
  font-size: 14px;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .item-wrapper .cl-info .icon {
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .item-wrapper .cl-info .icon svg {
  height: 14px;
  fill: #2394f1;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item .item-wrapper .cl-info .icon svg .private {
  display: none;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item:first-child .item-wrapper {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item:last-child .item-wrapper {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item.is-selected .item-wrapper {
  background: #2393F1;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item.is-selected .item-wrapper .cl-info .icon svg {
  fill: #ffffff;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item[data-visibility=private] .item-wrapper .cl-info .icon svg .globe {
  display: none;
}
.content-collection-selector .content-wrapper .wrapper .collections-list-wrapper .collections-list .item[data-visibility=private] .item-wrapper .cl-info .icon svg .private {
  display: block;
}
.content-collection-selector .content-wrapper .wrapper .safe-area-actions {
  margin-bottom: max(var(--sab) - 5px, 15px);
  margin-left: max(var(--sal), 20px);
  margin-right: max(var(--sar), 20px);
  height: 52px;
  pointer-events: none;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: max(var(--sab) - 5px, 15px);
  margin-left: max(var(--sal), 20px);
  margin-right: max(var(--sar), 20px);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  box-sizing: border-box;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions {
  display: flex;
  position: relative;
  padding: 5px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  max-width: 450px;
  overflow: hidden;
  will-change: width;
  pointer-events: all;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions > div {
  display: flex;
  gap: 5px;
  width: 100%;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions > div.default-wrapper {
  transition: 0.84s var(--ease, ease-in-out);
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions > div.default-wrapper .filter-action svg {
  height: 15px;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions > div.search-wrapper {
  transition: 0.84s var(--ease, ease-in-out);
  transform: translateX(-100%);
  pointer-events: none;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity 0.3s;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action svg {
  height: 20px;
  fill: #ffffff;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.a-fill {
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  background: #191C21;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.a-text {
  width: auto;
  padding: 0 15px;
  font-size: 12px;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.a-tt {
  font-weight: bold;
  text-transform: uppercase;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.a-primary {
  background: #2393F1;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.a-fit {
  flex: 1 0 0;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.-dissable {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions .search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions .search-wrapper input {
  width: 100%;
  height: 40px;
  background: #191C21;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  padding-left: 15px;
  border-radius: 20px;
  font-size: 14px;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions .search-wrapper input:focus {
  border: 0.2px solid #2394f1;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions .search-wrapper input::-moz-placeholder {
  opacity: var(--input-placeholder-opacity, 0.5);
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions .search-wrapper input::placeholder {
  opacity: var(--input-placeholder-opacity, 0.5);
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions.-filter-mode .default-wrapper {
  transform: translateX(calc(100% - 40px));
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper .win-actions.-filter-mode .search-wrapper {
  transform: translateX(0%);
  pointer-events: all;
}
.content-collection-selector .content-wrapper .wrapper .win-actions-wrapper * {
  box-sizing: border-box;
}