@keyframes anime-list-spin {
  to {
    transform: rotate(360deg);
  }
}
.content-anime-list .content-wrapper {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  gap: 0 !important;
}

.window-anime-list {
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
  --sar: env(safe-area-inset-right);
  --sat: env(safe-area-inset-top);
}
.window-anime-list .window-content .content-wrapper {
  max-height: 100dvh;
  overflow: auto;
  scrollbar-width: none;
}
.window-anime-list .window-content .content-wrapper .wrapper {
  max-width: 940px;
}
.window-anime-list .window-content .content-wrapper .wrapper .window-bar {
  margin-top: 10px;
  margin-left: max(env(safe-area-inset-left), 20px);
  margin-right: max(env(safe-area-inset-right), 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.window-anime-list .window-content .content-wrapper .wrapper .window-bar .window-title {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}
.window-anime-list .window-content .content-wrapper .wrapper .window-bar .window-bar-wrapper {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
}
.window-anime-list .window-content .content-wrapper .wrapper .window-bar .window-bar-wrapper .win-bar-btn {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.window-anime-list .window-content .content-wrapper .wrapper .window-bar .window-bar-wrapper .win-bar-btn svg {
  height: 24px;
  fill: #D6D6D6;
}

.content-anime-list {
  --box-sizing: border-box;
  --ease: linear(0, 0.0145, 0.0538, 0.1126, 0.1854, 0.2678, 0.3557, 0.4457, 0.5348, 0.6207, 0.7017, 0.7762, 0.8435, 0.9029, 0.9543, 0.9976, 1.0331, 1.0612, 1.0825, 1.0976, 1.1072, 1.1121, 1.113, 1.1105, 1.1054, 1.0983, 1.0897, 1.0802, 1.0702, 1.06, 1.05, 1.0404, 1.0314, 1.0232, 1.0158, 1.0093, 1.0038, 0.9991, 0.9953, 0.9924, 0.9902, 0.9886, 0.9877, 0.9873, 0.9873, 0.9876, 0.9883, 0.9891, 0.9901, 0.9912, 0.9924, 0.9935, 0.9946, 0.9957, 0.9967, 0.9976, 0.9984, 0.9991, 0.9997, 1.0002, 1.0006, 1.0009, 1.0012, 1.0013, 1.0014, 1.0014, 1.0014, 1.0014, 1.0013, 1.0012, 1.0011, 1.001, 1.0008, 1.0007, 1.0006, 1.0005, 1.0003, 1.0002, 1.0002, 1.0001, 1, 1, 0.9999, 0.9999, 0.9999, 0.9998, 0.9998, 0.9998, 0.9998, 0.9998, 0.9999, 0.9999, 0.9999, 0.9999, 0.9999, 0.9999, 0.9999, 1, 1, 1, 1);
}
.content-anime-list .content-wrapper .wrapper .window-bar {
  margin-bottom: 10px;
}
.content-anime-list .content-wrapper .wrapper .window-bar .win-bar-count {
  background: #191C21;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  line-height: 0.5;
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}
.content-anime-list .content-wrapper .wrapper .window-bar .win-bar-btn.create-collection {
  background: #191C21;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.content-anime-list .content-wrapper .wrapper .window-bar .win-bar-btn.create-collection svg {
  fill: #ffffff !important;
}
.content-anime-list .content-wrapper .wrapper * {
  box-sizing: border-box;
}
.content-anime-list .content-wrapper .wrapper .type-filter-wrapper {
  padding-left: 20px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-anime-list .content-wrapper .wrapper .type-filter-wrapper .name-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.8;
  font-size: 14px;
  font-weight: bold;
}
.content-anime-list .content-wrapper .wrapper .type-filter-wrapper .name-wrapper svg {
  height: 17px;
  fill: #ffffff;
}
.content-anime-list .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 30px;
}
.content-anime-list .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper .bg-selector {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}
.content-anime-list .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper .bg-selector .selector {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  width: auto;
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  background: #191C21;
  box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  will-change: left, right;
}
.content-anime-list .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper .type-filter-items {
  display: flex;
  position: relative;
  z-index: 2;
}
.content-anime-list .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper .type-filter-items .item {
  display: grid;
  place-items: center;
  font-size: 12px;
  padding: 0 15px;
  height: 40px;
  opacity: 0.55;
  cursor: pointer;
  transition: opacity 0.2s;
  font-weight: bold;
}
.content-anime-list .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper .type-filter-items .item.-select {
  opacity: 1;
}
@media (max-width: 600px) {
  .content-anime-list .content-wrapper .wrapper .type-filter-wrapper .selector-wrapper {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 210px;
  }
  .content-anime-list .content-wrapper .wrapper .type-filter-wrapper .type-filter-items {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
    -webkit-mask-image: linear-gradient(90deg, transparent, #000 14%, #000 86%, transparent);
            mask-image: linear-gradient(90deg, transparent, #000 14%, #000 86%, transparent);
  }
  .content-anime-list .content-wrapper .wrapper .type-filter-wrapper .type-filter-items::-webkit-scrollbar {
    display: none;
  }
  .content-anime-list .content-wrapper .wrapper .type-filter-wrapper .type-filter-items::before {
    content: "";
    flex: 0 0 var(--tf-pad-start, 0px);
  }
  .content-anime-list .content-wrapper .wrapper .type-filter-wrapper .type-filter-items::after {
    content: "";
    flex: 0 0 var(--tf-pad-end, 0px);
  }
  .content-anime-list .content-wrapper .wrapper .type-filter-wrapper .type-filter-items .item {
    flex: 0 0 auto;
    scroll-snap-align: center;
    white-space: nowrap;
  }
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper {
  margin-left: max(10px, var(--sal));
  margin-right: max(10px, var(--sar));
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr !important;
}
@media screen and (min-width: 810px) {
  .content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list {
    grid-template-columns: 1fr 1fr !important;
  }
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h {
  font-family: "Manrope", sans-serif;
  background: #191C21;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  display: flex;
  position: relative;
  min-height: 140px;
  cursor: pointer;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .img-wrapper {
  display: flex;
  overflow: hidden;
  border-radius: 3px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 170px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 120px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .info-wrapper .title {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .info-wrapper .season-type {
  display: flex;
  align-items: center;
  gap: 5px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .info-wrapper .season-type .type {
  background: #F7D149;
  border-radius: 2px;
  font-size: 12px;
  padding: 0 2px;
  color: #161616;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .info-wrapper .season-type .pin {
  width: 5px;
  aspect-ratio: 1/1;
  display: flex;
  border-radius: 50%;
  background: #2393F1;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .info-wrapper .season-type .seas {
  color: #FFFFFF;
  font-size: 12px;
  opacity: 0.5;
  text-transform: uppercase;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .info-wrapper .video-info {
  display: flex;
  align-items: center;
  gap: 5px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .info-wrapper .video-info .episodes {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 12px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .info-wrapper .video-info .status {
  color: #2393F1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .more-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .more-wrapper .in-list {
  display: flex;
  color: #FFFFFF;
  align-items: center;
  font-size: 12px;
  gap: 4px;
  opacity: 0.5;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .more-wrapper .in-list svg {
  height: 16px;
  fill: #FFFFFF;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .more-wrapper .anime-score {
  display: flex;
  align-items: center;
  gap: 10px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .more-wrapper .anime-score .shikimori {
  display: flex;
  font-size: 12px;
  color: #FFFFFF;
  align-items: center;
  gap: 4px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .anime-wrapper .more-wrapper .anime-score .shikimori svg {
  height: 12px;
  fill: #FFFFFF;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .btn {
  aspect-ratio: 1/1;
  height: 35px;
  position: absolute;
  background: #101318;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 3px;
  right: 10px;
  bottom: 10px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .btn .wrapper {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .btn .wrapper svg {
  height: 16px;
  fill: #ffffff;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .btn .wrapper svg .state {
  display: none;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .btn[data-state=planned] .wrapper svg .planned {
  display: block !important;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .btn[data-state=watching] .wrapper svg .watching {
  display: block !important;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .btn[data-state=rewatching] .wrapper svg .rewatching {
  display: block !important;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .btn[data-state=on_hold] .wrapper svg .on_hold {
  display: block !important;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .btn[data-state=completed] .wrapper svg .completed {
  display: block !important;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .btn[data-state=dropped] .wrapper svg .dropped {
  display: block !important;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h .btn[data-state=undefined] {
  display: none;
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list .card-anime-h.is-selected {
  background: rgba(35, 148, 241, 0.3);
}
.content-anime-list .content-wrapper .wrapper .anime-list-wrapper .anime-list * {
  box-sizing: border-box;
}
.content-anime-list .content-wrapper .wrapper .anime-list-loader {
  display: grid;
  place-items: center;
  height: 44px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-loader svg {
  height: 22px;
  fill: #ffffff;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.content-anime-list .content-wrapper .wrapper .anime-list-loader[data-state=loading] svg {
  opacity: 0.5;
  animation: 1s linear infinite anime-list-spin;
}
.content-anime-list .content-wrapper .wrapper .anime-list-empty-wrapper {
  display: grid;
  place-items: center;
  padding: 44px 0;
}
.content-anime-list .content-wrapper .wrapper .anime-list-empty-wrapper::before {
  content: "";
  grid-area: 1/1;
  width: min(380px, 100%);
  aspect-ratio: 780/524;
  background: url("/images/empty.list.anime.png") center/contain no-repeat;
}
.content-anime-list .content-wrapper .wrapper .anime-list-empty-wrapper[data-state=none] {
  display: none;
}
.content-anime-list .content-wrapper .wrapper .anime-list-empty-wrapper[data-state=idle] > .anime-list-empty[data-for=idle] {
  display: flex;
}
.content-anime-list .content-wrapper .wrapper .anime-list-empty-wrapper[data-state=loading] > .anime-list-empty[data-for=loading] {
  display: flex;
}
.content-anime-list .content-wrapper .wrapper .anime-list-empty-wrapper[data-state=nofound] > .anime-list-empty[data-for=nofound] {
  display: flex;
}
.content-anime-list .content-wrapper .wrapper .anime-list-empty-wrapper[data-state=error] > .anime-list-empty[data-for=error] {
  display: flex;
}
.content-anime-list .content-wrapper .wrapper .anime-list-empty-wrapper .anime-list-empty {
  grid-area: 1/1;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-empty-wrapper .anime-list-empty span {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.content-anime-list .content-wrapper .wrapper .anime-list-empty-wrapper .anime-list-empty span svg {
  height: 48px;
}
.content-anime-list .content-wrapper .wrapper .anime-list-empty-wrapper .anime-list-empty span.query {
  opacity: 0.5;
  font-weight: normal;
}
.content-anime-list .content-wrapper .wrapper .safe-area-actions {
  margin-bottom: max(var(--sab) - 5px, 15px);
  margin-left: max(var(--sal), 20px);
  margin-right: max(var(--sar), 20px);
  height: 52px;
  pointer-events: none;
  margin-top: 10px;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: max(var(--sab) - 5px, 15px);
  margin-left: max(var(--sal), 20px);
  margin-right: max(var(--sar), 20px);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions {
  display: flex;
  position: relative;
  padding: 5px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  max-width: 450px;
  overflow: hidden;
  will-change: width;
  pointer-events: all;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions > div {
  display: flex;
  gap: 5px;
  width: 100%;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions > div.default-wrapper {
  transition: 0.84s var(--ease, ease-in-out);
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions > div.default-wrapper .filter-action svg {
  height: 15px;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions > div.search-wrapper {
  transition: 0.84s var(--ease, ease-in-out);
  transform: translateX(-100%);
  pointer-events: none;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity 0.3s;
  text-wrap: nowrap;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action svg {
  height: 20px;
  fill: #ffffff;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.a-fill {
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  background: #191C21;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.a-text {
  width: auto;
  padding: 0 15px;
  font-size: 12px;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.a-tt {
  font-weight: bold;
  text-transform: uppercase;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.a-primary {
  background: #2393F1;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.a-fit {
  flex: 1 0 0;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.-dissable {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.-check {
  background: #2393F1;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.-check svg .i-xmark {
  display: none;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action.-check svg .i-check {
  display: block;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .btn-action svg .i-check {
  display: none;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .search-wrapper input {
  width: 100%;
  height: 40px;
  background: #191C21;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  padding-left: 15px;
  border-radius: 20px;
  font-size: 14px;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .search-wrapper input:focus {
  border: 0.2px solid #2394f1;
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .search-wrapper input::-moz-placeholder {
  opacity: var(--input-placeholder-opacity, 0.5);
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions .search-wrapper input::placeholder {
  opacity: var(--input-placeholder-opacity, 0.5);
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions.-filter-mode .default-wrapper {
  transform: translateX(calc(100% - 0px));
}
.content-anime-list .content-wrapper .wrapper .win-actions-wrapper .win-actions.-filter-mode .search-wrapper {
  transform: translateX(0%);
  pointer-events: all;
}