body {
  background: #101318;
  max-width: 1100px;
  margin: 0 auto;
}

header {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
header > .account {
  display: flex;
  white-space: nowrap;
}
header > .account .image-profile {
  overflow: hidden;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
header > .account .image-profile img {
  width: 45px;
  height: 45px;
  aspect-ratio: 1/1;
}
header > .account > .information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  color: #fff;
  font-family: Manrope;
}
header > .account > .information > .name {
  font-size: 16px;
}
header > .account > .information > .name b {
  font-weight: 800;
}
header > .account > .information > .position {
  display: flex;
}
header > .account > .information > .position svg {
  width: 12px;
  fill: #fff;
}
header > .account > .information > .position > span {
  margin-left: 5px;
  font-size: 13px;
}
header > .notification {
  min-height: 45px;
  min-width: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > .notification svg {
  fill: #fff;
  height: 20px;
}
header > .notification > .dot {
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 13px;
}

.mbs {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.search {
  display: flex;
  height: 40px;
  overflow: hidden;
  border-radius: 7px;
  position: relative;
}
.search .icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  display: grid;
  place-items: center;
}
.search .icon svg {
  width: 16px;
  fill: #fff;
  opacity: 0.7;
}
.search > input {
  width: 100%;
  border-radius: 0;
  border: none;
  background: #282D39;
  color: #fff;
  padding-left: 10px;
  font-family: Manrope;
}
.search > input::-moz-placeholder {
  padding-left: 30px;
  color: #fff;
  opacity: 0.7;
}
.search > input:-ms-input-placeholder {
  padding-left: 30px;
  color: #fff;
  opacity: 0.7;
}
.search > input::placeholder {
  padding-left: 30px;
  color: #fff;
  opacity: 0.7;
}
.search > .btn {
  min-width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #51B2FF 0%, #2672DA 95.83%);
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;
}
.search > .btn svg {
  fill: #fff;
  height: 18px;
}

.swiper-treilers {
  border-radius: 7px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .player iframe {
  width: 100%;
  aspect-ratio: 16/9;
  position: absolute;
  z-index: 1;
  border-radius: 7px;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .player video {
  aspect-ratio: 16/9;
  width: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 7px;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .image-player > .btn {
  width: 50px;
  height: 50px;
  background: linear-gradient(135deg, #51B2FF 0%, #2672DA 95.83%);
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  display: grid;
  place-items: center;
  z-index: 2;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .image-player > .btn svg {
  fill: #fff;
  width: 17.3px;
  transform: translateX(2px);
}
.swiper-treilers .swiper-wrapper .swiper-slide > .image-player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .image-player > .hide {
  display: none;
}
.swiper-treilers .swiper-wrapper .swiper-slide img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 7px;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .data-content {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: Manrope;
  margin-top: 10px;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .data-content > .raiting {
  display: flex;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .data-content > .raiting svg {
  width: 12px;
  margin-right: 10px;
  fill: #ffe600;
}
.swiper-treilers .swiper-pagination {
  bottom: 0;
}
.swiper-treilers .swiper-pagination .swiper-pagination-bullet {
  background: #282B2F;
  transition: 0.3s ease-in-out;
  opacity: 1;
}
.swiper-treilers .swiper-pagination .swiper-pagination-bullet-active {
  background: #398BE0;
  width: 50px;
  border-radius: 6px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  z-index: 99;
}
.loading svg {
  width: 50px;
  fill: #fff;
  -webkit-animation: rotate 3s ease-in-out infinite;
          animation: rotate 3s ease-in-out infinite;
}

.w800 {
  width: 800px;
  margin-left: 20px;
  margin-right: 20px;
}

.hide {
  display: none;
}

.phone_menu {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.phone_menu .btn_menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: rgba(10, 48, 78, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  max-width: 450px;
}
.phone_menu .btn_menu .icon_btn {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.phone_menu .btn_menu .icon_btn svg {
  height: 22px;
  fill: #a0aabb;
}
.phone_menu .btn_menu .icon_btn:hover svg {
  fill: #28B2F5;
}
.phone_menu .btn_menu .selected svg {
  fill: #28B2F5;
}

.card_anime {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  font-family: Manrope;
  margin-right: 10px;
  width: 190px;
  height: 269px;
}
.card_anime img {
  width: 190px;
}
.card_anime .card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s ease-in-out;
}
.card_anime .card_content .episodes {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
}
.card_anime .card_content .title {
  color: #fff;
  font-weight: bold;
  margin: 5px 10px;
  font-size: 13px;
}
.card_anime .card_content .score {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  font-size: 11px;
}
.card_anime .card_content .score svg {
  width: 15px;
  fill: #ddd500;
  margin-right: 10px;
}
.card_anime .card_content:hover {
  background: rgba(0, 0, 0, 0.7);
}

.swiper-slide-active a .card_anime .card_content {
  background: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 700px) {
  .desktop {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .mobile {
    display: none;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}