@charset "UTF-8";
body {
  background: #101318;
  max-width: 1100px;
  margin: 0 auto;
  -webkit-text-size-adjust: none;
  /* Запрещает автоматическое изменение размера текста */
}

header {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > .account {
  display: flex;
  white-space: nowrap;
  align-items: center;
}
header > .account .image-profile {
  overflow: hidden;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
header > .account .image-profile img {
  width: 45px;
  height: 45px;
  aspect-ratio: 1/1;
}
header > .account > .information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  color: #fff;
  font-family: Manrope;
}
header > .account > .information > .name {
  font-size: 16px;
}
header > .account > .information > .name span {
  font-size: 14px;
}
header > .account > .information > .name b {
  font-weight: 800;
}
header > .account > .information > .position {
  display: flex;
  align-items: center;
}
header > .account > .information > .position svg {
  width: 12px;
  fill: #fff;
}
header > .account > .information > .position > span {
  margin-left: 5px;
  font-size: 13px;
}
header > .notify-search {
  display: flex;
  gap: 10px;
}
header > .notify-search .notification {
  min-height: 40px;
  min-width: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2329;
  border-radius: 5px;
  cursor: pointer;
}
header > .notify-search .notification svg {
  fill: #fff;
  height: 17px;
  z-index: 1;
}
header > .notify-search .notification svg.dot {
  display: none;
}
header > .notify-search .notification.dot svg.mail {
  display: none;
}
header > .notify-search .notification.dot svg.dot {
  display: block;
}

.mbs {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.desktop.search {
  width: 300px;
}

.search {
  display: flex;
  height: 40px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.search > input {
  width: 100%;
  border-radius: 0;
  border: none;
  background: #1f2329;
  color: #fff;
  padding-left: 10px;
  padding-right: 40px;
  font-family: Manrope;
}
.search > input::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.search > input::placeholder {
  color: #fff;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
@supports (-moz-appearance: none) {
  .search > input:-moz-placeholder-shown {
    padding-left: 10px;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .search > input:placeholder-shown {
    padding-left: 10px;
    transition: 0.3s ease-in-out;
  }
  .search > input:focus:-moz-placeholder-shown {
    padding-left: 10px;
  }
  .search > input:focus:placeholder-shown {
    padding-left: 10px;
  }
}
.search > .shortcut {
  position: absolute;
  right: 6px;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
}
.search > .shortcut > span {
  color: #fff;
  background: #101318;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  font-size: 14px;
}
.search > input:focus::-moz-placeholder {
  padding-left: 0px;
}
.search > input:focus::placeholder {
  padding-left: 0px;
}
.search input:focus ~ .icon {
  opacity: 0;
}
.search input:not(:-moz-placeholder-shown) ~ .icon {
  opacity: 0;
}
.search input:not(:placeholder-shown) ~ .icon {
  opacity: 0;
}

.swiper-treilers {
  position: relative;
  overflow: hidden;
}
.swiper-treilers .swiper-wrapper .swiper-slide {
  border-radius: 5px;
  overflow: hidden;
}
.swiper-treilers .swiper-wrapper .swiper-slide .preview-block {
  aspect-ratio: 16/9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.swiper-treilers .swiper-wrapper .swiper-slide .preview-block a {
  position: relative;
  z-index: 2;
  height: 100%;
}
.swiper-treilers .swiper-wrapper .swiper-slide .preview-block img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-treilers .swiper-wrapper .swiper-slide .preview-block .player {
  z-index: 1;
  position: absolute;
  background: #000;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.swiper-treilers .swiper-wrapper .swiper-slide .preview-block .player video {
  width: 100%;
}
.swiper-treilers .swiper-wrapper .swiper-slide .preview-block .player iframe {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls {
  background: #191C21;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .wrapper-block-info {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: calc(100% - 90px);
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .wrapper-block-info .btn-play {
  background: #2393F1;
  border-radius: 3px;
  width: 43px;
  height: 43px;
  min-height: 43px;
  min-width: 43px;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .wrapper-block-info .btn-play svg {
  fill: #fff;
  height: 16px;
  position: absolute;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .wrapper-block-info .btn-play .load {
  opacity: 0;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .wrapper-block-info .btn-play .pause {
  opacity: 0;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .wrapper-block-info .block-info {
  font-family: Manrope;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .wrapper-block-info .block-info .block-name {
  font-size: 13px;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .wrapper-block-info .block-info .wrapper-details {
  display: flex;
  align-items: center;
  gap: 5px;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .wrapper-block-info .block-info .wrapper-details .kind,
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .wrapper-block-info .block-info .wrapper-details .studio {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .wrapper-block-info .block-info .wrapper-details .ellipse {
  width: 3px;
  height: 3px;
  background: #2393F1;
  border-radius: 50%;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .control-list .btn-list {
  width: 43px;
  height: 43px;
  min-height: 43px;
  min-width: 43px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .control-list .btn-list svg {
  fill: #fff;
  height: 16px;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .control-list .btn-list svg.selected {
  display: none;
  fill: #2393F1;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .control-list .btn-list.selected svg {
  display: none;
}
.swiper-treilers .swiper-wrapper .swiper-slide > .controls .control-list .btn-list.selected svg.selected {
  display: block;
}
.swiper-treilers .swiper-wrapper .swiper-slide.slide-load {
  background: #282D39;
  animation: loading 3s infinite;
}
.swiper-treilers .swiper-wrapper .swiper-slide.slide-load .preview-load {
  aspect-ratio: 16/9;
}
.swiper-treilers .swiper-wrapper .swiper-slide.slide-load .controls-load {
  height: 63px;
}
.swiper-treilers .swiper-wrapper .swiper-slide.error-slide .wrapper-error {
  aspect-ratio: 16/9;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-treilers .swiper-wrapper .swiper-slide.error-slide .wrapper-error img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-treilers .swiper-wrapper .swiper-slide.error-slide .wrapper-error .wrapper-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swiper-treilers .swiper-wrapper .swiper-slide.error-slide .wrapper-error .wrapper-content .content-info {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  font-family: Manrope;
  color: #FFF;
}
.swiper-treilers .swiper-wrapper .swiper-slide.error-slide .wrapper-error .wrapper-content .content-info .title-error {
  font-weight: 700;
  font-size: 5vw;
}
.swiper-treilers .swiper-wrapper .swiper-slide.error-slide .wrapper-error .wrapper-content .content-info .info-error {
  font-size: 3vw;
}
.swiper-treilers .swiper-wrapper .swiper-slide.error-slide .wrapper-error .wrapper-content .content-reload {
  margin-right: 10%;
}
.swiper-treilers .swiper-wrapper .swiper-slide.error-slide .wrapper-error .wrapper-content .content-reload .btn-reolad {
  width: 7vw;
  height: 7vw;
  max-width: 60px;
  max-height: 60px;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.swiper-treilers .swiper-wrapper .swiper-slide.error-slide .wrapper-error .wrapper-content .content-reload .btn-reolad svg {
  width: 10vw;
  max-width: 80px;
}
.swiper-treilers .swiper-pagination {
  bottom: 80px;
}
.swiper-treilers .swiper-pagination .swiper-pagination-bullet {
  background: #282B2F;
  transition: 0.3s ease-in-out;
  opacity: 1;
}
.swiper-treilers .swiper-pagination .swiper-pagination-bullet-active {
  background: #398BE0;
}

@media screen and (min-width: 600px) {
  .controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }
}
@media screen and (min-width: 1400px) {
  .swiper-treilers .swiper-wrapper .swiper-slide.error-slide .wrapper-error .wrapper-content .content-info .title-error {
    font-size: 3vw;
  }
  .swiper-treilers .swiper-wrapper .swiper-slide.error-slide .wrapper-error .wrapper-content .content-info .info-error {
    font-size: 1vw;
  }
}
.app-update {
  transition: 0.5s ease-in-out;
  position: relative;
  margin-top: 0;
  justify-content: center;
  flex-direction: column;
  display: none;
  gap: 10px;
  max-height: 0px;
  padding: 0 0 0 0;
  margin-left: 20px;
  margin-right: 20px;
  background: #191C21;
  border-radius: 5px;
}
.app-update::after {
  content: "";
  top: -22px;
  right: 60px;
  background-image: url(../../images/popup.png);
  width: 26px;
  height: 26px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  opacity: 0;
  transform: scale(0.05);
  transition: 0.5s ease-in-out;
}
.app-update::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #2393F1, #101318, #2393F1);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: glower 20s linear infinite;
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
@keyframes glower {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.app-update.show {
  padding: 25px 0 19px 0;
  margin-top: 20px;
  max-height: 80px;
  display: flex;
}
.app-update.show::before {
  opacity: 1;
}
.app-update.show::after {
  transform: scale(1);
  opacity: 1;
}
.app-update .update-content-version {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.app-update .update-content-version .text-update {
  font-size: 14px;
  color: #fff;
  font-family: "Manrope";
  display: flex;
  align-items: center;
  gap: 5px;
}
.app-update .update-content-version .text-update svg {
  height: 12px;
  fill: #5E6063;
}
.app-update .update-content-version .to-version {
  display: flex;
  gap: 10px;
  font-size: 12px;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Manrope";
  color: #fff;
}
.app-update .update-content-version .to-version .version {
  color: #5E6063;
}
.app-update .update-progress {
  position: relative;
  z-index: 9;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  background: #101318;
  border-radius: 1px;
  overflow: hidden;
}
.app-update .update-progress .progress {
  background: #2393F1;
  width: 0%;
  height: 3px;
  transition: 0.3s ease-in-out;
}

.swiper-continue {
  font-family: Manrope;
  position: relative;
  overflow: hidden;
}
.swiper-continue .swiper-wrapper .swiper-slide {
  overflow: hidden;
}
.swiper-continue .swiper-wrapper .swiper-slide .wrapp-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1f2329;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.swiper-continue .swiper-wrapper .swiper-slide .wrapp-content .continue-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  margin-top: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
}
.swiper-continue .swiper-wrapper .swiper-slide .wrapp-content .continue-frame img {
  height: 207px;
}
.swiper-continue .swiper-wrapper .swiper-slide .wrapp-content .continue-frame .continue-time {
  position: absolute;
  bottom: 20px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
.swiper-continue .swiper-wrapper .swiper-slide .wrapp-content .continue-frame .continue-time span {
  font-family: "Manrope";
  font-style: normal;
  font-size: 13px;
  color: #FFFFFF;
}
.swiper-continue .swiper-wrapper .swiper-slide .wrapp-content .continue-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 12px;
}
.swiper-continue .swiper-wrapper .swiper-slide .wrapp-content .continue-content .wrap-content {
  font-family: "Manrope";
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 90px);
}
.swiper-continue .swiper-wrapper .swiper-slide .wrapp-content .continue-content .wrap-content .title {
  font-size: 13px;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.swiper-continue .swiper-wrapper .swiper-slide .wrapp-content .continue-content .wrap-content .continue-episode {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  color: #FFFFFF;
}
.swiper-continue .swiper-wrapper .swiper-slide .wrapp-content .continue-content .continue-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
}
.swiper-continue .swiper-wrapper .swiper-slide .wrapp-content .continue-content .continue-info span.ellipse {
  width: 3px;
  height: 3px;
  background: #2393F1;
  border-radius: 50%;
}
.swiper-continue .swiper-wrapper .swiper-slide .wrapp-content .continue-content .wrap-continue {
  margin-right: 12px;
  font-size: 10px;
  color: #FFFFFF;
  font-family: "Manrope";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 5px;
  white-space: nowrap;
  min-width: 45px;
}
.swiper-continue .swiper-wrapper .swiper-slide .wrapp-content .continue-content .wrap-continue .button-continue {
  background: #2393F1;
  border-radius: 3px;
  width: 43px;
  height: 43px;
}
.swiper-continue .swiper-wrapper .swiper-slide .frame-anime {
  position: relative;
  display: grid;
  place-items: center;
}
.swiper-continue .swiper-wrapper .swiper-slide .frame-anime img {
  aspect-ratio: 16/9;
  width: 100%;
}
.swiper-continue .swiper-wrapper .swiper-slide .frame-anime > .progress-watch {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background: #398BE0;
  border-radius: 0px 5px 5px 0px;
}
.swiper-continue .swiper-wrapper .swiper-slide .frame-anime > a {
  position: absolute;
  height: 50px;
  width: 50px;
}
.swiper-continue .swiper-wrapper .swiper-slide .frame-anime > a > .btn {
  min-width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(135deg, #51B2FF 0%, #2672DA 95.83%);
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;
  cursor: pointer;
}
.swiper-continue .swiper-wrapper .swiper-slide .frame-anime > a > .btn svg {
  transform: translateX(1px);
  fill: #fff;
  height: 20px;
}
.swiper-continue .swiper-pagination {
  bottom: 5px;
}
.swiper-continue .swiper-pagination .swiper-pagination-bullet {
  background: #282B2F;
  transition: 0.3s ease-in-out;
  opacity: 1;
}
.swiper-continue .swiper-pagination .swiper-pagination-bullet-active {
  background: #398BE0;
}

.section-title {
  color: #fff;
  font-family: Manrope;
  display: flex;
  gap: 10px;
}
.section-title > .line {
  display: grid;
  width: 5px;
  border-radius: 1px;
  height: 25px;
  background: #2393F1;
}

.section-genres {
  display: flex;
  color: #A9AAAC;
  font-family: Manrope;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 16px;
  overflow: hidden;
  overflow-x: scroll;
}
.section-genres > .genres {
  margin-right: 10px;
  background: #1f2329;
  height: 35px;
  display: grid;
  place-items: center;
  padding: 0 25px;
  cursor: pointer;
  border-radius: 5px;
}
.section-genres > .genres:nth-child(1) {
  margin-left: 20px;
}
.section-genres > .selected {
  color: #fff;
  background: #2393F1;
}

.section-anime,
.section-update {
  padding-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.section-anime a:empty + a:nth-child(1)::before, .section-anime a:empty + a:nth-child(1)::after,
.section-update a:empty + a:nth-child(1)::before,
.section-update a:empty + a:nth-child(1)::after {
  animation-delay: 0.3s;
}
.section-anime a:empty + a:nth-child(2)::before, .section-anime a:empty + a:nth-child(2)::after,
.section-update a:empty + a:nth-child(2)::before,
.section-update a:empty + a:nth-child(2)::after {
  animation-delay: 0.6s;
}
.section-anime a:empty + a:nth-child(3)::before, .section-anime a:empty + a:nth-child(3)::after,
.section-update a:empty + a:nth-child(3)::before,
.section-update a:empty + a:nth-child(3)::after {
  animation-delay: 0.9s;
}
.section-anime a:empty + a:nth-child(4)::before, .section-anime a:empty + a:nth-child(4)::after,
.section-update a:empty + a:nth-child(4)::before,
.section-update a:empty + a:nth-child(4)::after {
  animation-delay: 1.2s;
}
.section-anime a:empty + a:nth-child(5)::before, .section-anime a:empty + a:nth-child(5)::after,
.section-update a:empty + a:nth-child(5)::before,
.section-update a:empty + a:nth-child(5)::after {
  animation-delay: 1.5s;
}
.section-anime a:empty + a:nth-child(6)::before, .section-anime a:empty + a:nth-child(6)::after,
.section-update a:empty + a:nth-child(6)::before,
.section-update a:empty + a:nth-child(6)::after {
  animation-delay: 1.8s;
}
.section-anime a:empty + a:nth-child(7)::before, .section-anime a:empty + a:nth-child(7)::after,
.section-update a:empty + a:nth-child(7)::before,
.section-update a:empty + a:nth-child(7)::after {
  animation-delay: 2.1s;
}
.section-anime a:empty + a:nth-child(8)::before, .section-anime a:empty + a:nth-child(8)::after,
.section-update a:empty + a:nth-child(8)::before,
.section-update a:empty + a:nth-child(8)::after {
  animation-delay: 2.4s;
}

.github {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Manrope;
  margin-top: 50px;
  color: #404246;
  gap: 3px;
}
.github .title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.github .version-hash {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.github .version-hash .version {
  font-size: 14px;
}
.github .version-hash .hash {
  text-transform: uppercase;
  font-size: 11px;
  margin-top: -4px;
}
.github .date {
  font-size: 14px;
}

footer {
  display: flex;
  height: calc(120px + env(safe-area-inset-bottom));
  width: 100%;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  z-index: 99;
}
.loading svg {
  width: 50px;
  fill: #fff;
  animation: rotate 3s ease-in-out infinite;
}

.hide {
  display: none;
}

.scroll-none {
  scrollbar-width: none;
}
.scroll-none::-webkit-scrollbar {
  display: none;
}

:root {
  --sab: env(safe-area-inset-bottom);
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.popup .popup-content {
  background: #2393F1;
  color: #fff;
  font-family: Manrope;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 11px;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.368627451);
  position: relative;
}
.popup .popup-content img {
  position: absolute;
  top: -23px;
  width: 30px;
  right: 20px;
}
.popup.popup-menu-none {
  bottom: -40px;
}
.popup.popup-menu-visible {
  bottom: calc(env(safe-area-inset-bottom) - 40px);
}

.application-menu {
  position: fixed;
  bottom: 0;
  padding-bottom: env(safe-area-inset-bottom);
  left: 0;
  right: 0;
  background: #1E1F25;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px 7px 0px 0px;
  z-index: 80;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.application-menu .btn-menu {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.application-menu .btn-menu .selected {
  display: none;
  fill: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
}
.application-menu .btn-menu svg {
  fill: #fff;
  height: 26px;
  color: #fff;
}
.application-menu .btn-menu:first-child {
  margin-left: 10px;
}
.application-menu .btn-menu:last-child {
  margin-right: 10px;
}
.application-menu .primary {
  background: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
  border-radius: 4px;
}
.application-menu .selected {
  position: relative;
}
.application-menu .selected .main-icon {
  display: none;
}
.application-menu .selected .selected {
  display: block;
}

.mode-1 {
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding-bottom: 0;
  border: none;
  border-radius: 7px;
}

.mode-2 .selected::after {
  content: "";
  position: absolute;
  border-radius: 7px;
  left: calc(50% - 17px);
  top: -1px;
  width: 34px;
  height: 3px;
  background: #51B1FE;
}
.mode-2 .selected .main-icon {
  display: block;
}
.mode-2 .selected .selected {
  display: none;
}

.interactive-menu {
  background: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 75;
  opacity: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.interactive-menu .close-interactive {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 76;
}
.interactive-menu .user-interactive {
  position: absolute;
  max-width: 350px;
  width: 100%;
  background: rgb(25, 28, 33);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 77;
  display: flex;
  flex-direction: column;
  bottom: calc(env(safe-area-inset-bottom) + 80px);
}
.interactive-menu .user-interactive .interact-content {
  overflow: hidden;
  position: relative;
  z-index: 2;
  border-radius: 4px;
}
.interactive-menu .user-interactive .btn-inter {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  font-family: Manrope;
  cursor: pointer;
}
.interactive-menu .user-interactive .btn-inter svg {
  fill: #fff;
  -webkit-text-stroke-color: #fff;
  width: 16px;
}
.interactive-menu .user-interactive .line-inter {
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.33);
  display: grid;
}
.interactive-menu .user-interactive .inter-param {
  position: relative;
}
.interactive-menu .user-interactive .inter-param .title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.interactive-menu .user-interactive .inter-param .checkbox {
  position: absolute;
  right: 20px;
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 16px;
  height: 16px;
  background: #C0C0C0;
  border-radius: 3px;
}
.interactive-menu .user-interactive .inter-param .checkbox input {
  display: none;
}
.interactive-menu .user-interactive .inter-param .checkbox .switch-check {
  display: none;
  width: 100%;
  height: 100%;
  background: #3C92ED;
}
.interactive-menu .user-interactive .inter-param .checkbox input:checked + .switch-check {
  display: grid;
}
.interactive-menu .user-interactive .btn-inter.disable-true {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.6);
}
.interactive-menu .user-interactive .btn-inter.disable-true svg {
  fill: rgba(255, 255, 255, 0.6);
}
.interactive-menu .user-interactive .inter-param.disable-true .checkbox {
  background: rgba(192, 192, 192, 0.6);
}
.interactive-menu .user-interactive .triangle {
  position: absolute;
  bottom: -15px;
  fill: #fff;
}

.interactive-menu.hide {
  opacity: 0;
}

body.menuver[data-orientation="90"] .application-menu, body.menuver[data-orientation="270"] .application-menu {
  bottom: 0;
  top: 0;
  padding-bottom: 0;
  padding-top: 0;
  border-top: none;
  flex-direction: column;
  align-items: center;
}
body.menuver[data-orientation="90"] .application-menu .btn-menu:first-child, body.menuver[data-orientation="270"] .application-menu .btn-menu:first-child {
  margin: 0;
}
body.menuver[data-orientation="90"] .application-menu .btn-menu:last-child, body.menuver[data-orientation="270"] .application-menu .btn-menu:last-child {
  margin: 0;
}
body.menuver[data-orientation="90"] {
  margin-left: 75px;
}
body.menuver[data-orientation="90"] .application-menu {
  left: 0;
  right: auto;
  padding-left: 10px;
  border-radius: 0px 7px 7px 0px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
body.menuver[data-orientation="270"] {
  margin-right: 75px;
}
body.menuver[data-orientation="270"] .application-menu {
  left: auto;
  right: 0;
  padding-right: 10px;
  border-radius: 7px 0px 0px 7px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

body.menuver[data-orientation="270"] .interactive-menu .user-interactive {
  right: 90px;
}
body.menuver[data-orientation="270"] .interactive-menu .user-interactive .triangle {
  transform: rotate(-90deg);
  bottom: auto;
  right: -18px;
}
body.menuver[data-orientation="0"] .interactive-menu .user-interactive {
  bottom: calc(env(safe-area-inset-bottom) + 80px);
}
body.menuver[data-orientation="90"] .interactive-menu .user-interactive {
  left: 90px;
}
body.menuver[data-orientation="90"] .interactive-menu .user-interactive .triangle {
  transform: rotate(90deg);
  bottom: auto;
  left: -18px;
}

.card-anime {
  display: grid;
}
.card-anime .card-content {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  max-height: 280px;
  justify-content: center;
  aspect-ratio: 1/1.44;
}
.card-anime .card-content img {
  height: 100%;
  z-index: 3;
}
.card-anime .card-content .blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  filter: blur(5px);
}
.card-anime .card-content .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(16, 19, 24, 0.7);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  text-align: center;
  padding: 10px 0px;
  z-index: 4;
}
.card-anime .card-content .title span {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  color: #fff;
  font-family: "Manrope";
  font-size: 13px;
  justify-content: center;
}
.card-anime .card-content .my-score {
  position: absolute;
  right: 10px;
  top: 10px;
  background: linear-gradient(98.26deg, #51B2FF 0%, #2672DA 100%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 3px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #fff;
  font-family: "Nova Square";
  font-size: 12px;
  z-index: 5;
}
.card-anime .card-content .my-score svg {
  fill: #fff;
  display: none;
}
.card-anime .card-information {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  font-family: "Nova Square";
  font-size: 12px;
}
.card-anime .card-information .score {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.card-anime.hide-anime {
  display: none;
}
.card-anime.hide-search {
  display: none;
}
.card-anime:empty {
  --duration: 1.5s;
  min-height: 308px;
  border-radius: 3px;
  position: relative;
}
.card-anime:empty::after {
  height: 14.5px;
  bottom: 0;
}
.card-anime:empty::before {
  top: 0;
  bottom: 24.5px;
}
.card-anime:empty::before, .card-anime:empty::after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 0.2;
  background: #282D39;
  border-radius: 3px;
  animation: loading var(--duration) infinite;
}

.swiper-slide-active a .card_anime .card_content {
  background: rgba(0, 0, 0, 0.7);
}

@keyframes loading {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
.windowed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  color: #FFF;
  font-family: "Manrope";
  display: block;
  transition: 0.3s ease-in-out;
}

.windowed-right {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Manrope";
  display: block;
  transition: 0.3s ease-in-out;
  z-index: 300;
  color: #FFF;
}

.windowed.hide,
.windowed-right.hide {
  display: none;
}
.windowed.hide .hide-window,
.windowed-right.hide .hide-window {
  opacity: 0;
}
.windowed .hide-window,
.windowed-right .hide-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.windowed-right .window-content {
  background: #101318;
  border-radius: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  overscroll-behavior: contain;
  overflow-y: auto;
  transition: 0.3s ease-in-out;
  transform: translateX(100%);
}
.windowed-right .window-content .content-wraper {
  padding-top: 20px;
  padding-left: calc(env(safe-area-inset-left) + 20px);
  padding-right: calc(env(safe-area-inset-right) + 20px);
  padding-bottom: max(20px, env(safe-area-inset-bottom));
  display: grid;
}
.windowed-right .window-content.hide {
  display: none;
}

.windowed .window-content {
  background: #101318;
  border-radius: 5px 5px 0px 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  right: 0;
  flex-direction: column;
  overflow-y: auto;
  transition: 0.3s ease-in-out;
  transform: translateY(100%);
}
.windowed .window-content .content-wraper {
  padding-left: calc(env(safe-area-inset-left) + 20px);
  padding-right: calc(env(safe-area-inset-right) + 20px);
  padding-top: 20px;
  padding-bottom: max(20px, env(safe-area-inset-bottom));
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.windowed .window-content.hide {
  display: none;
}
.windowed .window-content.border-hide {
  border-radius: 0px 0px 0px 0px;
}

@media screen and (min-width: 900px) {
  .windowed .window-content .content-wraper {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
  }
  .windowed-right .window-content {
    left: auto;
    max-width: 400px;
    width: 100%;
  }
}
.content-update {
  font-family: "Manrope";
  max-height: 100dvh;
}
.content-update .content-wraper {
  overflow-y: auto;
}
.content-update .title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(64, 153, 240, 0.4);
  padding-bottom: 10px;
}
.content-update .title-content .title {
  font-size: 16px;
  font-weight: bold;
}
.content-update .title-content .tag {
  display: flex;
  background: #191C21;
  border-radius: 3px;
  padding: 10px 10px;
  gap: 10px;
  font-size: 11px;
  font-weight: bold;
}
.content-update .title-content .tag svg {
  width: 9.4px;
  fill: #fff;
}
.content-update .update-content-wraper {
  max-height: calc(100vh - 45px - 107px - max(20px, env(safe-area-inset-bottom)));
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-update .update-content-wraper .update-page-block {
  border-bottom: 2px solid rgba(64, 153, 240, 0.4);
  padding-bottom: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-update .update-content-wraper .update-page-block:first-child {
  margin-top: 10px;
}
.content-update .update-content-wraper .block-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: calc(16px + 0vw);
}
.content-update .update-content-wraper .block-title span {
  display: flex;
  width: 6px;
  height: 6px;
  background: linear-gradient(90.75deg, #51B3FF 0%, #3283E4 100%);
  border-radius: 50%;
}
.content-update .update-content-wraper .block-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content-update .update-content-wraper .block-content .block-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: calc(15px + 0vw);
  font-weight: bold;
}
.content-update .update-content-wraper .block-content .block-icon svg {
  fill: #fff;
  width: 12px;
}
.content-update .update-content-wraper .block-content .block-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-update .update-content-wraper .block-content .block-text .content {
  font-size: calc(13px + 0vw);
  margin-left: 22px;
}
.content-update .btn-submit {
  min-height: 40px;
  max-height: 40px;
  background: #2393F1;
  border-radius: 4px;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.content-notify .content-wraper {
  grid-template-rows: auto 1fr;
  overscroll-behavior: contain;
  gap: 10px;
  min-height: 90dvh;
}
.content-notify .content-wraper .title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-notify .content-wraper .title-content .title-witch-icon {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}
.content-notify .content-wraper .title-content .btn-window-close {
  display: grid;
  width: 40px;
  height: 40px;
  place-items: center;
  cursor: pointer;
  background: #1f2329;
  border-radius: 5px;
}
.content-notify .content-wraper .title-content .btn-window-close svg {
  fill: #FFF;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}
.content-notify .content-wraper .notify-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-notify .content-wraper .notify-content.hide {
  display: none;
}
.content-notify .content-wraper .notify-filter {
  border-radius: 5px;
  background: #1f2329;
  display: flex;
  height: 40px;
  padding: 2px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.content-notify .content-wraper .notify-filter .block-filter {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  flex: 1 0 0;
  align-self: stretch;
  cursor: pointer;
}
.content-notify .content-wraper .notify-filter .block-filter.selected {
  border-radius: 3px;
  background: #2393F1;
  font-weight: bold;
}
.content-notify .content-wraper .content-notifycation {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.content-notify .content-wraper .content-notifycation .notifycation {
  cursor: pointer;
  padding: 7px 10px 7px 0px;
  display: flex;
  position: relative;
  overflow: hidden;
  gap: 10px;
  border-radius: 3px;
  background: #1f2329;
}
.content-notify .content-wraper .content-notifycation .notifycation .status-unread {
  width: 2px;
  align-self: stretch;
  background: #51B2FF;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-title-date {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: #FFF;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-title-date .notify-date {
  opacity: 0.5;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-text {
  color: #FFF;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .anime-episodes {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: rgba(81, 178, 255, 0.1);
  color: #51B2FF;
  font-weight: 700;
  font-family: Manrope;
  font-size: 10px;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .anime-episodes svg {
  fill: #51B2FF;
  width: 12px;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status {
  display: flex;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status > div {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  font-family: Manrope;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status > div svg {
  height: 12px;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status > div.available {
  background: rgba(52, 222, 49, 0.1);
  color: #34DE31;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status > div.available svg {
  fill: #34DE31;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status > div.unavailable {
  background: rgba(222, 49, 49, 0.1);
  color: #DE3131;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status > div.unavailable svg {
  fill: #DE3131;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status > div.load {
  background: rgba(199, 199, 199, 0.1);
  color: #C7C7C7;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status > div.load svg {
  fill: #C7C7C7;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status.available .unavailable,
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status.available .load {
  display: none;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status.load .unavailable,
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status.load .available {
  display: none;
}
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status.unavailable .available,
.content-notify .content-wraper .content-notifycation .notifycation .notification-data .notify-user-info .voice-status.unavailable .load {
  display: none;
}
.content-notify .content-wraper .content-notifycation .notifycation .empty-notify {
  opacity: 0.5;
  display: flex;
  height: 200px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  cursor: default;
}
.content-notify .content-wraper .content-notifycation .notifycation .empty-notify svg {
  height: 34px;
  fill: #FFF;
}
.content-notify .content-wraper .content-notifycation .notifycation.empty-notify {
  border-radius: 0;
  background: none;
  padding: 0;
}
.content-notify .content-wraper .content-notifycation .notifycation.true {
  padding: 7px 10px;
}
.content-notify .content-wraper .content-notifycation .notifycation .read-event,
.content-notify .content-wraper .content-notifycation .notifycation .remove-event {
  display: grid;
  position: absolute;
  border-radius: 3px;
  max-width: 85px;
  width: 0%;
  top: 0;
  bottom: 0;
  place-items: center;
}
.content-notify .content-wraper .content-notifycation .notifycation .read-event svg,
.content-notify .content-wraper .content-notifycation .notifycation .remove-event svg {
  fill: #fff;
  width: 22%;
}
.content-notify .content-wraper .content-notifycation .notifycation .remove-event {
  right: 0;
  background: #DE3131;
}
.content-notify .content-wraper .content-notifycation .notifycation .read-event {
  left: 0;
  background: #51B2FF;
}
.content-notify .content-wraper .content-notifycation.unread .notifycation.true {
  display: none;
}
.content-notify .content-wraper .notify-load {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.content-notify .content-wraper .notify-load.hide {
  display: none;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.scale-down-center {
  animation: scale-down-center 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite alternate-reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-15 0:29:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
.jello-horizontal {
  animation: jello-horizontal 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-15 0:31:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.swiper-countdown {
  overflow: hidden;
}
.swiper-countdown .swiper-wrapper .swiper-slide {
  overflow: hidden;
  height: 300px;
  border-radius: 5px;
  position: relative;
  background: #1f2329;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.swiper-countdown .swiper-wrapper .swiper-slide img {
  height: 115%;
}
.swiper-countdown .swiper-wrapper .swiper-slide .schape {
  width: 1000px;
  height: 1000px;
  background: #1f2329;
  display: flex;
  position: absolute;
  transform: rotate(66deg);
  top: -135%;
  right: -500px;
}
.swiper-countdown .swiper-wrapper .swiper-slide .content {
  position: absolute;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 10px;
  font-family: Manrope;
  height: 100%;
}
.swiper-countdown .swiper-wrapper .swiper-slide .content .title {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  max-width: 420px;
  text-align: right;
}
.swiper-countdown .swiper-wrapper .swiper-slide .content .tags {
  display: flex;
  gap: 10px;
}
.swiper-countdown .swiper-wrapper .swiper-slide .content .tags .tag {
  font-size: 11px;
  border: 1px solid #fff;
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}
.swiper-countdown .swiper-wrapper .swiper-slide .content .tags .pg {
  background: #F7D149;
  color: #161616;
  border: none;
}
.swiper-countdown .swiper-wrapper .swiper-slide .content .text {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.2em;
}
.swiper-countdown .swiper-wrapper .swiper-slide .content .timer {
  display: flex;
  gap: 10px;
}
.swiper-countdown .swiper-wrapper .swiper-slide .content .timer .d,
.swiper-countdown .swiper-wrapper .swiper-slide .content .timer .h,
.swiper-countdown .swiper-wrapper .swiper-slide .content .timer .m,
.swiper-countdown .swiper-wrapper .swiper-slide .content .timer .s {
  padding: 10px;
  background: #101318;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 940px) {
  .swiper-countdown .swiper-wrapper .swiper-slide {
    height: auto;
    flex-direction: column;
  }
  .swiper-countdown .swiper-wrapper .swiper-slide img {
    height: auto;
    width: 100%;
  }
  .swiper-countdown .swiper-wrapper .swiper-slide .schape {
    display: none;
  }
  .swiper-countdown .swiper-wrapper .swiper-slide .content {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .swiper-countdown .swiper-wrapper .swiper-slide .content .title {
    text-align: center;
    font-size: 16px;
  }
  .swiper-countdown .swiper-wrapper .swiper-slide .content .tags .tag {
    font-size: 9px;
  }
  .swiper-countdown .swiper-wrapper .swiper-slide .content .text {
    font-size: 12px;
  }
  .swiper-countdown .swiper-wrapper .swiper-slide .content .timer .d,
  .swiper-countdown .swiper-wrapper .swiper-slide .content .timer .h,
  .swiper-countdown .swiper-wrapper .swiper-slide .content .timer .m,
  .swiper-countdown .swiper-wrapper .swiper-slide .content .timer .s {
    font-size: 12px;
  }
}
.card-anime {
  min-width: 195px;
  margin-right: 10px;
}

@media screen and (max-width: 700px) {
  .desktop {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .mobile {
    display: none;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body[data-orientation="90"] .swiper-treilers,
body[data-orientation="90"] .section-genres,
body[data-orientation="90"] .section-anime,
body[data-orientation="90"] .swiper-continue,
body[data-orientation="90"] .section-update,
body[data-orientation="90"] .section-countdown {
  margin-right: max(20px, env(safe-area-inset-right));
}
body[data-orientation="90"] footer {
  height: 50px;
}
body[data-orientation="270"] .swiper-treilers,
body[data-orientation="270"] .section-genres,
body[data-orientation="270"] .section-anime,
body[data-orientation="270"] .swiper-continue,
body[data-orientation="270"] .section-title,
body[data-orientation="270"] .section-update,
body[data-orientation="270"] .section-countdown {
  margin-left: max(20px, env(safe-area-inset-left));
}
body[data-orientation="270"] .section-genres > .genres:nth-child(1) {
  margin-left: 0;
}
body[data-orientation="270"] .section-anime a:nth-child(1),
body[data-orientation="270"] .section-update a:nth-child(1) {
  margin-left: 0px;
}
body[data-orientation="270"] footer {
  height: 50px;
}