.phone_menu {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.phone_menu .btn_menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: rgba(10, 48, 78, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  max-width: 450px;
}
.phone_menu .btn_menu .icon_btn {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.phone_menu .btn_menu .icon_btn svg {
  height: 22px;
  fill: #a0aabb;
}
.phone_menu .btn_menu .icon_btn:hover svg {
  fill: #28B2F5;
}
.phone_menu .btn_menu .selected svg {
  fill: #28B2F5;
}

body {
  background: #101318;
}

main {
  font-family: Inter;
  max-width: 1100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
}
.content a {
  height: 263px;
  width: 160px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.content a:empty {
  background: #fff;
  border-radius: 5px;
  opacity: 0.04;
  -webkit-animation: loading 1.5s infinite;
          animation: loading 1.5s infinite;
}

.anime-card .anime-image {
  position: relative;
  max-width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
}
.anime-card .anime-image img {
  height: 240px;
  border-radius: 5px;
}
.anime-card .anime-title {
  max-width: 140px;
  font-size: 13px;
  color: #fff;
  word-wrap: break-word;
  white-space: nowrap;
  line-height: 1.65;
  text-overflow: ellipsis;
  overflow: hidden;
}

.play-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-btn .btn {
  width: 35px;
  height: 35px;
  background: linear-gradient(180deg, #2296F0 0%, #287BF1 100%);
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-btn .btn svg {
  width: 10px;
}

/*Animation*/
@-webkit-keyframes loading {
  0% {
    opacity: 0.04;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.04;
  }
}
@keyframes loading {
  0% {
    opacity: 0.04;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.04;
  }
}
@media screen and (max-width: 500px) {
  .content {
    justify-content: space-between;
  }
  .content a {
    margin-right: 0;
  }
}