body {
  background: #101318;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

header {
  display: flex;
  flex-direction: column;
  margin-left: max(20px, env(safe-area-inset-left));
  margin-right: max(20px, env(safe-area-inset-right));
  padding-top: 20px;
  max-width: 900px;
}
header .wraper-input {
  position: relative;
  display: flex;
  align-items: center;
}
header .wraper-input .icon {
  position: absolute;
  left: 10px;
  display: flex;
}
header .wraper-input .icon svg {
  width: 16px;
  fill: #fff;
  opacity: 0.7;
}
header .search-filter {
  font-family: Manrope;
  width: 100%;
  height: 40px;
  border-radius: 7px;
  border: none;
  font-size: 13px;
  background: #282D39;
  color: #fff;
  padding-left: 10px;
  outline: none;
}
header .search-filter::-moz-placeholder {
  padding-left: 30px;
  color: #fff;
  opacity: 0.7;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
header .search-filter::placeholder {
  padding-left: 30px;
  color: #fff;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
header .search-filter:focus::-moz-placeholder {
  padding-left: 0px;
}
header .search-filter:focus::placeholder {
  padding-left: 0px;
}
header .search-filter:not(:-moz-placeholder-shown) ~ .icon {
  opacity: 0;
}
header .search-filter:not(:placeholder-shown) ~ .icon {
  opacity: 0;
}
header .search-filter:focus ~ .icon {
  opacity: 0;
}
@supports (-moz-appearance: none) {
  header .search-filter:-moz-placeholder-shown {
    padding-left: 40px;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  header .search-filter:placeholder-shown {
    padding-left: 40px;
    transition: 0.3s ease-in-out;
  }
  header .search-filter:focus:-moz-placeholder-shown {
    padding-left: 10px;
  }
  header .search-filter:focus:placeholder-shown {
    padding-left: 10px;
  }
}
header .wraper-filter {
  display: flex;
  font-family: Manrope;
  color: #fff;
  overflow-x: auto;
  gap: 10px;
  margin-top: 15px;
}
header .wraper-filter .btn-filter {
  display: grid;
  padding: 0 15px;
  place-items: center;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
}
header .wraper-filter .btn-filter.btn-selected {
  background: linear-gradient(98.26deg, #51B2FF 0%, #2672DA 100%);
}

main {
  padding-top: 20px;
  max-width: 900px;
  margin-left: max(20px, env(safe-area-inset-left));
  margin-right: max(20px, env(safe-area-inset-right));
}
main .content {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 200px);
  align-items: center;
  justify-content: center;
}

span.loading {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #101318;
  z-index: 99;
}
span.loading h1 {
  font-family: "Nova Square", cursive;
  color: #fff;
  font-size: 40px;
  margin-top: 50px;
}
span.loading span.status {
  color: #fff;
  font-family: Manrope;
  margin-top: 20px;
}

footer {
  display: flex;
  margin-top: max(150px, env(safe-area-inset-top) + 61px);
  margin-left: max(20px, env(safe-area-inset-left));
  margin-right: max(20px, env(safe-area-inset-right));
}

.scroll-none {
  scrollbar-width: none;
}
.scroll-none::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 900px) {
  header,
  main {
    margin: 0 auto;
  }
}
@media screen and (max-width: 490px) {
  main .content {
    grid-template-columns: 1fr 1fr;
  }
  main .content a .card-content {
    max-height: 250px;
  }
  main .content a:empty {
    min-height: 270px;
  }
}
/*Animation*/
@keyframes loading {
  0% {
    opacity: 0.04;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.04;
  }
}
.application-menu {
  position: fixed;
  bottom: 0;
  padding-bottom: env(safe-area-inset-bottom);
  left: 0;
  right: 0;
  background: #1E1F25;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px 7px 0px 0px;
  z-index: 80;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.application-menu .btn-menu {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.application-menu .btn-menu .selected {
  display: none;
  fill: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
}
.application-menu .btn-menu svg {
  fill: #fff;
  height: 26px;
  color: #fff;
}
.application-menu .btn-menu:first-child {
  margin-left: 10px;
}
.application-menu .btn-menu:last-child {
  margin-right: 10px;
}
.application-menu .primary {
  background: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
  border-radius: 4px;
}
.application-menu .selected {
  position: relative;
}
.application-menu .selected .main-icon {
  display: none;
}
.application-menu .selected .selected {
  display: block;
}

.mode-1 {
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding-bottom: 0;
  border: none;
  border-radius: 7px;
}

.mode-2 .selected::after {
  content: "";
  position: absolute;
  border-radius: 7px;
  left: calc(50% - 17px);
  top: -1px;
  width: 34px;
  height: 3px;
  background: #51B1FE;
}
.mode-2 .selected .main-icon {
  display: block;
}
.mode-2 .selected .selected {
  display: none;
}

.interactive-menu {
  background: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 75;
  opacity: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.interactive-menu .close-interactive {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 76;
}
.interactive-menu .user-interactive {
  position: absolute;
  max-width: 350px;
  width: 100%;
  background: rgba(30, 31, 37, 0.95);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 77;
  display: flex;
  flex-direction: column;
  bottom: calc(env(safe-area-inset-bottom) + 80px);
}
.interactive-menu .user-interactive .interact-content {
  overflow: hidden;
  position: relative;
  z-index: 2;
  border-radius: 4px;
}
.interactive-menu .user-interactive .btn-inter {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  font-family: Manrope;
  cursor: pointer;
}
.interactive-menu .user-interactive .btn-inter svg {
  fill: #fff;
  -webkit-text-stroke-color: #fff;
  width: 16px;
}
.interactive-menu .user-interactive .line-inter {
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.33);
  display: grid;
}
.interactive-menu .user-interactive .inter-param {
  position: relative;
}
.interactive-menu .user-interactive .inter-param .title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.interactive-menu .user-interactive .inter-param .checkbox {
  position: absolute;
  right: 20px;
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 16px;
  height: 16px;
  background: #C0C0C0;
  border-radius: 3px;
}
.interactive-menu .user-interactive .inter-param .checkbox input {
  display: none;
}
.interactive-menu .user-interactive .inter-param .checkbox .switch-check {
  display: none;
  width: 100%;
  height: 100%;
  background: #3C92ED;
}
.interactive-menu .user-interactive .inter-param .checkbox input:checked + .switch-check {
  display: grid;
}
.interactive-menu .user-interactive .btn-inter.disable-true {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.6);
}
.interactive-menu .user-interactive .btn-inter.disable-true svg {
  fill: rgba(255, 255, 255, 0.6);
}
.interactive-menu .user-interactive .inter-param.disable-true .checkbox {
  background: rgba(192, 192, 192, 0.6);
}
.interactive-menu .user-interactive .triangle {
  position: absolute;
  bottom: -15px;
  fill: #fff;
}

.interactive-menu.hide {
  opacity: 0;
}

body.menuver[data-orientation="90"] .application-menu, body.menuver[data-orientation="270"] .application-menu {
  bottom: 0;
  top: 0;
  padding-bottom: 0;
  padding-top: 0;
  border-top: none;
  flex-direction: column;
  align-items: center;
}
body.menuver[data-orientation="90"] .application-menu .btn-menu:first-child, body.menuver[data-orientation="270"] .application-menu .btn-menu:first-child {
  margin: 0;
}
body.menuver[data-orientation="90"] .application-menu .btn-menu:last-child, body.menuver[data-orientation="270"] .application-menu .btn-menu:last-child {
  margin: 0;
}
body.menuver[data-orientation="90"] {
  margin-left: 75px;
}
body.menuver[data-orientation="90"] .application-menu {
  left: 0;
  right: auto;
  padding-left: 10px;
  border-radius: 0px 7px 7px 0px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
body.menuver[data-orientation="270"] {
  margin-right: 75px;
}
body.menuver[data-orientation="270"] .application-menu {
  left: auto;
  right: 0;
  padding-right: 10px;
  border-radius: 7px 0px 0px 7px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

body.menuver[data-orientation="270"] .interactive-menu .user-interactive {
  right: 90px;
}
body.menuver[data-orientation="270"] .interactive-menu .user-interactive .triangle {
  transform: rotate(-90deg);
  bottom: auto;
  right: -18px;
}
body.menuver[data-orientation="0"] .interactive-menu .user-interactive {
  bottom: calc(env(safe-area-inset-bottom) + 80px);
}
body.menuver[data-orientation="90"] .interactive-menu .user-interactive {
  left: 90px;
}
body.menuver[data-orientation="90"] .interactive-menu .user-interactive .triangle {
  transform: rotate(90deg);
  bottom: auto;
  left: -18px;
}

.card-anime {
  display: grid;
}
.card-anime .card-content {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  max-height: 280px;
  justify-content: center;
  aspect-ratio: 1/1.44;
}
.card-anime .card-content img {
  height: 100%;
  z-index: 3;
}
.card-anime .card-content .blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  filter: blur(5px);
}
.card-anime .card-content .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(16, 19, 24, 0.7);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  text-align: center;
  padding: 10px 0px;
  z-index: 4;
}
.card-anime .card-content .title span {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  color: #fff;
  font-family: "Manrope";
  font-size: 13px;
  justify-content: center;
}
.card-anime .card-content .my-score {
  position: absolute;
  right: 10px;
  top: 10px;
  background: linear-gradient(98.26deg, #51B2FF 0%, #2672DA 100%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 3px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #FFFFFF;
  font-family: "Nova Square";
  font-size: 12px;
}
.card-anime .card-information {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  font-family: "Nova Square";
  font-size: 12px;
}
.card-anime .card-information .score {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.card-anime.hide-anime {
  display: none;
}
.card-anime.hide-search {
  display: none;
}
.card-anime:empty {
  min-height: 308px;
  border-radius: 3px;
  position: relative;
}
.card-anime:empty::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 14.5px;
  background: #282D39;
  bottom: 0;
  border-radius: 3px;
  animation: loading 1.5s infinite;
  transition: 0.1s ease-in-out;
}
.card-anime:empty::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 24.5px;
  background: #282D39;
  border-radius: 3px;
  animation: loading 1.5s infinite;
}

.swiper-slide-active a .card_anime .card_content {
  background: rgba(0, 0, 0, 0.7);
}

body.menuver[data-orientation="270"] header {
  margin-right: 20px;
}
body.menuver[data-orientation="270"] main {
  margin-right: 20px;
}
body.menuver[data-orientation="270"] main .content {
  justify-content: flex-start;
}
body.menuver[data-orientation="90"] header {
  margin-left: 20px;
}
body.menuver[data-orientation="90"] main {
  margin-left: 20px;
}
body.menuver[data-orientation="90"] main .content {
  justify-content: flex-start;
}