body,
html {
  background: url("../../images/black-bg-player.png");
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: none;
}

.player-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.player-wrapper video {
  background: url("../../images/black-bg-player.png");
  height: 100%;
  width: 100%;
}
.player-wrapper .player-skip {
  position: absolute;
  bottom: 60px;
  right: -500px;
  padding: 10px 20px;
  background: #282A2E;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  font-family: Manrope;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  z-index: 50;
  transition: 0.3s ease-in-out;
}
.player-wrapper .player-skip svg {
  fill: rgba(255, 255, 255, 0.5);
  width: 14px;
}
.player-wrapper .controls-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
.player-wrapper .controls-wrapper .player-controls {
  border-radius: 3px 3px 0px 0px;
  background: #282a2e;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .switch-button {
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.player-wrapper .controls-wrapper .player-controls .l-controls .switch-button svg {
  position: absolute;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .switch-button.status-pause svg.pause {
  opacity: 0;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .switch-button.status-play svg.play {
  opacity: 0;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .player-time {
  display: flex;
  font-family: Manrope;
  font-size: 13px;
  gap: 2px;
  cursor: default;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .player-time .current-time {
  color: #FFF;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .player-time .divider,
.player-wrapper .controls-wrapper .player-controls .l-controls .player-time .durration {
  color: rgba(255, 255, 255, 0.4);
}
.player-wrapper .controls-wrapper .player-controls .l-controls .volume {
  display: flex;
  min-width: 45px;
  width: auto;
  align-items: center;
  overflow: hidden;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .volume .icon-controls {
  min-width: 45px;
  min-height: 45px;
  display: grid;
  position: relative;
  place-items: center;
  cursor: pointer;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .volume .icon-controls svg {
  fill: #ffffff;
  height: 16px;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .volume .icon-controls .mute {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background: #282a2e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .volume .icon-controls .mute svg {
  height: 9px;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .volume .icon-controls .mute.hide {
  display: none;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .volume .volume-slider .slide {
  max-width: 0px;
  cursor: pointer;
  height: 10px;
  background: rgb(37, 58, 76);
  width: 130px;
  border-radius: 3px;
  display: flex;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .volume .volume-slider .slide .current-slide {
  height: 100%;
  max-width: 100%;
  background: #5fbef3;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .volume:hover > .volume-slider {
  padding-right: 25px;
}
.player-wrapper .controls-wrapper .player-controls .l-controls .volume:hover > .volume-slider .slide {
  max-width: 130px;
}
@supports (-webkit-touch-callout: none) {
  .player-wrapper .controls-wrapper .player-controls .l-controls .volume-slider,
  .player-wrapper .controls-wrapper .player-controls .l-controls .volume {
    display: none;
  }
}
.player-wrapper .controls-wrapper .player-controls .l-controls,
.player-wrapper .controls-wrapper .player-controls .r-controls {
  display: flex;
  align-items: center;
}
.player-wrapper .controls-wrapper .player-controls .btn {
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.player-wrapper .controls-wrapper .player-controls .btn svg {
  fill: #ffffff;
  height: 16px;
}
.player-wrapper .controls-wrapper .player-slides {
  position: relative;
  transform: translateY(4px);
}
.player-wrapper .controls-wrapper .player-slides .current-slid {
  width: 0%;
  background: #5fbef3;
  z-index: 2;
  position: relative;
}
.player-wrapper .controls-wrapper .player-slides .loaded-slid {
  width: 0%;
  background: rgba(72, 112, 148, 0.74);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.player-wrapper .controls-wrapper .player-slides .trim-slid {
  width: 0%;
  background: #f35f5f;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
.player-wrapper .controls-wrapper .player-slides .trim-slid.hide {
  display: none;
}
.player-wrapper .controls-wrapper .player-slides .slid {
  height: 10px;
  border-radius: 3px;
}
.player-wrapper .controls-wrapper .player-cursors {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.player-wrapper .controls-wrapper .player-cursors .current-cursor {
  z-index: 5;
  left: calc(0% - 16.5px);
}
.player-wrapper .controls-wrapper .player-cursors .current-cursor .point {
  background: #2672DA;
}
.player-wrapper .controls-wrapper .player-cursors .trim-cursor {
  z-index: 6;
  right: calc(0% - 16.5px);
}
.player-wrapper .controls-wrapper .player-cursors .trim-cursor .point {
  background: #da2626;
}
.player-wrapper .controls-wrapper .player-cursors .cursor {
  position: absolute;
  top: -20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.player-wrapper .controls-wrapper .player-cursors .cursor .point {
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: grid;
}
.player-wrapper .controls-wrapper .player-cursors .cursor.hide {
  display: none;
}
.player-wrapper .controls-wrapper .player-settings {
  background: #282A2E;
  min-height: 45px;
  max-width: 250px;
  width: 100%;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  bottom: 65px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateY(240px);
  opacity: 0;
  display: none;
}
.player-wrapper .controls-wrapper .player-settings label.quality-setup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.player-wrapper .controls-wrapper .player-settings label.quality-setup .quality {
  display: grid;
  place-items: center;
  color: #FFF;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}
.player-wrapper .controls-wrapper .player-settings label.quality-setup .quality.selected {
  background: #2672DA;
}
.player-wrapper .controls-wrapper .player-settings label.checkbox {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-family: Manrope;
  cursor: pointer;
}
.player-wrapper .controls-wrapper .player-settings label.checkbox .title {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 15px;
}
.player-wrapper .controls-wrapper .player-settings label.checkbox .checkbox {
  position: absolute;
  right: 20px;
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 16px;
  height: 16px;
  background: #C0C0C0;
  border-radius: 3px;
}
.player-wrapper .controls-wrapper .player-settings label.checkbox .checkbox .switch-check {
  display: none;
  width: 100%;
  height: 100%;
  background: #3C92ED;
}
.player-wrapper .controls-wrapper .player-settings label.checkbox .checkbox input {
  display: none;
}
.player-wrapper .controls-wrapper .player-settings label.checkbox .checkbox input:checked + .switch-check {
  display: grid;
}
.player-wrapper .controls-wrapper .player-settings label.btn {
  color: #fff;
  font-family: Manrope;
  font-size: 15px;
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.player-wrapper .controls-wrapper .player-settings label.volume {
  padding: 0 20px;
  display: grid;
  place-items: center;
}
.player-wrapper .controls-wrapper .player-settings label.volume .slide {
  height: 10px;
  background: rgb(37, 58, 76);
  border-radius: 3px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.player-wrapper .controls-wrapper .player-settings label.volume .slide .current-slide {
  width: 20%;
  height: 100%;
  max-width: 100%;
  background: #5fbef3;
}
.player-wrapper .controls-wrapper .player-settings span.line {
  height: 1px;
  display: grid;
  background: rgba(255, 255, 255, 0.15);
}
.player-wrapper .controls-wrapper .player-settings label {
  height: 45px;
}
@supports (-webkit-touch-callout: none) {
  .player-wrapper .controls-wrapper .player-settings label.volume {
    display: none;
  }
  .player-wrapper .controls-wrapper .player-settings span.line:nth-child(4) {
    display: none;
  }
}
.player-wrapper .controls-wrapper.hide {
  display: none;
}
.player-wrapper .points-event {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 49;
}
.player-wrapper .points-event .left-event,
.player-wrapper .points-event .right-event,
.player-wrapper .points-event .center-event {
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.player-wrapper .video-speed {
  position: absolute;
  display: grid;
  padding: 10px 20px;
  top: 10px;
  left: -100px;
  background: #282A2E;
  border-radius: 3px;
}
.player-wrapper .video-speed svg {
  fill: #fff;
}
.player-wrapper.hide {
  cursor: none;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #15171e;
  display: grid;
  place-items: center;
  z-index: 999;
  font-family: Manrope;
}
.spinner-wrapper .access-data {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #1C1F2D;
  color: #696B6F;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 3px;
}
.spinner-wrapper .access-data .pin {
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.spinner-wrapper .access-data .pin.red {
  background: #730E12;
}
.spinner-wrapper .access-data .pin.green {
  background: #11730e;
}
.spinner-wrapper .player-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spinner-wrapper .player-name .name {
  text-transform: uppercase;
  font-size: 4.8vw;
  color: #fff;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 800px) {
  .spinner-wrapper .player-name .name.name {
    font-size: 36px;
  }
}
.spinner-wrapper .player-name .untertitle {
  text-transform: uppercase;
  font-size: 2.55vw;
  font-weight: 200;
  color: #fff;
  letter-spacing: 0.7em;
}
@media screen and (min-width: 800px) {
  .spinner-wrapper .player-name .untertitle.untertitle {
    font-size: 16px;
  }
}

.loader {
  margin-top: 1vw;
  height: 1.6vw;
  aspect-ratio: 2.5;
  --_g: no-repeat radial-gradient(farthest-side, #696B6F 90%, #0000);
  background: var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 20% 50%;
  animation: l44 1s infinite linear alternate;
}
@media screen and (min-width: 800px) {
  .loader.loader {
    height: 16px;
    margin-top: 10px;
  }
}

@keyframes l44 {
  0%, 5% {
    background-position: 0% 50%, 33.3333333333% 50%, 66.6666666667% 50%, 100% 50%;
  }
  12.5% {
    background-position: 0% 0, 33.3333333333% 50%, 66.6666666667% 50%, 100% 50%;
  }
  25% {
    background-position: 0% 0, 33.3333333333% 0, 66.6666666667% 50%, 100% 50%;
  }
  37.5% {
    background-position: 0% 100%, 33.3333333333% 0, 66.6666666667% 0, 100% 50%;
  }
  50% {
    background-position: 0% 100%, 33.3333333333% 100%, 66.6666666667% 0, 100% 0;
  }
  62.5% {
    background-position: 0% 50%, 33.3333333333% 100%, 66.6666666667% 100%, 100% 0;
  }
  75% {
    background-position: 0% 50%, 33.3333333333% 50%, 66.6666666667% 100%, 100% 100%;
  }
  87.5% {
    background-position: 0% 50%, 33.3333333333% 50%, 66.6666666667% 50%, 100% 100%;
  }
  95%, 100% {
    background-position: 0% 50%, 33.3333333333% 50%, 66.6666666667% 50%, 100% 50%;
  }
}
@media screen and (max-width: 455px) {
  .player-wrapper .controls-wrapper .player-controls .btn.volume,
  .player-wrapper .controls-wrapper .player-controls .l-controls .volume-slider {
    display: none;
  }
}