html, body {
  scrollbar-gutter: stable;
}

body {
  background: #101318;
  -webkit-text-size-adjust: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-top: 20px;
}

header {
  max-width: 900px;
  display: flex;
  align-self: stretch;
  position: relative;
  margin-left: max(20px, env(safe-area-inset-left));
  margin-right: max(20px, env(safe-area-inset-right));
}
header .search-input {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1 0 0;
}
header .search-input input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background: #282D39;
  border: none;
  outline: none;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  padding-left: 10px;
  transition: 0.3s ease-in-out;
}
header .search-input input::-moz-placeholder {
  padding-left: 25px;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
header .search-input input::placeholder {
  padding-left: 25px;
  transition: 0.3s ease-in-out;
}
@supports (-moz-appearance: none) {
  header .search-input input:-moz-placeholder-shown {
    padding-left: 40px;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  header .search-input input:placeholder-shown {
    padding-left: 40px;
    transition: 0.3s ease-in-out;
  }
  header .search-input input:focus:-moz-placeholder-shown {
    padding-left: 10px;
  }
  header .search-input input:focus:placeholder-shown {
    padding-left: 10px;
  }
}
header .search-input .icon {
  position: absolute;
  left: 10px;
  display: flex;
  transition: 0.3s ease-in-out;
}
header .search-input .icon svg {
  width: 16px;
  fill: #fff;
  opacity: 0.7;
}
header .search-input > input:focus::-moz-placeholder {
  padding-left: 0px;
}
header .search-input > input:focus::placeholder {
  padding-left: 0px;
}
header .search-input > input:focus ~ .icon {
  opacity: 0;
}
header .search-input > input:not(:-moz-placeholder-shown) ~ .icon {
  opacity: 0;
}
header .search-input > input:not(:placeholder-shown) ~ .icon {
  opacity: 0;
}
header .btn {
  overflow: hidden;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  fill: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
header .btn svg {
  height: 16px;
}
header .btn--clear {
  max-width: 40px;
}
header .btn--clear.state_common {
  max-width: 0px;
}
header .btn.btn--filter.on-filter {
  position: relative;
}
header .btn.btn--filter.on-filter::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 6px;
  top: 7px;
  border-radius: 1000px;
  background: #3689E8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
header .btn.btn--filter.state_focus, header .btn.btn--filter.state_search {
  position: absolute;
  right: 0;
}

main {
  max-width: 900px;
  margin-left: max(20px, env(safe-area-inset-left));
  margin-right: max(20px, env(safe-area-inset-right));
  overflow-x: hidden;
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
main .title {
  color: #FFF;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
}
main .recomendation-none {
  margin-top: 20px;
  border-radius: 4px;
  background: #282D39;
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  position: relative;
  overflow: hidden;
}
main .recomendation-none .bg-symvol {
  display: flex;
  width: 61px;
  height: 88px;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 10px;
  top: -10px;
  color: rgba(255, 255, 255, 0.2);
  font-family: Manrope;
  font-size: 128px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
main .recomendation-none > span {
  margin-top: 30px;
  align-self: stretch;
  color: #FFF;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
main .recomendation-none .info-acc {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
main .recomendation-none .info-acc img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
main .recomendation-none .info-acc > span {
  color: #FFF;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main .block-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
main .block-line .line-1,
main .block-line .line-2,
main .block-line .line-3 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
}
main .genres .line-1 div,
main .genres .line-2 div,
main .genres .line-3 div {
  display: grid;
  height: 35px;
  padding: 0px 20px;
  place-items: center;
  gap: 10px;
  border-radius: 3px;
  background: #282D39;
  white-space: nowrap;
  cursor: pointer;
}
main .genres .line-1 .disabled,
main .genres .line-2 .disabled,
main .genres .line-3 .disabled {
  position: relative;
  overflow: hidden;
}
main .genres .line-1 .disabled:after,
main .genres .line-2 .disabled:after,
main .genres .line-3 .disabled:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(217, 217, 217, 0.2);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}
main .voice-card {
  display: flex;
  height: 40px;
  padding: 5px 10px;
  flex-direction: column;
  border-radius: 3px;
  background: #282D39;
  font-family: Manrope;
  font-size: 16px;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}
main .voice-card .count {
  display: flex;
  align-items: center;
  color: #6FA5E8;
  font-size: 13px;
}
main .voice-card .count svg {
  fill: #6FA5E8;
  width: 10px;
  margin-right: 5px;
}

main.main.state_focus, main.main.state_search, main.main.state_result {
  display: none;
}

main.result {
  display: none;
}
main.result.state_result {
  display: grid;
}
main.result > .content {
  display: grid;
  margin-top: 20px;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 200px);
  align-items: center;
  justify-content: center;
}

main.main > .content {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  overflow-y: auto;
  flex-wrap: nowrap;
}
main.main > .content > div {
  width: 200px;
}
main.main .content-progress-load {
  display: flex;
  height: 23px;
  border-radius: 4px;
  background: #282D39;
  overflow: hidden;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
}
main.main .content-progress-load .progress {
  background: #3283E4;
  font-family: "Manrope";
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
main.main .content-progress-load.hidden {
  height: 0;
  margin-top: 0;
}

main.history.state_search, main.history.state_result {
  display: none;
}
main.history > .content {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  overflow-y: auto;
  flex-wrap: nowrap;
}
main.history > .content > div {
  width: 200px;
}

main.animation-loading.state_focus, main.animation-loading.state_common, main.animation-loading.state_result {
  display: none;
}

footer {
  margin-top: 110px;
}

.search--loading {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 0px;
  max-height: 300px;
  transition: 0.3s ease-in-out;
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@media screen and (max-width: 500px) {
  .result .content {
    grid-template-columns: 1fr 1fr;
  }
  .response-anime .preview {
    height: 240px;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 900px) {
  header,
  main {
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 490px) {
  main.result > .content {
    grid-template-columns: 1fr 1fr;
  }
  main.result > .content .card-anime {
    min-width: auto;
  }
  main.result > .content > div > .card-content {
    max-height: 250px;
  }
}
.application-menu {
  position: fixed;
  bottom: 0;
  padding-bottom: env(safe-area-inset-bottom);
  left: 0;
  right: 0;
  background: #1E1F25;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px 7px 0px 0px;
  z-index: 80;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.application-menu .btn-menu {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.application-menu .btn-menu .selected {
  display: none;
  fill: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
}
.application-menu .btn-menu svg {
  fill: #fff;
  height: 26px;
  color: #fff;
}
.application-menu .btn-menu:first-child {
  margin-left: 10px;
}
.application-menu .btn-menu:last-child {
  margin-right: 10px;
}
.application-menu .primary {
  background: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
  border-radius: 4px;
}
.application-menu .selected {
  position: relative;
}
.application-menu .selected .main-icon {
  display: none;
}
.application-menu .selected .selected {
  display: block;
}

.mode-1 {
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding-bottom: 0;
  border: none;
  border-radius: 7px;
}

.mode-2 .selected::after {
  content: "";
  position: absolute;
  border-radius: 7px;
  left: calc(50% - 17px);
  top: -1px;
  width: 34px;
  height: 3px;
  background: #51B1FE;
}
.mode-2 .selected .main-icon {
  display: block;
}
.mode-2 .selected .selected {
  display: none;
}

.interactive-menu {
  background: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 75;
  opacity: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.interactive-menu .close-interactive {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 76;
}
.interactive-menu .user-interactive {
  position: absolute;
  max-width: 350px;
  width: 100%;
  background: rgb(25, 28, 33);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 77;
  display: flex;
  flex-direction: column;
  bottom: calc(env(safe-area-inset-bottom) + 80px);
}
.interactive-menu .user-interactive .interact-content {
  overflow: hidden;
  position: relative;
  z-index: 2;
  border-radius: 4px;
}
.interactive-menu .user-interactive .btn-inter {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  font-family: Manrope;
  cursor: pointer;
}
.interactive-menu .user-interactive .btn-inter svg {
  fill: #fff;
  -webkit-text-stroke-color: #fff;
  width: 16px;
}
.interactive-menu .user-interactive .line-inter {
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.33);
  display: grid;
}
.interactive-menu .user-interactive .inter-param {
  position: relative;
}
.interactive-menu .user-interactive .inter-param .title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.interactive-menu .user-interactive .inter-param .checkbox {
  position: absolute;
  right: 20px;
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 16px;
  height: 16px;
  background: #C0C0C0;
  border-radius: 3px;
}
.interactive-menu .user-interactive .inter-param .checkbox input {
  display: none;
}
.interactive-menu .user-interactive .inter-param .checkbox .switch-check {
  display: none;
  width: 100%;
  height: 100%;
  background: #3C92ED;
}
.interactive-menu .user-interactive .inter-param .checkbox input:checked + .switch-check {
  display: grid;
}
.interactive-menu .user-interactive .btn-inter.disable-true {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.6);
}
.interactive-menu .user-interactive .btn-inter.disable-true svg {
  fill: rgba(255, 255, 255, 0.6);
}
.interactive-menu .user-interactive .inter-param.disable-true .checkbox {
  background: rgba(192, 192, 192, 0.6);
}
.interactive-menu .user-interactive .triangle {
  position: absolute;
  bottom: -15px;
  fill: #fff;
}

.interactive-menu.hide {
  opacity: 0;
}

body.menuver[data-orientation="90"] .application-menu, body.menuver[data-orientation="270"] .application-menu {
  bottom: 0;
  top: 0;
  padding-bottom: 0;
  padding-top: 0;
  border-top: none;
  flex-direction: column;
  align-items: center;
}
body.menuver[data-orientation="90"] .application-menu .btn-menu:first-child, body.menuver[data-orientation="270"] .application-menu .btn-menu:first-child {
  margin: 0;
}
body.menuver[data-orientation="90"] .application-menu .btn-menu:last-child, body.menuver[data-orientation="270"] .application-menu .btn-menu:last-child {
  margin: 0;
}
body.menuver[data-orientation="90"] {
  margin-left: 75px;
}
body.menuver[data-orientation="90"] .application-menu {
  left: 0;
  right: auto;
  padding-left: 10px;
  border-radius: 0px 7px 7px 0px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
body.menuver[data-orientation="270"] {
  margin-right: 75px;
}
body.menuver[data-orientation="270"] .application-menu {
  left: auto;
  right: 0;
  padding-right: 10px;
  border-radius: 7px 0px 0px 7px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

body.menuver[data-orientation="270"] .interactive-menu .user-interactive {
  right: 90px;
}
body.menuver[data-orientation="270"] .interactive-menu .user-interactive .triangle {
  transform: rotate(-90deg);
  bottom: auto;
  right: -18px;
}
body.menuver[data-orientation="0"] .interactive-menu .user-interactive {
  bottom: calc(env(safe-area-inset-bottom) + 80px);
}
body.menuver[data-orientation="90"] .interactive-menu .user-interactive {
  left: 90px;
}
body.menuver[data-orientation="90"] .interactive-menu .user-interactive .triangle {
  transform: rotate(90deg);
  bottom: auto;
  left: -18px;
}

.card-anime {
  display: grid;
}
.card-anime .card-content {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  max-height: 280px;
  justify-content: center;
  aspect-ratio: 1/1.44;
}
.card-anime .card-content img {
  height: 100%;
  z-index: 3;
}
.card-anime .card-content .blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  filter: blur(5px);
}
.card-anime .card-content .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(16, 19, 24, 0.7);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  text-align: center;
  padding: 10px 0px;
  z-index: 4;
}
.card-anime .card-content .title span {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  color: #fff;
  font-family: "Manrope";
  font-size: 13px;
  justify-content: center;
}
.card-anime .card-content .my-score {
  position: absolute;
  right: 10px;
  top: 10px;
  background: linear-gradient(98.26deg, #51B2FF 0%, #2672DA 100%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 3px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #fff;
  font-family: "Nova Square";
  font-size: 12px;
  z-index: 5;
}
.card-anime .card-content .my-score svg {
  fill: #fff;
  display: none;
}
.card-anime .card-information {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  font-family: "Nova Square";
  font-size: 12px;
}
.card-anime .card-information .score {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.card-anime.hide-anime {
  display: none;
}
.card-anime.hide-search {
  display: none;
}
.card-anime:empty {
  --duration: 1.5s;
  min-height: 308px;
  border-radius: 3px;
  position: relative;
}
.card-anime:empty::after {
  height: 14.5px;
  bottom: 0;
}
.card-anime:empty::before {
  top: 0;
  bottom: 24.5px;
}
.card-anime:empty::before, .card-anime:empty::after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 0.2;
  background: #282D39;
  border-radius: 3px;
  animation: loading var(--duration) infinite;
}

.swiper-slide-active a .card_anime .card_content {
  background: rgba(0, 0, 0, 0.7);
}

@keyframes loading {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
.windowed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  color: #FFF;
  font-family: "Manrope";
  display: block;
  transition: 0.3s ease-in-out;
}

.windowed-right {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Manrope";
  display: block;
  transition: 0.3s ease-in-out;
  z-index: 300;
  color: #FFF;
}

.windowed.hide,
.windowed-right.hide {
  display: none;
}
.windowed.hide .hide-window,
.windowed-right.hide .hide-window {
  opacity: 0;
}
.windowed .hide-window,
.windowed-right .hide-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.windowed-right .window-content {
  background: #101318;
  border-radius: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  overscroll-behavior: contain;
  overflow-y: auto;
  transition: 0.3s ease-in-out;
  transform: translateX(100%);
}
.windowed-right .window-content .content-wraper {
  padding-top: 20px;
  padding-left: calc(env(safe-area-inset-left) + 20px);
  padding-right: calc(env(safe-area-inset-right) + 20px);
  padding-bottom: max(20px, env(safe-area-inset-bottom));
  display: grid;
}
.windowed-right .window-content.hide {
  display: none;
}

.windowed .window-content {
  background: #101318;
  border-radius: 5px 5px 0px 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  right: 0;
  flex-direction: column;
  overflow-y: auto;
  transition: 0.3s ease-in-out;
  transform: translateY(100%);
}
.windowed .window-content .content-wraper {
  padding-left: calc(env(safe-area-inset-left) + 20px);
  padding-right: calc(env(safe-area-inset-right) + 20px);
  padding-top: 20px;
  padding-bottom: max(20px, env(safe-area-inset-bottom));
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.windowed .window-content.hide {
  display: none;
}
.windowed .window-content.border-hide {
  border-radius: 0px 0px 0px 0px;
}

@media screen and (min-width: 900px) {
  .windowed .window-content .content-wraper {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
  }
  .windowed-right .window-content {
    left: auto;
    max-width: 400px;
    width: 100%;
  }
}
.window-voices .window-content,
.window-genres .window-content {
  max-height: calc(100vh - env(safe-area-inset-top));
  overflow-y: hidden;
}
.window-voices .window-content .content-wraper,
.window-genres .window-content .content-wraper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  overflow-y: hidden;
}

@media (orientation: portrait) {
  .window-voices .window-content,
  .window-genres .window-content {
    max-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  }
}
.window-filter .window-content {
  max-height: 100vh;
}
.window-filter .content-wraper > .filter-type {
  display: flex;
  padding: 5px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #282D39;
}
.window-filter .content-wraper > .filter-type > .btn-type {
  display: flex;
  height: 35px;
  padding: 0px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.window-filter .content-wraper > .filter-type > .btn-type.selected {
  background: #101318;
}
.window-filter .content-wraper > .title {
  font-size: 14px;
}
.window-filter .content-wraper > .filter-line {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  overflow-y: auto;
}
.window-filter .content-wraper > .filter-line > div {
  display: flex;
  height: 40px;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #282D39;
  font-weight: 700;
  font-size: 13px;
  white-space: nowrap;
  cursor: pointer;
}
.window-filter .content-wraper > .filter-line > .selected {
  background: #3689E8;
}
.window-filter .content-wraper > .filter-line > .disabled {
  position: relative;
  overflow: hidden;
}
.window-filter .content-wraper > .filter-line > .disabled:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(217, 217, 217, 0.2);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}
.window-filter .content-wraper > .block-score {
  display: flex;
}
.window-filter .content-wraper > .block-score .block-clear-score {
  display: grid;
  place-items: center;
  min-width: 40px;
  min-height: 40px;
  box-shadow: -5px 0px 4px 0px rgba(16, 19, 24, 0.5);
  z-index: 1;
}
.window-filter .content-wraper > .block-score .block-clear-score.disabled svg {
  opacity: 0.25;
}
.window-filter .content-wraper > .block-score .block-clear-score svg {
  width: 14px;
  fill: #fff;
  cursor: pointer;
}
.window-filter .content-wraper > .block-score .score-list {
  display: flex;
  width: 100%;
  height: 40px;
  overflow-x: auto;
  gap: 5px;
}
.window-filter .content-wraper > .block-score .score-list .sc {
  min-width: 40px;
  min-height: 40px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  background: #282D39;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}
.window-filter .content-wraper > .block-score .score-list .sc.selected {
  background: #3689E8;
}
.window-filter .content-wraper > .block-score .score-list .shadow {
  min-width: 5px;
  min-height: 40px;
}
.window-filter .content-wraper > .full-btn {
  display: flex;
  padding: 0px 10px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 5px;
  background: #282D39;
  cursor: pointer;
}
.window-filter .content-wraper > .full-btn > .title {
  font-size: 14px;
}
.window-filter .content-wraper > .full-btn > .info {
  font-size: 12px;
  font-weight: 700;
}

.content-wraper > .window-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.content-wraper > .window-bar .window-title {
  font-size: 14px;
}
.content-wraper > .window-bar .window-close {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.content-wraper > .window-bar .window-close svg {
  fill: #fff;
  width: 10px;
}
.content-wraper > .window-bar .btn-accept {
  display: flex;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 4px;
  background: linear-gradient(135deg, #51B3FF 0%, #3283E4 100%);
  font-size: 13px;
  font-weight: 700;
}
.content-wraper > .window-bar .btn-clear {
  display: grid;
  width: 40px;
  height: 40px;
  place-items: center;
}
.content-wraper > .window-bar .btn-clear svg {
  fill: #fff;
}
.content-wraper > .search-filter {
  position: relative;
  display: flex;
  align-items: center;
}
.content-wraper > .search-filter input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background: #282D39;
  border: none;
  outline: none;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  padding-left: 10px;
}
.content-wraper > .search-filter input::-moz-placeholder {
  padding-left: 25px;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.content-wraper > .search-filter input::placeholder {
  padding-left: 25px;
  transition: 0.3s ease-in-out;
}
@supports (-moz-appearance: none) {
  .content-wraper > .search-filter input:-moz-placeholder-shown {
    padding-left: 40px;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .content-wraper > .search-filter input:placeholder-shown {
    padding-left: 40px;
    transition: 0.3s ease-in-out;
  }
  .content-wraper > .search-filter input:focus:-moz-placeholder-shown {
    padding-left: 10px;
  }
  .content-wraper > .search-filter input:focus:placeholder-shown {
    padding-left: 10px;
  }
}
.content-wraper > .search-filter .icon {
  position: absolute;
  left: 10px;
  display: flex;
  transition: 0.3s ease-in-out;
}
.content-wraper > .search-filter .icon svg {
  width: 16px;
  fill: #fff;
  opacity: 0.7;
}
.content-wraper > .search-filter > input:focus::-moz-placeholder {
  padding-left: 0px;
}
.content-wraper > .search-filter > input:focus::placeholder {
  padding-left: 0px;
}
.content-wraper > .search-filter > input:focus ~ .icon {
  opacity: 0;
}
.content-wraper > .search-filter > input:not(:-moz-placeholder-shown) ~ .icon {
  opacity: 0;
}
.content-wraper > .search-filter > input:not(:placeholder-shown) ~ .icon {
  opacity: 0;
}
.content-wraper > .content-genres {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
}
.content-wraper > .content-genres > div {
  display: flex;
  height: 40px;
  padding: 0px 20px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  background: #282D39;
  cursor: pointer;
}
.content-wraper > .content-genres > div.none {
  display: none;
}
.content-wraper > .content-genres .selected {
  background: #3689E8;
}
.content-wraper > .content-genres .disabled {
  position: relative;
  overflow: hidden;
}
.content-wraper > .content-genres .disabled:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(217, 217, 217, 0.2);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}
.content-wraper > .content-voices {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}
.content-wraper > .content-voices .voice {
  min-height: 45px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #282D39;
  border-radius: 4px;
  padding: 0px 10px;
}
.content-wraper > .content-voices .voice .title {
  font-size: 16px;
}
.content-wraper > .content-voices .voice .coint {
  font-size: 13px;
  color: #51B3FF;
}
.content-wraper > .content-voices .voice.selected {
  background: #3689E8;
}
.content-wraper > .content-voices .voice.none {
  display: none;
}

.card-anime {
  min-width: 195px;
  margin-right: 10px;
}

body[data-orientation="90"] header {
  margin-left: 10px;
}
body[data-orientation="90"] main {
  margin-left: 10px;
}
body[data-orientation="270"] header {
  margin-right: 10px;
}
body[data-orientation="270"] main {
  margin-right: 10px;
}