.application-menu {
  position: fixed;
  bottom: 0;
  padding-bottom: env(safe-area-inset-bottom);
  left: 0;
  right: 0;
  background: #1E1F25;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px 7px 0px 0px;
  z-index: 80;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.application-menu .btn-menu {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.application-menu .btn-menu .selected {
  display: none;
  fill: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
}
.application-menu .btn-menu svg {
  fill: #fff;
  height: 26px;
  color: #fff;
}
.application-menu .btn-menu:first-child {
  margin-left: 10px;
}
.application-menu .btn-menu:last-child {
  margin-right: 10px;
}
.application-menu .primary {
  background: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
  border-radius: 4px;
}
.application-menu .selected {
  position: relative;
}
.application-menu .selected .main-icon {
  display: none;
}
.application-menu .selected .selected {
  display: block;
}

.mode-1 {
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding-bottom: 0;
  border: none;
  border-radius: 7px;
}

.mode-2 .selected::after {
  content: "";
  position: absolute;
  border-radius: 7px;
  left: calc(50% - 17px);
  top: -1px;
  width: 34px;
  height: 3px;
  background: #51B1FE;
}
.mode-2 .selected .main-icon {
  display: block;
}
.mode-2 .selected .selected {
  display: none;
}

.interactive-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 78;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.interactive-menu .close-interactive {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 79;
}
.interactive-menu .user-interactive {
  position: absolute;
  left: calc(env(safe-area-inset-left) + 20px);
  right: calc(env(safe-area-inset-right) + 20px);
  background: #1E1F25;
  color: #fff;
  font-family: Manrope;
  bottom: calc(env(safe-area-inset-bottom) + 80px);
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border-radius: 4px;
  z-index: 80;
}
.interactive-menu .user-interactive .btn-inter {
  display: flex;
  gap: 20px;
  padding: 15px 0;
  font-size: 15px;
  cursor: pointer;
}
.interactive-menu .user-interactive .btn-inter svg {
  fill: #fff;
  -webkit-text-stroke-color: #fff;
  width: 16px;
}

body {
  background: #101318;
  max-width: 1100px;
  margin: 0 auto;
}

body.state_result .phone_menu,
body.state_focus .phone_menu,
body.state_search .phone_menu {
  display: none;
}

body.state_search {
  overflow-y: hidden;
}

.btn {
  overflow: hidden;
  min-width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #51B2FF 0%, #2672DA 95.83%);
  display: grid;
  place-items: center;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn svg {
  height: 18px;
  fill: #fff;
}

header,
main,
.common {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  font-family: Manrope;
}

main {
  flex-direction: column;
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

.search {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  width: 100%;
}
.search .input-search {
  width: 100%;
  position: relative;
  display: flex;
  place-items: center;
  height: 40px;
}
.search .input-search input {
  width: 100%;
  border-radius: 7px;
  height: 40px;
  border: none;
  background: #282D39;
  color: #fff;
  padding-left: 10px;
  font-family: Manrope;
  outline: none;
}
.search .input-search input::-moz-placeholder {
  padding-left: 30px;
  color: #fff;
  opacity: 0.7;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.search .input-search input::placeholder {
  padding-left: 30px;
  color: #fff;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.search .input-search .btn {
  position: absolute;
  right: 0;
  background: transparent;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
  display: none;
}
.search .input-search .icon {
  position: absolute;
  left: 10px;
  display: flex;
  transition: 0.3s ease-in-out;
}
.search .input-search .icon svg {
  width: 16px;
  fill: #fff;
  opacity: 0.7;
}
.search .input-search .filter-dub {
  display: none;
  align-items: center;
  font-size: 12px;
  position: absolute;
  left: 10px;
  border-radius: 3px;
}
.search .input-search .filter-dub .pre {
  background: #5fbef3;
  color: #101318;
  padding: 2px 4px;
  font-weight: bold;
}
.search .input-search .filter-dub .dub {
  color: #fff;
  margin-left: 5px;
}
.search .input-search > input:focus::-moz-placeholder {
  padding-left: 0px;
}
.search .input-search > input:focus::placeholder {
  padding-left: 0px;
}
.search .input-search input:focus ~ .icon {
  opacity: 0;
}
.search .input-search input:not(:-moz-placeholder-shown) ~ .icon {
  opacity: 0;
}
.search .input-search input:not(:placeholder-shown) ~ .icon {
  opacity: 0;
}
.search .input-search.dub-filter input::-moz-placeholder {
  opacity: 0;
}
.search .input-search.dub-filter input::placeholder {
  opacity: 0;
}
.search .input-search.dub-filter .filter-dub {
  display: flex;
}
.search .input-search.dub-filter .icon {
  display: none;
}

.search.state_common .btn-back {
  width: 0px;
  min-width: 0px;
  max-width: 0px;
  margin-right: 0;
}

.search.state_focus .btn-back {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  margin-right: 10px;
}

.search.state_search .btn-back {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  margin-right: 10px;
}

.search.state_result .btn-back {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  margin-right: 10px;
}

main.state_common .result {
  display: none;
}
main.state_common .search--loading {
  max-height: 0px;
  overflow: hidden;
}

main.state_focus .recomend {
  max-height: 0px;
  overflow: hidden;
}
main.state_focus .genres,
main.state_focus .voice {
  max-height: 0px;
  overflow: hidden;
}
main.state_focus .search--loading {
  max-height: 0px;
  overflow: hidden;
}

main.state_search .recomend,
main.state_search .history,
main.state_search .genres,
main.state_search .voice,
main.state_search .github {
  max-height: 0px;
  overflow: hidden;
}

main.state_result .recomend,
main.state_result .history,
main.state_result .genres,
main.state_result .voice {
  max-height: 0px;
  overflow: hidden;
}
main.state_result .search--loading {
  max-height: 0px;
  overflow: hidden;
}

.recomend {
  display: flex;
  width: 100%;
  color: #fff;
  transition: 0.3s ease-in-out;
  max-height: 400px;
}
.recomend > .title {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.recomend > .title .status {
  opacity: 0.4;
  font-size: 12px;
}
.recomend .content {
  position: relative;
  display: flex;
  margin-top: 20px;
  min-height: 200px;
  width: 100%;
  max-width: 1100px;
  overflow-x: scroll;
}
.recomend .content > .loading {
  width: 100%;
  height: 305px;
  background: linear-gradient(135deg, #51b2ff 0%, #1f62be 95.83%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: gradient 3s infinite linear;
  position: relative;
  border-radius: 7px;
  margin-left: 20px;
  margin-right: 20px;
}
.recomend .content > .loading svg {
  width: 50px;
  fill: #fff;
  animation: rotate 3s ease-in-out infinite;
  position: relative;
}
.recomend .content > .loading h1 {
  font-size: 60px;
  opacity: 0.4;
}
.recomend .content > .loading h2 {
  font-size: 16px;
  text-align: center;
  opacity: 0.4;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}
.recomend .content > a {
  margin-right: 10px;
}
.recomend .content > a:nth-child(1) {
  margin-left: 20px;
}
.recomend .content > a:empty {
  border-radius: 7px;
  display: flex;
  background: #fff;
  min-width: 191px;
  margin-right: 10px;
  height: 270px;
  opacity: 0.04;
  animation: loading 1.5s infinite;
}
.recomend .content > a:last-child {
  padding-right: 20px;
}

.genres,
.voice {
  max-height: 250px;
  transition: 0.3s ease-in-out;
}

.genres,
.voice {
  display: flex;
}
.genres .title,
.voice .title {
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
}
.genres .content,
.voice .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.genres .content .block--1,
.genres .content .block--2,
.genres .content .block--3,
.voice .content .block--1,
.voice .content .block--2,
.voice .content .block--3 {
  display: flex;
  margin-top: 10px;
}
.genres .content .block--1 > div:first-child,
.genres .content .block--2 > div:first-child,
.genres .content .block--3 > div:first-child,
.voice .content .block--1 > div:first-child,
.voice .content .block--2 > div:first-child,
.voice .content .block--3 > div:first-child {
  margin-left: 20px;
}
.genres .content .block--1 > div:last-child,
.genres .content .block--2 > div:last-child,
.genres .content .block--3 > div:last-child,
.voice .content .block--1 > div:last-child,
.voice .content .block--2 > div:last-child,
.voice .content .block--3 > div:last-child {
  margin-right: 20px;
}
.genres .content .block--1 > div,
.genres .content .block--2 > div,
.genres .content .block--3 > div,
.voice .content .block--1 > div,
.voice .content .block--2 > div,
.voice .content .block--3 > div {
  display: flex;
  color: #A9AAAC;
  background: #282B2F;
  align-items: center;
  border-radius: 5px;
  height: 35px;
  padding-left: 25px;
  white-space: nowrap;
  padding-right: 25px;
  margin-right: 10px;
  font-size: 16px;
}
.genres .content .block--1 > div.selected,
.genres .content .block--2 > div.selected,
.genres .content .block--3 > div.selected,
.voice .content .block--1 > div.selected,
.voice .content .block--2 > div.selected,
.voice .content .block--3 > div.selected {
  background: #18222F;
}
.genres .content .block--1 > div > div,
.genres .content .block--2 > div > div,
.genres .content .block--3 > div > div,
.voice .content .block--1 > div > div,
.voice .content .block--2 > div > div,
.voice .content .block--3 > div > div {
  color: #398BE0;
  font-size: 12px;
  margin-left: 10px;
}

.result {
  margin-right: 20px;
  margin-top: 20px;
}
.result .content {
  display: grid;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(191px, 1fr));
}

.response-anime {
  overflow: hidden;
  font-family: Manrope;
  cursor: pointer;
}
.response-anime .preview {
  display: flex;
  height: 300px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.response-anime .preview img {
  width: 100%;
}
.response-anime .preview .title {
  position: absolute;
  font-weight: bold;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  color: #fff;
  font-size: 13px;
}
.response-anime .hor img {
  width: auto;
  height: 100%;
}
.response-anime .info {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.response-anime .info span.score {
  display: flex;
  align-items: center;
}
.response-anime .info span.score svg {
  width: 10px;
  margin-right: 5px;
  fill: #FFE600;
}

.github {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Manrope;
  margin-top: 50px;
  color: #404246;
}
.github svg {
  height: 50px;
  fill: #404246;
}
.github .title {
  margin-top: 10px;
}

.result {
  margin-left: 20px;
  color: #fff;
}

.history {
  display: flex;
}
.history > .title {
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
}
.history .content {
  margin-top: 10px;
  position: relative;
  display: flex;
  overflow-x: scroll;
}
.history .content a {
  margin-right: 10px;
}
.history .content a:empty {
  border-radius: 7px;
  display: flex;
  background: #fff;
  min-width: 191px;
  margin-right: 10px;
  height: 270px;
  opacity: 0.04;
  animation: loading 1.5s infinite;
}
.history .content a:nth-child(1) {
  margin-left: 20px;
}

footer {
  margin-top: 110px;
}

.card-anime {
  display: grid;
  overflow: hidden;
}
.card-anime .card-content {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  max-height: 280px;
  justify-content: center;
}
.card-anime .card-content img {
  height: 100%;
}
.card-anime .card-content .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(16, 19, 24, 0.7);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  text-align: center;
  padding: 10px 0px;
}
.card-anime .card-content .title span {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  color: #fff;
  font-family: "Manrope";
  font-size: 13px;
  justify-content: center;
}
.card-anime .card-content .my-score {
  position: absolute;
  right: 10px;
  top: 10px;
  background: linear-gradient(98.26deg, #51B2FF 0%, #2672DA 100%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 3px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #FFFFFF;
  font-family: "Nova Square";
  font-size: 12px;
}
.card-anime .card-information {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  font-family: "Nova Square";
  font-size: 12px;
}
.card-anime .card-information .score {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.card-anime.hide-anime {
  display: none;
}
.card-anime.hide-search {
  display: none;
}
.card-anime:empty {
  min-height: 308px;
  border-radius: 3px;
  position: relative;
}
.card-anime:empty::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 14.5px;
  background: #282D39;
  bottom: 0;
  border-radius: 3px;
  animation: loading 1.5s infinite;
  transition: 0.1s ease-in-out;
}
.card-anime:empty::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 24.5px;
  background: #282D39;
  border-radius: 3px;
  animation: loading 1.5s infinite;
}

.swiper-slide-active a .card_anime .card_content {
  background: rgba(0, 0, 0, 0.7);
}

.card-anime {
  min-width: 195px;
  margin-right: 10px;
}

.search--loading {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 0px;
  max-height: 300px;
  transition: 0.3s ease-in-out;
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@media screen and (max-width: 500px) {
  .result .content {
    grid-template-columns: 1fr 1fr;
  }
  .response-anime .preview {
    height: 240px;
  }
}
@keyframes loading {
  0% {
    opacity: 0.04;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.04;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}