@charset "UTF-8";
:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: inherit;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

body {
  background: #101318;
  -webkit-text-size-adjust: none;
  /* Запрещает автоматическое изменение размера текста */
  overflow-y: hidden;
}

.app-scrollable {
  width: 100dvw;
  height: 100dvh;
  max-height: 100dvh;
  max-width: 100dvw;
  overflow-y: scroll;
}
.app-scrollable .app-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: max(20px, var(--menu-height-safe));
  font-family: "Manrope", sans-serif;
}

/**
    header.-sticky -> Закрепляет элемент сверху
**/
header {
  --z-index: 10;
  --padding: 20px;
  display: grid;
  padding: 10px var(--padding) 0px var(--padding);
  z-index: var(--z-index);
}
header .head-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
  min-height: 55px;
}
header .head-wrapper .profile {
  --p-ava-size: 55px;
  --p-c-width: auto;
  --p-c-scale: 1;
  --p-c-opacity: 1;
  --p-c-x: 0px;
  --p-gap: 10px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  gap: var(--p-gap);
}
header .head-wrapper .profile .ava-wrapper {
  --p-ava-img: url("/images/ava.jpeg");
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  width: var(--p-ava-size);
  height: var(--p-ava-size);
  padding: 3px;
  border: 2px solid #2393F1;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
header .head-wrapper .profile .ava-wrapper .ava {
  aspect-ratio: 1/1;
  width: 100%;
  position: relative;
  z-index: 2;
  border-radius: 50%;
  background-image: var(--p-ava-img);
  background-size: cover;
}
header .head-wrapper .profile .profile-content {
  display: flex;
  flex-direction: column;
  width: var(--p-c-width);
  color: #FFFFFF;
  scale: var(--p-c-scale);
  opacity: var(--p-c-opacity);
  transform: translateX(var(--p-c-x));
}
header .head-wrapper .profile .profile-content .page-title {
  font-size: 16px;
  font-weight: bold;
  text-wrap: nowrap;
}
header .head-wrapper .profile .profile-content .username {
  font-size: 14px;
  opacity: 0.5;
  text-wrap: nowrap;
}
header .head-wrapper .quick-panel {
  --input-placeholder-opacity: 1;
  --input-scale: 1;
  --panel-max-width: 355px;
  --panel-min-width: 97px;
  --panel-safe-zone: 55px;
  display: flex;
  justify-content: end;
  max-width: var(--panel-max-width);
  width: 100%;
  position: absolute;
  right: 0;
  gap: 5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header .head-wrapper .quick-panel #account-edit {
  display: grid;
  place-items: center;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #191C21;
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
header .head-wrapper .quick-panel #account-edit .ticon {
  background-color: #d6d6d6;
  height: 16px;
}
header .head-wrapper .quick-panel #page-search {
  display: grid;
  position: relative;
  width: 100%;
  max-width: 300px;
  min-width: 40px;
  cursor: pointer;
  transform: scale(var(--input-scale));
}
header .head-wrapper .quick-panel #page-search .i-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}
header .head-wrapper .quick-panel #page-search .i-wrapper .c-wrapper {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  transition: 0.1 ease-in-out;
}
header .head-wrapper .quick-panel #page-search .i-wrapper .c-wrapper.-clear .i-search {
  top: -40px;
}
header .head-wrapper .quick-panel #page-search .i-wrapper .c-wrapper.-clear .i-clear {
  top: 0;
}
header .head-wrapper .quick-panel #page-search .i-wrapper .c-wrapper .icon-state {
  position: absolute;
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  transition: 0.3s ease-in-out;
}
header .head-wrapper .quick-panel #page-search .i-wrapper .c-wrapper .i-search {
  top: 0;
}
header .head-wrapper .quick-panel #page-search .i-wrapper .c-wrapper .i-clear {
  top: -40px;
}
header .head-wrapper .quick-panel #page-search .i-wrapper .ticon {
  background-color: #d6d6d6;
  height: 16px;
}
header .head-wrapper .quick-panel #page-search .i-wrapper .ticon.i-xmark {
  height: 18px;
}
header .head-wrapper .quick-panel.-mini {
  flex: none;
  max-width: none;
  width: auto;
  --input-placeholder-opacity: 0;
}
header .head-wrapper .quick-panel.-mini #page-search {
  max-width: 40px;
}
header .head-wrapper .quick-panel.-mini #page-search input {
  pointer-events: none;
}
header .head-wrapper .quick-panel.-enable #page-search {
  max-width: none !important;
}
header .head-wrapper .quick-panel.-enable #page-search input {
  pointer-events: all !important;
}
header .head-wrapper .quick-panel #page-search input {
  width: 100%;
  height: 40px;
  background: #191C21;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  padding-left: 15px;
  border-radius: 20px;
  font-size: 14px;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
header .head-wrapper .quick-panel #page-search input:focus {
  border: 0.2px solid #2394f1;
}
header .head-wrapper .quick-panel #page-search input::-moz-placeholder {
  opacity: var(--input-placeholder-opacity);
}
header .head-wrapper .quick-panel #page-search input::placeholder {
  opacity: var(--input-placeholder-opacity);
}
header.-sticky {
  position: sticky;
  top: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
main .block-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .block-wrapper > .title {
  color: #FFFFFF;
  margin: 0 30px;
  font-weight: bold;
  font-size: 16px;
}
main .block-wrapper .params-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
main .block-wrapper .checkbox-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
main .block-wrapper .checkbox-wrapper .tips {
  padding: 7px 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
main .block-wrapper .checkbox-wrapper .checkbox {
  background: #191C21;
  overflow: hidden;
  color: #FFFFFF;
  display: flex;
  border-radius: 5px;
  height: 52px;
  padding-right: 5px;
  align-items: center;
  position: relative;
}
main .block-wrapper .checkbox-wrapper .checkbox::after {
  transition: 0.3s ease-in-out;
  position: absolute;
  content: "";
  inset: 0;
  background: rgba(255, 255, 255, 0);
  border: 0.2px solid rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  pointer-events: none;
  border-radius: 5px;
}
main .block-wrapper .checkbox-wrapper .checkbox .btn {
  width: 52px;
  height: 52px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
main .block-wrapper .checkbox-wrapper .checkbox .btn .ticon {
  background-color: #FFFFFF;
  height: 15px;
  transition: 0.3s cubic-bezier(0.29, -0.81, 0.42, 1.68);
}
main .block-wrapper .checkbox-wrapper .checkbox label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  flex: 1 0 0;
}
main .block-wrapper .checkbox-wrapper .checkbox label input {
  display: none;
}
main .block-wrapper .checkbox-wrapper .checkbox label .title {
  font-size: 14px;
}
main .block-wrapper .checkbox-wrapper .checkbox label .switch-slider {
  position: relative;
  width: 58px;
  min-height: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  background: #525252;
  transition: 0.3s cubic-bezier(0.29, -0.81, 0.42, 1.68);
  overflow: hidden;
}
main .block-wrapper .checkbox-wrapper .checkbox label .switch-slider::after {
  content: "";
  position: absolute;
  transition: 0.3s cubic-bezier(0.29, -0.81, 0.42, 1.68);
  width: 24px;
  height: 24px;
  border: 5px solid #FFFFFF;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  left: 5px;
}
main .block-wrapper .checkbox-wrapper .checkbox label input:checked + .switch-slider {
  background: #2393F1;
}
main .block-wrapper .checkbox-wrapper .checkbox label input:checked + .switch-slider::after {
  left: 29px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
  border: 12px solid #FFFFFF;
}
main .block-wrapper .checkbox-wrapper.-hide .tips {
  opacity: 0;
  padding: 0px 10px;
  height: 0px;
}
main .block-wrapper .checkbox-wrapper:not(main .block-wrapper .checkbox-wrapper.-hide) .checkbox .btn .ticon {
  transform: rotate(90deg);
}
main .block-wrapper .checkbox-wrapper.-disable {
  pointer-events: none;
}
main .block-wrapper .checkbox-wrapper.-disable > .checkbox::after {
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.11);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
main .block-wrapper .checkbox-wrapper.-load > .checkbox label {
  pointer-events: none;
}
main .block-wrapper .checkbox-wrapper.-load > .checkbox label > .checkbox .switch-slider {
  width: 34px;
}
main .block-wrapper .checkbox-wrapper.-load > .checkbox label > .checkbox .switch-slider::after {
  border: 3px solid #FFFFFF;
  border-right-color: transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main .block-wrapper .btn-value-wrapper {
  --color: #FFFFFF;
  margin: 0 20px;
}
main .block-wrapper .btn-value-wrapper .btn {
  display: flex;
  background: #191C21;
  color: var(--color);
  overflow: hidden;
  border-radius: 5px;
  padding-right: 10px;
  cursor: pointer;
}
main .block-wrapper .btn-value-wrapper .btn .icon {
  width: 52px;
  height: 52px;
  display: grid;
  place-items: center;
}
main .block-wrapper .btn-value-wrapper .btn .icon .ticon {
  background-color: var(--color);
  height: 15px;
}
main .block-wrapper .btn-value-wrapper .btn label {
  display: flex;
  flex: 1 0 0;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
main .block-wrapper .btn-value-wrapper .btn label .title {
  font-size: 14px;
}
main .block-wrapper .btn-value-wrapper .btn label .value {
  color: rgba(255, 255, 255, 0.35);
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 58px;
  text-align: center;
}
main .block-wrapper .btn-value-wrapper .btn label .value.-load {
  display: grid;
  place-items: center;
  height: 32px;
  width: 32px;
}
main .block-wrapper .btn-value-wrapper.-disable {
  pointer-events: none;
}
main .block-wrapper .btn-value-wrapper.-disable > .btn {
  position: relative;
}
main .block-wrapper .btn-value-wrapper.-disable > .btn::after {
  border: 1px solid rgba(98, 98, 98, 0.5);
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.11);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
main .block-wrapper .loader {
  width: 14px;
  height: 14px;
  border: 3px solid rgba(255, 255, 255, 0.35);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main .block-wrapper .img-select-wrapper {
  overflow: hidden;
}
main .block-wrapper .img-select-wrapper .button-wrapper {
  padding: 0 20px;
}
main .block-wrapper .img-select-wrapper .btn {
  display: flex;
  background: #191C21;
  color: #FFFFFF;
  overflow: hidden;
  border-radius: 5px;
  padding-right: 10px;
  cursor: pointer;
}
main .block-wrapper .img-select-wrapper .btn .icon {
  width: 52px;
  height: 52px;
  display: grid;
  place-items: center;
}
main .block-wrapper .img-select-wrapper .btn .icon .ticon {
  background-color: #FFFFFF;
  height: 15px;
  transition: 0.3s cubic-bezier(0.29, -0.81, 0.42, 1.68);
}
main .block-wrapper .img-select-wrapper .btn label {
  display: flex;
  flex: 1 0 0;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
main .block-wrapper .img-select-wrapper .btn label .title {
  font-size: 14px;
}
main .block-wrapper .img-select-wrapper .btn label .value {
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  opacity: 0.35;
  text-transform: capitalize;
  min-width: 58px;
  text-align: center;
}
main .block-wrapper .img-select-wrapper .scroll {
  overflow-x: scroll;
}
main .block-wrapper .img-select-wrapper .scroll .tip {
  position: sticky;
  left: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  margin: 5px 0;
  padding: 0 30px;
}
main .block-wrapper .img-select-wrapper .list {
  display: inline-flex;
  padding: 5px 20px 0px 20px;
  gap: 5px;
}
main .block-wrapper .img-select-wrapper .list .element-wrapper {
  display: flex;
  align-items: flex-end;
  position: relative;
  background: #101318;
  width: 230px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: 0.3s ease-in-out;
}
main .block-wrapper .img-select-wrapper .list .element-wrapper .bg {
  position: absolute;
  inset: -10px;
  background-image: var(--bg);
  background-size: 100%;
  background-position: top center;
}
main .block-wrapper .img-select-wrapper .list .element-wrapper .value {
  z-index: 1;
  padding: 15px;
  position: relative;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
main .block-wrapper .img-select-wrapper .list .element-wrapper.-select {
  border: 1px solid #15334E;
}
main .block-wrapper .img-select-wrapper .list .element-wrapper.-select .value {
  color: #2393F1;
}
main .block-wrapper .img-select-wrapper.-hide .scroll {
  height: 0px;
  opacity: 0;
}
main .block-wrapper .img-select-wrapper:not(main .block-wrapper .img-select-wrapper.-hide) .button-wrapper .btn .icon .ticon {
  transform: rotate(90deg);
}
main .block-wrapper .img-select-wrapper.-mode-1 .list .element-wrapper {
  flex-direction: column;
  align-items: normal;
  padding: 11px;
  gap: 10px;
  height: 175px;
}
main .block-wrapper .img-select-wrapper.-mode-1 .list .element-wrapper .bg {
  display: flex;
  flex: 1 0 0;
  position: relative;
  inset: auto;
  background-position: center;
  background-size: 150%;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
main .block-wrapper .img-select-wrapper.-mode-1 .list .element-wrapper .value {
  padding: 0;
}
main .block-wrapper .button-tips-wrapper {
  --color: #FFFFFF;
  margin: 0 20px;
}
main .block-wrapper .button-tips-wrapper .tips {
  padding: 7px 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
main .block-wrapper .button-tips-wrapper .btn {
  display: flex;
  background: #191C21;
  color: var(--color);
  overflow: hidden;
  border-radius: 5px;
  padding-right: 10px;
  cursor: pointer;
}
main .block-wrapper .button-tips-wrapper .btn .icon {
  width: 52px;
  height: 52px;
  display: grid;
  place-items: center;
}
main .block-wrapper .button-tips-wrapper .btn .icon .ticon {
  background-color: var(--color);
  height: 15px;
  transition: 0.3s cubic-bezier(0.29, -0.81, 0.42, 1.68);
}
main .block-wrapper .button-tips-wrapper .btn label {
  display: flex;
  flex: 1 0 0;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
main .block-wrapper .button-tips-wrapper .btn label .title {
  font-size: 14px;
}
main .block-wrapper .button-tips-wrapper .btn label .value {
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  opacity: 0.35;
  text-transform: uppercase;
  min-width: 58px;
  text-align: center;
}
main .block-wrapper .button-tips-wrapper.-hide .tips {
  opacity: 0;
  padding: 0px 10px;
  height: 0px;
}
main .block-wrapper .button-tips-wrapper:not(main .block-wrapper .button-tips-wrapper.-hide) .btn .icon .ticon {
  transform: rotate(90deg);
}
main .block-wrapper .select-wrapper {
  padding: 0 20px;
}
main .block-wrapper .select-wrapper > .btn {
  background: #191C21;
  overflow: hidden;
  color: #FFFFFF;
  display: flex;
  border-radius: 5px;
  height: 52px;
  padding-right: 5px;
  align-items: center;
}
main .block-wrapper .select-wrapper > .btn .icon {
  width: 52px;
  height: 52px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
main .block-wrapper .select-wrapper > .btn .icon .ticon {
  background-color: #FFFFFF;
  height: 15px;
  transition: 0.3s cubic-bezier(0.29, -0.81, 0.42, 1.68);
}
main .block-wrapper .select-wrapper > .btn label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  flex: 1 0 0;
}
main .block-wrapper .select-wrapper > .btn label .title {
  font-size: 14px;
}
main .block-wrapper .select-wrapper > .btn label .control {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
}
main .block-wrapper .select-wrapper > .btn label .control .btn {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
main .block-wrapper .select-wrapper > .btn label .control .btn .ticon {
  background-color: #FFFFFF;
  height: 15px;
}
main .block-wrapper .select-wrapper.-disable {
  pointer-events: none;
}
main .block-wrapper .select-wrapper.-disable > .btn {
  position: relative;
}
main .block-wrapper .select-wrapper.-disable > .btn::after {
  border: 1px solid rgba(98, 98, 98, 0.5);
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.11);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
main .block-wrapper .button-wrapper {
  padding: 0 20px;
}
main .block-wrapper .button-wrapper .o-button {
  background: #191C21;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #FFFFFF;
  height: 52px;
  gap: 5px;
  border-radius: 5px;
  cursor: pointer;
}
main .block-wrapper .button-wrapper .o-button .icon {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
}
main .block-wrapper .button-wrapper .o-button .icon .ticon {
  height: 15px;
  background-color: #FFFFFF;
}

div[param] {
  transition: 0.3s ease-in-out;
  border: 0px solid rgba(35, 148, 241, 0.5);
}

.-search {
  border: 1px solid rgba(35, 148, 241, 0.5) !important;
}
.-search.-current {
  border: 1px solid #2394f1 !important;
}

.i-caret-right {
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>');
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>');
  aspect-ratio: 1/2;
}

.i-database {
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M448 80l0 48c0 44.2-100.3 80-224 80S0 172.2 0 128L0 80C0 35.8 100.3 0 224 0S448 35.8 448 80zM393.2 214.7c20.8-7.4 39.9-16.9 54.8-28.6L448 288c0 44.2-100.3 80-224 80S0 332.2 0 288L0 186.1c14.9 11.8 34 21.2 54.8 28.6C99.7 230.7 159.5 240 224 240s124.3-9.3 169.2-25.3zM0 346.1c14.9 11.8 34 21.2 54.8 28.6C99.7 390.7 159.5 400 224 400s124.3-9.3 169.2-25.3c20.8-7.4 39.9-16.9 54.8-28.6l0 85.9c0 44.2-100.3 80-224 80S0 476.2 0 432l0-85.9z"/></svg>');
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M448 80l0 48c0 44.2-100.3 80-224 80S0 172.2 0 128L0 80C0 35.8 100.3 0 224 0S448 35.8 448 80zM393.2 214.7c20.8-7.4 39.9-16.9 54.8-28.6L448 288c0 44.2-100.3 80-224 80S0 332.2 0 288L0 186.1c14.9 11.8 34 21.2 54.8 28.6C99.7 230.7 159.5 240 224 240s124.3-9.3 169.2-25.3zM0 346.1c14.9 11.8 34 21.2 54.8 28.6C99.7 390.7 159.5 400 224 400s124.3-9.3 169.2-25.3c20.8-7.4 39.9-16.9 54.8-28.6l0 85.9c0 44.2-100.3 80-224 80S0 476.2 0 432l0-85.9z"/></svg>');
  aspect-ratio: 7/8;
}

.i-right-from-bracket {
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>');
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>');
}

.i-box-open {
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M58.9 42.1c3-6.1 9.6-9.6 16.3-8.7L320 64 564.8 33.4c6.7-.8 13.3 2.7 16.3 8.7l41.7 83.4c9 17.9-.6 39.6-19.8 45.1L439.6 217.3c-13.9 4-28.8-1.9-36.2-14.3L320 64 236.6 203c-7.4 12.4-22.3 18.3-36.2 14.3L37.1 170.6c-19.3-5.5-28.8-27.2-19.8-45.1L58.9 42.1zM321.1 128l54.9 91.4c14.9 24.8 44.6 36.6 72.5 28.6L576 211.6l0 167c0 22-15 41.2-36.4 46.6l-204.1 51c-10.2 2.6-20.9 2.6-31 0l-204.1-51C79 419.7 64 400.5 64 378.5l0-167L191.6 248c27.8 8 57.6-3.8 72.5-28.6L318.9 128l2.2 0z"/></svg>');
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M58.9 42.1c3-6.1 9.6-9.6 16.3-8.7L320 64 564.8 33.4c6.7-.8 13.3 2.7 16.3 8.7l41.7 83.4c9 17.9-.6 39.6-19.8 45.1L439.6 217.3c-13.9 4-28.8-1.9-36.2-14.3L320 64 236.6 203c-7.4 12.4-22.3 18.3-36.2 14.3L37.1 170.6c-19.3-5.5-28.8-27.2-19.8-45.1L58.9 42.1zM321.1 128l54.9 91.4c14.9 24.8 44.6 36.6 72.5 28.6L576 211.6l0 167c0 22-15 41.2-36.4 46.6l-204.1 51c-10.2 2.6-20.9 2.6-31 0l-204.1-51C79 419.7 64 400.5 64 378.5l0-167L191.6 248c27.8 8 57.6-3.8 72.5-28.6L318.9 128l2.2 0z"/></svg>');
  aspect-ratio: 5/4;
}

.i-file-arrow-up {
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-288-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM216 408c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-102.1-31 31c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l72-72c9.4-9.4 24.6-9.4 33.9 0l72 72c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-31-31L216 408z"/></svg>');
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-288-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM216 408c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-102.1-31 31c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l72-72c9.4-9.4 24.6-9.4 33.9 0l72 72c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-31-31L216 408z"/></svg>');
  aspect-ratio: 3/4;
}

.i-file-arrow-down {
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-288-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM216 232l0 102.1 31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31L168 232c0-13.3 10.7-24 24-24s24 10.7 24 24z"/></svg>');
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-288-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM216 232l0 102.1 31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31L168 232c0-13.3 10.7-24 24-24s24 10.7 24 24z"/></svg>');
  aspect-ratio: 3/4;
}

.i-boxes-stacked {
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M248 0L208 0c-26.5 0-48 21.5-48 48l0 112c0 35.3 28.7 64 64 64l128 0c35.3 0 64-28.7 64-64l0-112c0-26.5-21.5-48-48-48L328 0l0 80c0 8.8-7.2 16-16 16l-48 0c-8.8 0-16-7.2-16-16l0-80zM64 256c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l160 0c35.3 0 64-28.7 64-64l0-128c0-35.3-28.7-64-64-64l-40 0 0 80c0 8.8-7.2 16-16 16l-48 0c-8.8 0-16-7.2-16-16l0-80-40 0zM352 512l160 0c35.3 0 64-28.7 64-64l0-128c0-35.3-28.7-64-64-64l-40 0 0 80c0 8.8-7.2 16-16 16l-48 0c-8.8 0-16-7.2-16-16l0-80-40 0c-15 0-28.8 5.1-39.7 13.8c4.9 10.4 7.7 22 7.7 34.2l0 160c0 12.2-2.8 23.8-7.7 34.2C323.2 506.9 337 512 352 512z"/></svg>');
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M248 0L208 0c-26.5 0-48 21.5-48 48l0 112c0 35.3 28.7 64 64 64l128 0c35.3 0 64-28.7 64-64l0-112c0-26.5-21.5-48-48-48L328 0l0 80c0 8.8-7.2 16-16 16l-48 0c-8.8 0-16-7.2-16-16l0-80zM64 256c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l160 0c35.3 0 64-28.7 64-64l0-128c0-35.3-28.7-64-64-64l-40 0 0 80c0 8.8-7.2 16-16 16l-48 0c-8.8 0-16-7.2-16-16l0-80-40 0zM352 512l160 0c35.3 0 64-28.7 64-64l0-128c0-35.3-28.7-64-64-64l-40 0 0 80c0 8.8-7.2 16-16 16l-48 0c-8.8 0-16-7.2-16-16l0-80-40 0c-15 0-28.8 5.1-39.7 13.8c4.9 10.4 7.7 22 7.7 34.2l0 160c0 12.2-2.8 23.8-7.7 34.2C323.2 506.9 337 512 352 512z"/></svg>');
  aspect-ratio: 9/8;
}

:root {
  --sab: env(safe-area-inset-bottom);
}

.popup {
  --z: 11;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z);
}
.popup .popup-content {
  background: #2393F1;
  color: #fff;
  font-family: Manrope;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 11px;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.368627451);
  position: relative;
}
.popup .popup-content img {
  position: absolute;
  top: -23px;
  width: 30px;
  right: 20px;
}
.popup.popup-menu-none {
  bottom: -40px;
}
.popup.popup-menu-visible {
  bottom: calc(env(safe-area-inset-bottom) - 40px);
}

body.-noscrol {
  overflow: hidden !important;
}

.windowed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  color: #FFF;
  font-family: "Manrope";
  display: block;
  transition: 0.3s ease-in-out;
}
.windowed.-v2, .windowed.-v2 > .hide-window, .windowed.-v2 > .window-content {
  transition: none !important;
}

.windowed-right {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Manrope";
  display: block;
  transition: 0.3s ease-in-out;
  z-index: 300;
  color: #FFF;
}

.windowed.hide,
.windowed-right.hide {
  display: none;
}
.windowed.hide .hide-window,
.windowed-right.hide .hide-window {
  opacity: 0;
}
.windowed .hide-window,
.windowed-right .hide-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.windowed-right .window-content {
  background: #101318;
  border-radius: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  overscroll-behavior: contain;
  overflow-y: auto;
  transition: 0.3s ease-in-out;
  transform: translateX(100%);
}
.windowed-right .window-content .content-wraper,
.windowed-right .window-content .content-wrapper {
  padding-top: 20px;
  padding-left: calc(env(safe-area-inset-left) + 20px);
  padding-right: calc(env(safe-area-inset-right) + 20px);
  padding-bottom: max(20px, env(safe-area-inset-bottom));
  display: grid;
}
.windowed-right .window-content.hide {
  display: none;
}

.windowed .window-content {
  background: #101318;
  border-radius: 5px 5px 0px 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  right: 0;
  flex-direction: column;
  overflow-y: auto;
  transition: 0.3s ease-in-out;
  transform: translateY(100%);
}
.windowed .window-content .content-wraper,
.windowed .window-content .content-wrapper {
  padding-left: calc(env(safe-area-inset-left) + 20px);
  padding-right: calc(env(safe-area-inset-right) + 20px);
  padding-top: 20px;
  padding-bottom: max(20px, env(safe-area-inset-bottom));
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.windowed .window-content.hide {
  display: none;
}
.windowed .window-content.border-hide {
  border-radius: 0px 0px 0px 0px;
}

@media screen and (min-width: 900px) {
  .windowed .window-content .content-wraper,
  .windowed .window-content .content-wrapper {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
  }
  .windowed-right .window-content {
    left: auto;
    max-width: 400px;
    width: 100%;
  }
}
.content-storage .content-wrapper {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  gap: 0 !important;
}

.content-storage .content-wrapper {
  font-family: "Manrope", serif;
  max-height: 100dvh;
}
.content-storage .content-wrapper .wrapper {
  padding-left: var(--sal);
  padding-right: var(--sar);
  padding-bottom: max(var(--sab), 10px) !important;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.content-storage .content-wrapper .wrapper .window-bar {
  margin-top: 10px;
  margin-left: max(var(--sar), 20px);
  margin-right: max(var(--sal), 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-storage .content-wrapper .wrapper .window-bar .window-title {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}
.content-storage .content-wrapper .wrapper .window-bar .window-close {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.content-storage .content-wrapper .wrapper .window-bar .window-close .ticon {
  height: 14px;
  background-color: #fff;
}
.content-storage .content-wrapper .wrapper .storage-wrapper {
  background: #191C21;
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  margin: 0 10px;
  border-radius: 5px;
  overflow: clip;
}
.content-storage .content-wrapper .wrapper .storage-wrapper .closset .btn {
  background: #2393F1;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  height: 45px;
  cursor: pointer;
  position: sticky;
  top: 0px;
}
.content-storage .content-wrapper .wrapper .storage-wrapper .closset .btn .title-block {
  display: flex;
  align-items: center;
  gap: 5px;
}
.content-storage .content-wrapper .wrapper .storage-wrapper .closset .btn .title-block .icon {
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
}
.content-storage .content-wrapper .wrapper .storage-wrapper .closset .btn .title-block .icon .ticon {
  height: 15px;
  background-color: #FFFFFF;
  transform: rotate(90deg);
  transition: 0.3s cubic-bezier(0.29, -0.81, 0.42, 1.68);
}
.content-storage .content-wrapper .wrapper .storage-wrapper .closset .btn .title-block .title {
  font-size: 14px;
  font-weight: bold;
}
.content-storage .content-wrapper .wrapper .storage-wrapper .closset .btn .size {
  font-size: 10px;
  font-weight: bold;
}
.content-storage .content-wrapper .wrapper .storage-wrapper .closset .collapse-block .collapse-wrapper .value {
  padding: 0 10px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.content-storage .content-wrapper .wrapper .storage-wrapper .closset .collapse-block .collapse-wrapper .value .key {
  font-size: 14px;
}
.content-storage .content-wrapper .wrapper .storage-wrapper .closset .collapse-block .collapse-wrapper .value .size {
  font-size: 10px;
}
.content-storage .content-wrapper .wrapper .storage-wrapper .closset.-hide .btn .icon .ticon {
  transform: rotate(0deg);
}
.content-storage .content-wrapper .wrapper .storage-controls {
  gap: 10px;
  margin: 0 10px;
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate {
  background: #191C21;
  overflow: hidden;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  min-height: 52px;
  padding: 15px 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .storage-info {
  font-size: 12px;
  width: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .storage-info .app {
  opacity: 0.25;
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .storage-state {
  --progress: 0%;
  width: 100%;
  background: rgba(35, 148, 241, 0.25);
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  padding: 5px;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border: 0.3px solid rgba(255, 255, 255, 0.15);
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .storage-state .usage-space {
  width: var(--progress);
  border-radius: 8px;
  min-width: 16px;
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .storage-state .free-space {
  width: var(--progress);
  color: #2393F1;
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  text-wrap: nowrap;
  min-width: 50px;
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .storage-state::after {
  content: "";
  display: grid;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  width: var(--progress);
  background: #2393F1;
  min-width: 16px;
  z-index: 1;
  border-radius: 8px;
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .buttons {
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
  margin-top: 5px;
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .buttons .btn-wrapper {
  display: flex;
  flex: 1 0 0;
  padding: 0.3px;
  border-radius: 5px;
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .buttons .btn-wrapper:nth-child(1) {
  background: linear-gradient(150deg, rgba(255, 255, 255, 0.1) -50%, rgba(255, 255, 255, 0) 100%);
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .buttons .btn-wrapper:nth-child(3) {
  background: linear-gradient(-70deg, rgba(255, 255, 255, 0.1) -50%, rgba(255, 255, 255, 0) 100%);
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .buttons .btn {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  flex: 1 0 0;
  justify-content: center;
  height: 45px;
  cursor: pointer;
  background: #191C21;
  border-radius: 5px;
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .buttons .btn .icon {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .buttons .btn .icon .ticon {
  height: 14px;
  background-color: #FFFFFF;
}
.content-storage .content-wrapper .wrapper .storage-controls .estimate .buttons .separator {
  display: grid;
  width: 1px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  height: 30px;
}
.content-storage .content-wrapper .wrapper .reset {
  margin: 0 10px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.content-selector .content-wrapper {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  gap: 0 !important;
}

.window-selector .window-content .content-wrapper .wrapper {
  padding-left: var(--sal);
  padding-right: var(--sar);
  padding-bottom: max(var(--sab), 10px) !important;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.window-selector .window-content .content-wrapper .wrapper .window-bar {
  margin-top: 10px;
  margin-left: max(var(--sar), 20px);
  margin-right: max(var(--sal), 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.window-selector .window-content .content-wrapper .wrapper .window-bar .window-title {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}
.window-selector .window-content .content-wrapper .wrapper .window-bar .window-close {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.window-selector .window-content .content-wrapper .wrapper .window-bar .window-close .ticon {
  height: 14px;
  background-color: #fff;
}
.window-selector .window-content .content-wrapper .wrapper .selector-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 0 10px;
}
.window-selector .window-content .content-wrapper .wrapper .option {
  height: 45px;
  background: #191C21;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease-in;
}
.window-selector .window-content .content-wrapper .wrapper .option .circle {
  border-radius: 50%;
  display: grid;
  width: 12px;
  height: 12px;
  background: #101318;
}
.window-selector .window-content .content-wrapper .wrapper .option.-select {
  background: #2393F1;
}
.window-selector .window-content .content-wrapper .wrapper .option.-select .circle {
  background: #FFFFFF;
}
.window-selector .window-content .content-wrapper .wrapper .tip-text {
  padding: 0 20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.custom-element {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.i-ios-search {
  -webkit-mask-image: url('data:image/svg+xml,<svg viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 4C8 6.20914 6.20914 8 4 8C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0C6.20914 0 8 1.79086 8 4ZM1.25895 4C1.25895 5.51384 2.48616 6.74105 4 6.74105C5.51384 6.74105 6.74105 5.51384 6.74105 4C6.74105 2.48616 5.51384 1.25895 4 1.25895C2.48616 1.25895 1.25895 2.48616 1.25895 4Z" fill="white"/><rect x="6.85144" y="5.7688" width="4.11406" height="1.63503" rx="0.817516" transform="rotate(45 6.85144 5.7688)" fill="white"/></svg>');
          mask-image: url('data:image/svg+xml,<svg viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 4C8 6.20914 6.20914 8 4 8C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0C6.20914 0 8 1.79086 8 4ZM1.25895 4C1.25895 5.51384 2.48616 6.74105 4 6.74105C5.51384 6.74105 6.74105 5.51384 6.74105 4C6.74105 2.48616 5.51384 1.25895 4 1.25895C2.48616 1.25895 1.25895 2.48616 1.25895 4Z" fill="white"/><rect x="6.85144" y="5.7688" width="4.11406" height="1.63503" rx="0.817516" transform="rotate(45 6.85144 5.7688)" fill="white"/></svg>');
}

.i-pen {
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M416.9 85.2L372 130.1L509.9 268L554.8 223.1C568.4 209.6 576 191.2 576 172C576 152.8 568.4 134.4 554.8 120.9L519.1 85.2C505.6 71.6 487.2 64 468 64C448.8 64 430.4 71.6 416.9 85.2zM338.1 164L122.9 379.1C112.2 389.8 104.4 403.2 100.3 417.8L64.9 545.6C62.6 553.9 64.9 562.9 71.1 569C77.3 575.1 86.2 577.5 94.5 575.2L222.3 539.7C236.9 535.6 250.2 527.9 261 517.1L476 301.9L338.1 164z"/></svg>');
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M416.9 85.2L372 130.1L509.9 268L554.8 223.1C568.4 209.6 576 191.2 576 172C576 152.8 568.4 134.4 554.8 120.9L519.1 85.2C505.6 71.6 487.2 64 468 64C448.8 64 430.4 71.6 416.9 85.2zM338.1 164L122.9 379.1C112.2 389.8 104.4 403.2 100.3 417.8L64.9 545.6C62.6 553.9 64.9 562.9 71.1 569C77.3 575.1 86.2 577.5 94.5 575.2L222.3 539.7C236.9 535.6 250.2 527.9 261 517.1L476 301.9L338.1 164z"/></svg>');
}

body[angle="90"] .app-wrapper, body[angle="270"] .app-wrapper {
  margin-right: var(--sar);
  margin-left: var(--sal);
}
body[angle="90"] .app-wrapper {
  margin-left: max(var(--sal), var(--menu-width-safe));
}
body[angle="270"] .app-wrapper {
  margin-right: max(var(--sar), var(--menu-width-safe));
}