body,
html {
  background: #15171e;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: none;
}

.wrapper-full {
  position: fixed;
  display: grid;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(16, 19, 24, 0.5);
  z-index: 900;
  place-items: center;
}
.wrapper-full .btn-play {
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  cursor: pointer;
  background: #51B2FF;
  border-radius: 3px;
  opacity: 0;
}

.control-button {
  display: grid;
  width: 45px;
  height: 45px;
  place-items: center;
  cursor: pointer;
}
.control-button svg {
  fill: #fff;
  height: 16px;
}

.wrapper-player {
  width: 100%;
  height: 100%;
}
.wrapper-player video {
  height: 100%;
  width: 100%;
}
.wrapper-player .sliders {
  position: fixed;
  z-index: 40;
  left: 0;
  bottom: 50px;
  right: 0;
  display: none;
}
.wrapper-player .sliders .cur-slider {
  background: #5FBEF3;
  width: 0%;
  max-width: 100%;
  left: 0;
}
.wrapper-player .sliders .cur-slider .content .pointer {
  right: -29px;
  top: -40px;
  z-index: 21;
}
.wrapper-player .sliders .cur-slider .content .pointer svg {
  fill: #2672DA;
}
.wrapper-player .sliders.mouseenter .cur-slider .content .pointer,
.wrapper-player .sliders.mouseenter .end-slider .content .pointer {
  display: block;
}
.wrapper-player .sliders .cur-slider,
.wrapper-player .sliders .end-slider {
  position: absolute;
  height: 10px;
  display: flex;
  border-radius: 3px;
}
.wrapper-player .sliders .cur-slider .content,
.wrapper-player .sliders .end-slider .content {
  position: relative;
  width: 100%;
}
.wrapper-player .sliders .cur-slider .content .pointer,
.wrapper-player .sliders .end-slider .content .pointer {
  display: none;
  position: absolute;
  padding: 20px;
  cursor: pointer;
}
.wrapper-player .sliders .cur-slider .content .pointer.hide,
.wrapper-player .sliders .end-slider .content .pointer.hide {
  display: none;
}
.wrapper-player .sliders .cur-slider .content .pointer.mouseenter,
.wrapper-player .sliders .end-slider .content .pointer.mouseenter {
  display: block;
}
.wrapper-player .sliders .end-slider {
  background: #F35F5F;
  right: 0;
  max-width: 50%;
  width: 0%;
}
.wrapper-player .sliders .end-slider .content .pointer {
  left: -29px;
  top: -40px;
  z-index: 20;
}
.wrapper-player .sliders .end-slider .content .pointer svg {
  fill: #DA2626;
}
.wrapper-player .sliders.ct-moved {
  display: block;
}
.wrapper-player .sliders.st-controls {
  display: none;
}

.player-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 51;
  display: none;
}
.player-controls .controls {
  border-radius: 3px;
  background: #282A2E;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 50;
}
.player-controls .controls .left-controls,
.player-controls .controls .right-controls {
  display: flex;
  align-items: center;
}
.player-controls .controls .left-controls .btn-play-pause,
.player-controls .controls .right-controls .btn-play-pause {
  position: relative;
}
.player-controls .controls .left-controls .btn-play-pause svg,
.player-controls .controls .right-controls .btn-play-pause svg {
  position: absolute;
}
.player-controls .controls .left-controls .btn-play-pause svg.pause,
.player-controls .controls .right-controls .btn-play-pause svg.pause {
  opacity: 0;
}
.player-controls .controls .left-controls .video-timer,
.player-controls .controls .right-controls .video-timer {
  display: flex;
  font-family: Manrope;
  font-size: 13px;
  gap: 2px;
  cursor: default;
}
.player-controls .controls .left-controls .video-timer .current-timve,
.player-controls .controls .right-controls .video-timer .current-timve {
  color: #FFF;
}
.player-controls .controls .left-controls .video-timer .del,
.player-controls .controls .left-controls .video-timer .full-time,
.player-controls .controls .right-controls .video-timer .del,
.player-controls .controls .right-controls .video-timer .full-time {
  color: rgba(255, 255, 255, 0.4);
}
.player-controls.ct-moved {
  display: block;
}
.player-controls.st-controls {
  display: none;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #15171e;
  display: grid;
  place-items: center;
  z-index: 999;
}

.sk-folding-cube {
  position: absolute;
  width: 35px;
  height: 35px;
  transform: rotateZ(45deg);
  z-index: 9;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  background-color: #51b2ff;
}

.sk-folding-cube .sk-cube1 {
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube3 {
  transform-origin: 0% 0%;
}

.sk-folding-cube .sk-cube4 {
  transform-origin: 0% 0%;
}