@charset "UTF-8";
body {
  background: #101318;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  /* Запрещает автоматическое изменение размера текста */
}
body .content-wrapper {
  max-width: 900px;
  margin: 0 auto;
  font-family: Manrope;
  position: relative;
  z-index: 1;
}
body .content-wrapper header {
  margin-top: 20px;
  margin-bottom: 10px;
}
body .content-wrapper header .user-wrapper {
  display: flex;
  gap: 10px;
}
body .content-wrapper header .user-wrapper .user-icon {
  display: flex;
  overflow: hidden;
  width: 73px;
  height: 73px;
  min-width: 73px;
  min-height: 73px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}
body .content-wrapper header .user-wrapper .user-icon img {
  width: 100%;
}
body .content-wrapper header .user-wrapper .user-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
body .content-wrapper header .user-wrapper .user-data .user-nickname-online {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
body .content-wrapper header .user-wrapper .user-data .user-nickname-online .user-nickname h1 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
body .content-wrapper header .user-wrapper .user-data .user-nickname-online .user-online {
  display: flex;
  width: 17px;
  height: 17px;
  background: #191C21;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}
body .content-wrapper header .user-wrapper .user-data .user-nickname-online .user-online .point {
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
body .content-wrapper header .user-wrapper .user-data .user-nickname-online .user-online .point.online {
  background: #2DB523;
}
body .content-wrapper header .user-wrapper .user-data .user-nickname-online .user-online .point.offline {
  background: #B52323;
}
body .content-wrapper header .user-wrapper .user-data .user-level-data {
  display: flex;
  gap: 5px;
  align-items: center;
}
body .content-wrapper header .user-wrapper .user-data .user-level-data .user-level .user-level-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body .content-wrapper header .user-wrapper .user-data .user-level-data .user-level .user-level-wrapper svg {
  height: 36px;
}
body .content-wrapper header .user-wrapper .user-data .user-level-data .user-level .user-level-wrapper .level-text {
  position: absolute;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
}
body .content-wrapper header .user-wrapper .user-data .user-level-data .level-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body .content-wrapper header .user-wrapper .user-data .user-level-data .level-details .level-promotion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: #87898B;
}
body .content-wrapper header .user-wrapper .user-data .user-level-data .level-details .level-promotion .next-level-data {
  font-weight: bold;
}
body .content-wrapper header .user-wrapper .user-data .user-level-data .level-details .level-progress-bar {
  width: 100%;
  height: 4px;
  display: flex;
  border-radius: 3px;
  background: #191C21;
  overflow: hidden;
}
body .content-wrapper header .user-wrapper .user-data .user-level-data .level-details .level-progress-bar > .progress {
  height: 100%;
  display: flex;
  background: linear-gradient(90deg, rgb(35, 147, 241) 0%, rgb(28, 83, 129) 100%);
  border-radius: 0px 3px 3px 0px;
}
body .content-wrapper header .user-wrapper .user-data .user-level-data .level-details .level-content {
  color: #87898B;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}
body .content-wrapper main {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .content-wrapper main .block-title-btn,
body .content-wrapper main .block-title {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
body .content-wrapper main .block-title-btn.block-title-btn,
body .content-wrapper main .block-title.block-title-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .content-wrapper main .block-title-btn.block-title-btn .btn,
body .content-wrapper main .block-title.block-title-btn .btn {
  font-size: 12px;
  color: #87898B;
  background: #191C21;
  border-radius: 3px;
  padding: 2px 5px;
  font-weight: bold;
  cursor: pointer;
}
body .content-wrapper main .block-title-btn.block-title-btn .btn.hide,
body .content-wrapper main .block-title.block-title-btn .btn.hide {
  display: none;
}
body .content-wrapper main .block-title-btn.hide,
body .content-wrapper main .block-title.hide {
  display: none;
}
body .content-wrapper main .block-user-stats {
  overflow-x: auto;
}
body .content-wrapper main .block-user-stats .list {
  display: inline-flex;
  gap: 10px;
}
body .content-wrapper main .block-user-stats .list .status-data {
  min-width: 100px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  color: #fff;
  background: #191C21;
  border-radius: 3px;
}
body .content-wrapper main .block-user-stats .list .status-data .count {
  font-weight: bold;
  font-size: 24px;
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
body .content-wrapper main .block-user-stats .list .status-data .count .prcnt {
  background: #2292F0;
  color: white;
  padding: 2px 3px;
  border-radius: 3px;
  font-size: 11px;
  opacity: 50%;
}
body .content-wrapper main .block-user-stats .list .status-data .title {
  font-size: 11px;
}
body .content-wrapper main .wrapper-friends {
  overflow-x: auto;
}
body .content-wrapper main .wrapper-friends .list {
  display: inline-flex;
  gap: 10px;
}
body .content-wrapper main .wrapper-friends .list a {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: #191C21;
  border-radius: 5px;
  color: #fff;
  min-width: 170px;
}
body .content-wrapper main .wrapper-friends .list a .info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
body .content-wrapper main .wrapper-friends .list a .info .nickname {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-wrap: nowrap;
  display: flex;
}
body .content-wrapper main .wrapper-friends .list a .info .user-online {
  display: flex;
  font-size: 11px;
  background: #101318;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 5px;
  border-radius: 3px;
  text-transform: uppercase;
  align-items: center;
  gap: 5px;
}
body .content-wrapper main .wrapper-friends .list a .info .user-online .point {
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
body .content-wrapper main .wrapper-friends .list a .info .user-online .point.online {
  background: #2DB523;
}
body .content-wrapper main .wrapper-friends .list a .info .user-online .point.offline {
  background: #B52323;
}
body .content-wrapper main .wrapper-friends .list a img {
  border-radius: 3px;
  width: 60px;
}
body .content-wrapper main .wrapper-friends.hide {
  display: none;
}
body .content-wrapper main .wrapper-genres {
  overflow-x: auto;
}
body .content-wrapper main .wrapper-genres .list {
  display: inline-flex;
  gap: 10px;
}
body .content-wrapper main .wrapper-genres .list .genr {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #191C21;
  min-width: 150px;
  padding: 10px 12px;
  border-radius: 3px;
}
body .content-wrapper main .wrapper-genres .list .genr .icon-title {
  display: flex;
  gap: 10px;
  align-items: center;
}
body .content-wrapper main .wrapper-genres .list .genr .icon-title .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
}
body .content-wrapper main .wrapper-genres .list .genr .icon-title img {
  height: 16px;
}
body .content-wrapper main .wrapper-genres .list .genr .icon-title .title {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
body .content-wrapper main .wrapper-genres .list .genr .details {
  display: flex;
  font-size: 12px;
  color: #fff;
  gap: 5px;
  align-items: center;
}
body .content-wrapper main .wrapper-genres .list .genr .details .level {
  padding: 4px 5px;
  border-radius: 3px;
  background: #101318;
}
body .content-wrapper main .wrapper-genres .list .genr .details .count {
  opacity: 0.5;
}
body .content-wrapper main .wrapper-genres.hide {
  display: none;
}
body .content-wrapper main .wrapper-favorites {
  overflow-x: auto;
}
body .content-wrapper main .wrapper-favorites .list {
  display: inline-flex;
  gap: 10px;
}
body .content-wrapper main .wrapper-favorites.hide {
  display: none;
}
body .content-wrapper main .wrapper-achivements {
  overflow-x: auto;
}
body .content-wrapper main .wrapper-achivements .list {
  display: inline-flex;
  gap: 10px;
}
body .content-wrapper main .wrapper-achivements .list .achivement {
  background: #1C2028;
  width: 330px;
  border-radius: 5px;
  padding-top: 10px;
  height: 220px;
  overflow: hidden;
}
body .content-wrapper main .wrapper-achivements .list .achivement .title {
  padding: 0 10px 10px 10px;
}
body .content-wrapper main .wrapper-achivements .list .achivement .title span {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
body .content-wrapper main .wrapper-achivements .list .achivement .image {
  width: 100%;
  display: flex;
}
body .content-wrapper main .wrapper-achivements .list .achivement .image img {
  width: 100%;
}
body .content-wrapper main .wrapper-achivements.hide {
  display: none;
}
body .content-wrapper main .wrapper-achivements-unfinished {
  overflow-x: auto;
}
body .content-wrapper main .wrapper-achivements-unfinished .list {
  display: inline-flex;
  gap: 10px;
}
body .content-wrapper main .wrapper-achivements-unfinished .list .achivement {
  min-width: 200px;
  max-width: 250px;
  background: #1C2028;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  display: flex;
  opacity: 0.5;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px;
}
body .content-wrapper main .wrapper-achivements-unfinished .list .achivement .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .content-wrapper main .wrapper-achivements-unfinished .list .achivement .wrapper {
  width: 100%;
  margin-top: 25px;
}
body .content-wrapper main .wrapper-achivements-unfinished .list .achivement .progress {
  background: #101318;
  height: 4px;
  display: flex;
  position: relative;
}
body .content-wrapper main .wrapper-achivements-unfinished .list .achivement .progress .value {
  width: 50%;
  background: #82ADE7;
  border-radius: 3px;
}
body .content-wrapper main .wrapper-achivements-unfinished .list .achivement .progress .current-progress {
  position: absolute;
  left: 0;
  font-size: 12px;
  font-weight: normal;
  bottom: 6px;
}
body .content-wrapper main .wrapper-achivements-unfinished .list .achivement .progress .to-next-level {
  position: absolute;
  right: 0;
  font-size: 12px;
  font-weight: normal;
  bottom: 6px;
}
body .content-wrapper main .wrapper-achivements-unfinished.hide {
  display: none;
}
@media screen and (max-width: 940px) {
  body .content-wrapper {
    margin: 0px 20px;
  }
}
@media (orientation: landscape) and (max-width: 940px) {
  body .content-wrapper {
    margin-right: max(20px, env(safe-area-inset-right));
    margin-left: max(20px, env(safe-area-inset-left));
  }
}
body .content-full-wrapper {
  background: #191C21;
  margin-top: 20px;
}
body .content-full-wrapper .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}
body .content-full-wrapper .content-wrapper .account-controls {
  display: flex;
  gap: 5px;
}
body .content-full-wrapper .content-wrapper .list-button {
  display: flex;
  gap: 10px;
  position: relative;
  min-width: 40px;
  min-height: 40px;
}
body .content-full-wrapper .content-wrapper .list-button .btn.full {
  width: auto;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 3px;
  color: #fff;
  overflow: hidden;
  position: relative;
}
body .content-full-wrapper .content-wrapper .list-button .btn.full span.icon {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .content-full-wrapper .content-wrapper .list-button .btn.full#add-user {
  background: #2292f0;
  z-index: 9;
}
body .content-full-wrapper .content-wrapper .list-button .btn.full#remove-user {
  display: none;
  background: #f0222c;
  max-width: 40px;
  opacity: 0;
  z-index: 8;
}
body .content-full-wrapper .content-wrapper .list-button .loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.22);
  z-index: 7;
  opacity: 0;
  display: none;
}
body .content-full-wrapper .content-wrapper .list-button.hide {
  display: none;
}
body .content-full-wrapper .content-wrapper .btn {
  display: grid;
  width: 40px;
  height: 40px;
  place-items: center;
  cursor: pointer;
}
body .content-full-wrapper .content-wrapper .btn svg {
  height: 16px;
  fill: #fff;
}
body .content-full-wrapper .content-wrapper .btn.hide {
  display: none;
}

.user-history {
  display: flex;
}
.user-history .block-history {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-history .block-history .mounth {
  font-family: "Inter";
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
  cursor: default;
  font-weight: bold;
}
.user-history .block-history .mounth span {
  margin-left: 10px;
}
.user-history .block-history .mounth:first-child {
  display: none;
}
.user-history .block-history .block-date-data {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-column-gap: 10px;
}
.user-history .block-history .block-date-data .history-date {
  position: sticky;
  top: 0;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
  align-self: flex-start;
}
.user-history .block-history .block-date-data .history-date span.day {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.user-history .block-history .block-date-data .history-date span.mon {
  color: #fff;
  opacity: 0.25;
  font-size: 10px;
}
.user-history .block-history .block-date-data .history-data {
  display: grid;
  width: 100%;
  gap: 10px;
}
.user-history .block-history .block-date-data .history-data a .block {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  color: #fff;
  border-radius: 4px;
  padding: 10px 0px 10px 10px;
  gap: 5px;
  background: #191C21;
}
.user-history .block-history .block-date-data .history-data a .block .anime-title {
  font-size: 16px;
}
.user-history .block-history .block-date-data .history-data a .block .anime-event {
  font-size: 11px;
}
.user-history .block-history .block-date-data:nth-child(2) .history-data a:first-child .block {
  background: #2292F0;
}
.user-history.hide {
  display: none;
}

footer {
  display: flex;
  margin-top: max(150px, env(safe-area-inset-top) + 61px);
  margin-left: max(20px, env(safe-area-inset-left));
  margin-right: max(20px, env(safe-area-inset-right));
}

.card-anime {
  display: grid;
}
.card-anime .card-content {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  max-height: 280px;
  justify-content: center;
  aspect-ratio: 1/1.44;
}
.card-anime .card-content img {
  height: 100%;
  z-index: 3;
}
.card-anime .card-content .blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  filter: blur(5px);
}
.card-anime .card-content .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(16, 19, 24, 0.7);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  text-align: center;
  padding: 10px 0px;
  z-index: 4;
}
.card-anime .card-content .title span {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  color: #fff;
  font-family: "Manrope";
  font-size: 13px;
  justify-content: center;
}
.card-anime .card-content .my-score {
  position: absolute;
  right: 10px;
  top: 10px;
  background: linear-gradient(98.26deg, #51B2FF 0%, #2672DA 100%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 3px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #fff;
  font-family: "Nova Square";
  font-size: 12px;
  z-index: 5;
}
.card-anime .card-content .my-score svg {
  fill: #fff;
  display: none;
}
.card-anime .card-information {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  font-family: "Nova Square";
  font-size: 12px;
}
.card-anime .card-information .score {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.card-anime.hide-anime {
  display: none;
}
.card-anime.hide-search {
  display: none;
}
.card-anime:empty {
  --duration: 1.5s;
  min-height: 308px;
  border-radius: 3px;
  position: relative;
}
.card-anime:empty::after {
  height: 14.5px;
  bottom: 0;
}
.card-anime:empty::before {
  top: 0;
  bottom: 24.5px;
}
.card-anime:empty::before, .card-anime:empty::after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 0.2;
  background: #282D39;
  border-radius: 3px;
  animation: loading var(--duration) infinite;
}

.swiper-slide-active a .card_anime .card_content {
  background: rgba(0, 0, 0, 0.7);
}

@keyframes loading {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
.application-menu {
  position: fixed;
  bottom: 0;
  padding-bottom: env(safe-area-inset-bottom);
  left: 0;
  right: 0;
  background: #1E1F25;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px 7px 0px 0px;
  z-index: 80;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.application-menu .btn-menu {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.application-menu .btn-menu .selected {
  display: none;
  fill: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
}
.application-menu .btn-menu svg {
  fill: #fff;
  height: 26px;
  color: #fff;
}
.application-menu .btn-menu:first-child {
  margin-left: 10px;
}
.application-menu .btn-menu:last-child {
  margin-right: 10px;
}
.application-menu .primary {
  background: linear-gradient(130.55deg, #51B1FE -0.49%, #2774DB 100.49%);
  border-radius: 4px;
}
.application-menu .selected {
  position: relative;
}
.application-menu .selected .main-icon {
  display: none;
}
.application-menu .selected .selected {
  display: block;
}

.mode-1 {
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding-bottom: 0;
  border: none;
  border-radius: 7px;
}

.mode-2 .selected::after {
  content: "";
  position: absolute;
  border-radius: 7px;
  left: calc(50% - 17px);
  top: -1px;
  width: 34px;
  height: 3px;
  background: #51B1FE;
}
.mode-2 .selected .main-icon {
  display: block;
}
.mode-2 .selected .selected {
  display: none;
}

.interactive-menu {
  background: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 75;
  opacity: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.interactive-menu .close-interactive {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 76;
}
.interactive-menu .user-interactive {
  position: absolute;
  max-width: 350px;
  width: 100%;
  background: rgb(25, 28, 33);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 77;
  display: flex;
  flex-direction: column;
  bottom: calc(env(safe-area-inset-bottom) + 80px);
}
.interactive-menu .user-interactive .interact-content {
  overflow: hidden;
  position: relative;
  z-index: 2;
  border-radius: 4px;
}
.interactive-menu .user-interactive .btn-inter {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  font-family: Manrope;
  cursor: pointer;
}
.interactive-menu .user-interactive .btn-inter svg {
  fill: #fff;
  -webkit-text-stroke-color: #fff;
  width: 16px;
}
.interactive-menu .user-interactive .line-inter {
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.33);
  display: grid;
}
.interactive-menu .user-interactive .inter-param {
  position: relative;
}
.interactive-menu .user-interactive .inter-param .title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.interactive-menu .user-interactive .inter-param .checkbox {
  position: absolute;
  right: 20px;
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 16px;
  height: 16px;
  background: #C0C0C0;
  border-radius: 3px;
}
.interactive-menu .user-interactive .inter-param .checkbox input {
  display: none;
}
.interactive-menu .user-interactive .inter-param .checkbox .switch-check {
  display: none;
  width: 100%;
  height: 100%;
  background: #3C92ED;
}
.interactive-menu .user-interactive .inter-param .checkbox input:checked + .switch-check {
  display: grid;
}
.interactive-menu .user-interactive .btn-inter.disable-true {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.6);
}
.interactive-menu .user-interactive .btn-inter.disable-true svg {
  fill: rgba(255, 255, 255, 0.6);
}
.interactive-menu .user-interactive .inter-param.disable-true .checkbox {
  background: rgba(192, 192, 192, 0.6);
}
.interactive-menu .user-interactive .triangle {
  position: absolute;
  bottom: -15px;
  fill: #fff;
}

.interactive-menu.hide {
  opacity: 0;
}

body.menuver[data-orientation="90"] .application-menu, body.menuver[data-orientation="270"] .application-menu {
  bottom: 0;
  top: 0;
  padding-bottom: 0;
  padding-top: 0;
  border-top: none;
  flex-direction: column;
  align-items: center;
}
body.menuver[data-orientation="90"] .application-menu .btn-menu:first-child, body.menuver[data-orientation="270"] .application-menu .btn-menu:first-child {
  margin: 0;
}
body.menuver[data-orientation="90"] .application-menu .btn-menu:last-child, body.menuver[data-orientation="270"] .application-menu .btn-menu:last-child {
  margin: 0;
}
body.menuver[data-orientation="90"] {
  margin-left: 75px;
}
body.menuver[data-orientation="90"] .application-menu {
  left: 0;
  right: auto;
  padding-left: 10px;
  border-radius: 0px 7px 7px 0px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
body.menuver[data-orientation="270"] {
  margin-right: 75px;
}
body.menuver[data-orientation="270"] .application-menu {
  left: auto;
  right: 0;
  padding-right: 10px;
  border-radius: 7px 0px 0px 7px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

body.menuver[data-orientation="270"] .interactive-menu .user-interactive {
  right: 90px;
}
body.menuver[data-orientation="270"] .interactive-menu .user-interactive .triangle {
  transform: rotate(-90deg);
  bottom: auto;
  right: -18px;
}
body.menuver[data-orientation="0"] .interactive-menu .user-interactive {
  bottom: calc(env(safe-area-inset-bottom) + 80px);
}
body.menuver[data-orientation="90"] .interactive-menu .user-interactive {
  left: 90px;
}
body.menuver[data-orientation="90"] .interactive-menu .user-interactive .triangle {
  transform: rotate(90deg);
  bottom: auto;
  left: -18px;
}

:root {
  --sab: env(safe-area-inset-bottom);
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.popup .popup-content {
  background: #2393F1;
  color: #fff;
  font-family: Manrope;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 11px;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.368627451);
  position: relative;
}
.popup .popup-content img {
  position: absolute;
  top: -23px;
  width: 30px;
  right: 20px;
}
.popup.popup-menu-none {
  bottom: -40px;
}
.popup.popup-menu-visible {
  bottom: calc(env(safe-area-inset-bottom) - 40px);
}

.card-anime {
  min-width: 195px;
}

.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: #101318;
  transition: 0.6s ease-in-out;
  opacity: 1;
  z-index: 79;
}
.page-loading .loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}
.page-loading .wrapper {
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  height: 4px;
  width: 100%;
  left: 0;
  right: 0;
}
.page-loading .wrapper .text-error {
  position: absolute;
  bottom: 10px;
  text-align: center;
  left: 20px;
  right: 20px;
  color: rgba(255, 0, 0, 0.3411764706);
  font-family: "Manrope";
  font-size: 12px;
}
.page-loading .inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page-loading .inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #efeffa;
}
.page-loading .inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #efeffa;
}
.page-loading .inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #efeffa;
}
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.loader-anim {
  width: 13px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid;
  border-color: #2292f0 rgba(0, 0, 0, 0);
  animation: l1 1s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}