@charset "UTF-8";
html,
body {
  height: 100%;
}

body {
  background: #282d39;
}

header {
  background: #101318;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
}
header .content {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  color: #fff;
}
header .content .account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .content .account--block {
  display: flex;
  align-items: center;
}
header .content .account--image {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .content .account--image img {
  width: 50px;
  border-radius: 5px;
}
header .content .account--info {
  margin-left: 20px;
  font-family: Inter;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .content .account--title {
  font-weight: bold;
  font-size: 16px;
}
header .content .account--share--btn {
  background: #28b2f5;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
header .content .account--share--btn svg {
  width: 18px;
  fill: #fff;
  transform: translateX(1px);
}
header .menu {
  font-family: Manrope;
  color: #fff;
}
header .menu--box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
header .menu--btn {
  padding: 8px 15px;
  border-radius: 6px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.5;
  font-size: 14px;
}
header .menu--btn--select {
  opacity: 1;
  font-weight: bold;
}

.list--history {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Manrope;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}
.list--history:nth-child(1)::before {
  display: none;
}
.list--history:nth-last-child(1)::after {
  display: none;
}
.list--history::after {
  content: "";
  width: 1px;
  height: 50%;
  background: #fff;
  position: absolute;
  left: 5px;
  bottom: -6px;
}
.list--history::before {
  content: "";
  width: 1px;
  height: 50%;
  background: #fff;
  position: absolute;
  left: 5px;
  top: -4px;
}
.list--history--icon {
  margin-right: 20px;
  position: relative;
}
.list--history--icon svg {
  width: 11px;
  fill: #fff;
}
.list--history--text {
  margin-top: 5px;
  font-size: 14px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.list--history--text > span:nth-child(1) {
  width: 100%;
  height: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list--history--text > span:nth-child(2) {
  font-size: 14px;
  margin-top: 5px;
}
.list--history--text a {
  color: #28b2f5;
}
.list--history--date {
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.list--history--block {
  background: rgba(16, 19, 24, 0.5176470588);
  padding: 12px 12px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main--status {
  max-width: 1100px;
  margin: 0 auto;
}
.main--status--title {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  font-family: Manrope;
}
.main--status--statistics {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Manrope;
  justify-content: space-between;
  color: #fff;
}
.main--status--statistics--block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main--status--statistics--block--value {
  font-weight: bold;
}
.main--status--statistics--block--title {
  font-size: 12px;
  opacity: 0.5;
}

.main--settings {
  max-width: 1100px;
  margin: 0 auto;
  font-family: Manrope;
}
.main--settings--title {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.main--settings--logout, .main--settings--synch {
  width: 100%;
}
.main--settings--logout--btn, .main--settings--synch--btn {
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #28b2f5;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main--settings--clear-cache {
  margin-top: 10px;
  width: 100%;
}
.main--settings--clear-cache--btn {
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #f52828;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main--settings--clear-cache--tips {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  color: #fff;
  opacity: 0.4;
  font-size: 11px;
}
.main--settings > .main--settings--checkbox {
  margin-left: 20px;
  margin-right: 20px;
}
.main--settings > .main--settings--checkbox > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main--settings > .main--settings--checkbox > label .main--settings--checkbox--title {
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
}
.main--settings > .main--settings--checkbox > label .main--settings--checkbox--switch {
  position: relative;
  display: inline-block;
  min-width: 60px;
  height: 34px;
}
.main--settings > .main--settings--checkbox > label .main--settings--checkbox--switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.main--settings > .main--settings--checkbox > label .main--settings--checkbox--switch--slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.main--settings > .main--settings--checkbox > label .main--settings--checkbox--switch--slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.main--settings > .main--settings--checkbox > label .main--settings--checkbox--switch input:checked + .main--settings--checkbox--switch--slider {
  background-color: #28b2f5;
}
.main--settings > .main--settings--checkbox > label .main--settings--checkbox--switch input:focus + .main--settings--checkbox--switch--slider {
  box-shadow: 0 0 1px #28b2f5;
}
.main--settings > .main--settings--checkbox > label .main--settings--checkbox--switch input:checked + .main--settings--checkbox--switch--slider:before {
  transform: translateX(26px);
}
.main--settings > .main--settings--checkbox > .main--settings > .main--settings--checkbox.main--settings--checkbox {
  display: flex;
  flex-direction: column;
}

.main--settings--checkbox > div.main--settings--checkbox {
  margin-left: 20px;
  margin-top: 10px;
}
.main--settings--checkbox > div.main--settings--checkbox > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main--settings--checkbox > div.main--settings--checkbox > label .main--settings--checkbox--title {
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
}
.main--settings--checkbox > div.main--settings--checkbox > label .main--settings--checkbox--switch {
  position: relative;
  display: inline-block;
  min-width: 60px;
  height: 34px;
}
.main--settings--checkbox > div.main--settings--checkbox > label .main--settings--checkbox--switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.main--settings--checkbox > div.main--settings--checkbox > label .main--settings--checkbox--switch--slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.main--settings--checkbox > div.main--settings--checkbox > label .main--settings--checkbox--switch--slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.main--settings--checkbox > div.main--settings--checkbox > label .main--settings--checkbox--switch input:checked + .main--settings--checkbox--switch--slider {
  background-color: #28b2f5;
}
.main--settings--checkbox > div.main--settings--checkbox > label .main--settings--checkbox--switch input:focus + .main--settings--checkbox--switch--slider {
  box-shadow: 0 0 1px #28b2f5;
}
.main--settings--checkbox > div.main--settings--checkbox > label .main--settings--checkbox--switch input:checked + .main--settings--checkbox--switch--slider:before {
  transform: translateX(26px);
}
.main--settings--checkbox > div.main--settings--checkbox.disable {
  max-height: 0px;
  overflow: hidden;
  margin-top: 0;
}

.hide {
  display: none;
}

.phone_menu {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.phone_menu .btn_menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: rgba(10, 48, 78, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  max-width: 450px;
}
.phone_menu .btn_menu .icon_btn {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.phone_menu .btn_menu .icon_btn svg {
  height: 22px;
  fill: #a0aabb;
}
.phone_menu .btn_menu .icon_btn:hover svg {
  fill: #28B2F5;
}
.phone_menu .btn_menu .selected svg {
  fill: #28B2F5;
}

.authorization {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, sans-serif;
}
.authorization .authorization__wrapper {
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  max-width: 400px;
}
.authorization .authorization__wrapper .authorization_logo {
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #2eb2f7;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  font-size: 24px;
  font-weight: bold;
}
.authorization .authorization__wrapper .authorization_title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.authorization .authorization__wrapper .authorization_variation_text {
  color: #fff;
  margin: 20px 0 0 0;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 11px;
  text-align: center;
}
.authorization .authorization__wrapper .authorization_variation_text .variation__line {
  content: "";
  height: 1px;
  width: 60px;
  background: #fff;
  position: relative;
  display: flex;
  margin: 0 10px;
}
.authorization .authorization__wrapper .authorization_variation_duo {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.authorization .authorization__wrapper .authorization_variation_duo .auth__button {
  margin: 0 5px;
  cursor: pointer;
  width: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  position: relative;
}
.authorization .authorization__wrapper .authorization_variation_duo .auth__button .button__icon {
  display: flex;
  width: 30px;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.authorization .authorization__wrapper .authorization_variation_duo .auth__button .button__icon svg {
  height: 20px;
}
.authorization .authorization__wrapper .authorization_variation_duo .auth__button .button__text {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  color: #000000;
}
.authorization .authorization__wrapper .authorization_variation_duo .auth__button .google {
  color: #525357;
}
.authorization .authorization__wrapper .authorization_support_text {
  color: #8692a0;
  font-size: 11px;
  margin-top: 20px;
}
.authorization .authorization__wrapper .authorization_support_text a {
  color: #8692a0;
}
.authorization .authorization__wrapper .authorzation_detail {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 13px;
  width: 100%;
  color: #fff;
}
.authorization .authorization__wrapper .authorzation_detail .detail_info {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.authorization .authorization__wrapper .authorzation_detail .detail_info .detail_icon {
  background: #222930;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authorization .authorization__wrapper .authorzation_detail .detail_info .detail_icon svg {
  width: 9px;
  fill: #fff;
}
.authorization .authorization__wrapper .authorzation_detail .detail_info .detail_text {
  margin-left: 10px;
  color: #ebf0f0;
}

.disabled::before {
  content: "";
  position: absolute;
  background: rgba(82, 83, 87, 0.6705882353);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.disabled::after {
  content: "В разработке";
  position: absolute;
  top: -10px;
  right: -5px;
  font-size: 9px;
  padding: 5px 10px;
  background: #f6de51;
  border-radius: 3px;
}

@media screen and (max-width: 400px) {
  .authorization .authorization__wrapper {
    height: 100%;
    justify-content: center;
  }
}