body {
  background: #101318;
  overflow-x: hidden;
  max-width: 900px;
  margin: 0 auto;
}

.mobile-header {
  height: 528px;
  position: relative;
}
.mobile-header .bg-paralax-img {
  position: fixed;
  width: 100%;
  max-width: 900px;
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.mobile-header .bg-paralax-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.mobile-header .relative-control {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.mobile-header .relative-control .btn_back {
  position: absolute;
  left: 20px;
  top: 0;
  cursor: pointer;
  z-index: 10;
}
.mobile-header .relative-control .btn_save {
  position: absolute;
  right: 20px;
  top: 0;
  cursor: pointer;
  z-index: 10;
}
.mobile-header .relative-control .btn_love {
  position: absolute;
  left: -1px;
  bottom: 0;
  z-index: 10;
}
.mobile-header .relative-control .btn_love .btn_with_object .obj {
  transform: rotateY(180deg);
}
.mobile-header .relative-control .btn_love .btn_with_object .btn {
  bottom: 5px;
  left: 5px;
}
.mobile-header .relative-control .btn_share {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.mobile-header .relative-control .btn_share .btn_with_object .btn {
  bottom: 5px;
  right: 5px;
}

.btn_glass_abs {
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_glass_abs svg {
  height: 15px;
  fill: #FFFFFF;
}

.saved {
  background: linear-gradient(180deg, #2296F0 0%, #287BF1 100%);
}
.saved svg {
  fill: #fff;
}

.btn_with_object {
  position: relative;
}
.btn_with_object .obj {
  width: 101px;
  height: 101px;
}
.btn_with_object .btn {
  width: 59px;
  height: 59px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn_with_object .btn svg {
  fill: #fff;
  width: 20px;
}

.btn_go_to_player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_go_to_player .btn_play {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #2296F0 0%, #287BF1 100%);
  cursor: pointer;
}
.btn_go_to_player .btn_play svg {
  width: 30px;
  transform: translateX(4px) translateY(1px);
}

main {
  background: #101318;
  position: relative;
  z-index: 2;
  padding-top: 20px;
  font-family: "Manrope";
}

footer {
  background: #101318;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  padding: 20px;
  font-family: "Manrope";
}

.title-with-raiting {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-with-raiting .title {
  margin-right: 10px;
}
.title-with-raiting .title .russian {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.title-with-raiting .title .name {
  color: #fff;
  opacity: 0.5;
  font-size: 11px;
}
.title-with-raiting .raiting {
  display: flex;
  color: #fff;
  font-weight: bold;
  align-items: center;
}
.title-with-raiting .raiting svg {
  height: 14px;
  margin-right: 10px;
  fill: #2487F1;
}

.genres {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  overflow-x: auto;
}
.genres a {
  color: #5FBEF3;
  border: 1px solid #5FBEF3;
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
}

.block-title {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.heroes {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  overflow-x: auto;
}
.heroes .persone {
  margin-right: 10px;
}
.heroes .persone .img {
  overflow: hidden;
  border-radius: 5px;
  height: 140px;
  border: 2px solid #5FBEF3;
}
.heroes .persone .img img {
  height: 140px;
}
.heroes .persone .name {
  color: #fff;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.text-witch-pg {
  margin-top: 20px;
  color: #020202;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background: #5FBEF3;
  height: 45px;
}
.text-witch-pg .pg {
  font-weight: bold;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.text-witch-pg .icon-text {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.text-witch-pg .icon-text svg {
  fill: #020202;
  width: 20px;
}
.text-witch-pg .icon-text .content {
  margin-left: 10px;
}

.description {
  color: #fff;
  opacity: 0.8;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  line-height: 150%;
}
.description a {
  color: #98D4FD;
}
.description p {
  font-size: 14px;
  margin-bottom: 2px;
}

.player {
  display: flex;
}
.player iframe {
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.dubbing {
  display: flex;
  margin: 20px 20px 0 20px;
  position: relative;
  align-items: center;
}
.dubbing select {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: #5FBEF3;
  color: #020202;
  font-size: 16px;
  padding: 10px 20px;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
}
.dubbing .icon-select {
  position: absolute;
  right: 20px;
}
.dubbing .icon-select svg {
  fill: #020202;
  height: 16px;
}

.studio {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.studio span {
  font-size: 15px;
  opacity: 0.5;
}

.gallery {
  margin-left: 20px;
  margin-top: 10px;
}
.gallery .galery-slider {
  display: flex;
  overflow-x: auto;
}
.gallery .galery-slider::-webkit-scrollbar {
  width: 1em;
}
.gallery .galery-slider::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.gallery .galery-slider::-webkit-scrollbar-thumb {
  background-color: #5FBEF3;
  min-width: 100px;
  border-radius: 3px;
}
.gallery .galery-slider .slide {
  margin-right: 10px;
}
.gallery .galery-slider .slide img {
  height: 100px;
  border-radius: 3px;
}

.similiar {
  margin-left: 20px;
  margin-top: 10px;
}
.similiar .similiar-slider {
  display: flex;
  overflow-x: auto;
}
.similiar .similiar-slider::-webkit-scrollbar {
  width: 1em;
}
.similiar .similiar-slider::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.similiar .similiar-slider::-webkit-scrollbar-thumb {
  background-color: #5FBEF3;
  min-width: 100px;
  border-radius: 3px;
}
.similiar .similiar-slider .anime-card {
  margin-right: 10px;
}
.similiar .similiar-slider .anime-card .anime-image {
  position: relative;
}
.similiar .similiar-slider .anime-card .anime-image img {
  height: 200px;
  border-radius: 5px;
}
.similiar .similiar-slider .anime-card .anime-title {
  max-width: 140px;
  font-size: 13px;
  color: #fff;
  word-wrap: break-word;
  white-space: nowrap;
  line-height: 1.65;
  text-overflow: ellipsis;
  overflow: hidden;
}
.similiar .play-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.similiar .play-btn .btn {
  width: 35px;
  height: 35px;
  background: linear-gradient(180deg, #2296F0 0%, #287BF1 100%);
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.similiar .play-btn .btn svg {
  width: 10px;
}

.pg-rating {
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  .gallery .galery-slider .slide img {
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .player iframe {
    aspect-ratio: 16/10;
  }
}
.episodes {
  margin: 20px 20px 10px 20px;
  overflow: hidden;
  overflow-x: auto;
  border-radius: 3px;
}
.episodes .value {
  display: inline-flex;
  background: #15171E;
  border-radius: 3px;
  width: auto;
  position: relative;
}
.episodes .value .episode {
  margin: 3px;
  width: 55px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Manrope, serif;
  font-weight: bold;
  color: #555657;
  z-index: 2;
  position: relative;
  flex-direction: column;
}
.episodes .value .episode .ep-name {
  font-size: 11px;
  margin-top: 5px;
}
.episodes .value .sel {
  position: absolute;
  width: 55px;
  height: 70px;
  background: #5FBEF3;
  margin: 3px;
  border-radius: 3px;
  z-index: 1;
}

.episodes::-webkit-scrollbar {
  border-radius: 3px;
  width: 5px;
  height: 8px;
  display: hidden;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
.episodes::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 3px;
}