@charset "UTF-8";
html,
body {
  scrollbar-gutter: stable;
  /* Запрещает автоматическое изменение размера текста */
  -webkit-text-size-adjust: none;
}

body {
  background: #101318;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
body.loading {
  overflow: hidden !important;
}

.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  opacity: 1;
  z-index: 9999;
}
.page-loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #101318;
  z-index: 1;
}
.page-loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), var(--image) center center/cover no-repeat;
}
.page-loading .loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
  z-index: 3;
}
.page-loading .wrapper {
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  height: 4px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 3;
}
.page-loading .wrapper .text-error {
  position: absolute;
  bottom: 10px;
  text-align: center;
  left: 20px;
  right: 20px;
  color: rgba(255, 0, 0, 0.3411764706);
  font-family: "Manrope";
  font-size: 12px;
}
.page-loading .wrapper .progress {
  position: relative;
  height: 4px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.0274509804);
  overflow: hidden;
}
.page-loading .wrapper .progress .bar {
  width: 0%;
  height: 100%;
  background: rgba(95, 191, 243, 0.1450980392);
  transition: 0.6s ease-in-out;
}
.page-loading .inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page-loading .inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #efeffa;
}
.page-loading .inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #efeffa;
}
.page-loading .inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #efeffa;
}
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

header {
  width: 100%;
  overflow-x: hidden;
  margin-top: 20px;
  overflow: hidden;
  display: flex;
}
header .preview {
  position: relative;
  max-width: 370px;
  width: 100%;
  overflow: hidden;
}
header .preview .preview-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .preview .preview-wrapper img.main {
  width: 100%;
  min-width: 370px;
  z-index: 1;
  position: relative;
}
header .preview .preview-wrapper .bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .preview .preview-wrapper img.bg {
  filter: blur(5px);
  width: 150%;
}
header .preview .schape {
  position: absolute;
  bottom: 0px;
  z-index: 14;
  display: flex;
}
header .preview .schape-l {
  left: 0;
}
header .preview .schape-l .btn {
  left: 5px;
}
header .preview .schape-r {
  right: 0;
}
header .preview .schape-r .btn {
  right: 5px;
}
header .preview .schape .btn {
  position: absolute;
  width: 59px;
  height: 59px;
  display: grid;
  place-items: center;
  z-index: 14;
  bottom: 5px;
}
header .preview .schape .btn svg {
  fill: #fff;
  width: 20px;
}
header .preview .schape svg {
  fill: #101318;
}
header .preview .btn-back {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: rgba(133, 133, 133, 0.8);
  position: absolute;
  z-index: 15;
  top: 20px;
  left: 20px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 5px;
  display: grid;
  place-items: center;
}
header .preview .btn-back svg {
  height: 12px;
}
header .preview .btn-play {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
}
header .preview .btn-play .btn {
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
  background: linear-gradient(180deg, #2296f0 0%, #287bf1 100%);
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  height: 100%;
}
header .preview .btn-play .btn .wrapper-play {
  max-width: 25px;
  max-height: 25px;
  border-radius: 50%;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header .preview .btn-play .btn .wrapper-play .wrapper-icon {
  position: absolute;
  display: flex;
  top: 1.17px;
  left: 3.51px;
  bottom: 1.17px;
  right: 0.78px;
}
header .preview .btn-play .btn .wrapper-play .wrapper-icon svg {
  height: 100%;
}
header .preview .anime-status {
  font-family: "Manrope";
  position: absolute;
  z-index: 15;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header .preview .anime-status .cur-status {
  display: flex;
  cursor: pointer;
}
header .preview .anime-status .cur-status .more-status {
  background: rgba(164, 164, 164, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 5px 0px 0px 5px;
  width: 18px;
  height: 35px;
  display: grid;
  place-items: center;
}
header .preview .anime-status .cur-status .more-status svg {
  height: 10px;
}
header .preview .anime-status .cur-status .icon {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(133, 133, 133, 0.8);
  border-radius: 0px 5px 5px 0px;
}
header .preview .anime-status .cur-status .icon .safe-area {
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
header .preview .anime-status .cur-status .icon .safe-area svg {
  height: 15px;
  fill: #fff;
}
header .preview .anime-status .cur-status .icon > .text {
  max-width: 0px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  font-size: 12px;
  color: #fff;
}
header .preview .anime-status .cur-status .icon.selected {
  background: linear-gradient(180deg, #2296F0 0%, #287BF1 100%);
}
header .preview .anime-status .select .more-status {
  background: linear-gradient(180deg, #2296f0 0%, #287bf1 100%);
}
header .preview .anime-status .select .icon {
  background: linear-gradient(180deg, #2296f0 0%, #287bf1 100%);
}
header .preview .anime-status .list-status {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  max-height: 0px;
  overflow: hidden;
}
header .preview .anime-status .list-status > .hide {
  display: none;
  max-height: 0px;
  overflow: hidden;
}
header .preview .anime-status .list-status > .status {
  background: rgba(133, 133, 133, 0.8);
  width: 100%;
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
header .preview .anime-status .list-status > .status:first-child {
  border-radius: 3px 3px 0 0;
}
header .preview .anime-status .list-status > .status .safe-area {
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
header .preview .anime-status .list-status > .status .safe-area svg {
  height: 15px;
  fill: #fff;
}
header .preview .anime-status .list-status > .status > .text {
  overflow: hidden;
  transition: 0.3s ease-in-out;
  font-size: 12px;
  color: #fff;
  margin-right: 10px;
}
header .preview .anime-status .list-status > .status:last-child {
  border-radius: 0 0 3px 3px;
}
header .preview .show-more .cur-status .more-status svg {
  transform: scale(-1, 1);
}
header .preview .show-more .cur-status .icon > .text {
  max-width: 120px;
  margin-right: 10px;
}
header .preview .show-more .list-status {
  max-height: 200px;
}
header .content {
  font-family: "Manrope";
  overflow: hidden;
  width: 100%;
}
header .content .title-with-raiting {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .content .title-with-raiting .title {
  margin-right: 10px;
}
header .content .title-with-raiting .title .russian {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
header .content .title-with-raiting .title .name {
  color: #fff;
  opacity: 0.5;
  font-size: 11px;
}
header .content .title-with-raiting .raiting {
  display: flex;
  color: #fff;
  font-weight: bold;
  align-items: center;
}
header .content .title-with-raiting .raiting svg {
  height: 14px;
  margin-right: 10px;
  fill: #5fbef3;
}
header .content .genres {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  overflow-x: auto;
  gap: 10px;
}
header .content .genres a {
  color: #5fbef3;
  border: 1px solid #5fbef3;
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
}
header .content .details {
  display: flex;
  flex-direction: column;
  background: #191C21;
  margin-top: 20px;
}
header .content .details .block {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
header .content .details .block .content-a {
  display: flex;
  gap: 10px;
  align-items: center;
}
header .content .details .block .content-a .icon {
  background: #101318;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 2px;
}
header .content .details .block .content-a .icon svg {
  fill: #fff;
  width: 15px;
}
header .content .details .block .content-b .ep {
  opacity: 0.2;
}
header .content .details .block .content-b .pg {
  padding: 3px 7px;
  background: #F7D149;
  border-radius: 3px;
  color: #161616;
}
header .content > .title {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  color: #fff;
}
header .content .gallery {
  margin-left: 0px;
  margin-top: 10px;
  margin-left: 20px;
}
header .content .gallery .galery-slider {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
header .content .gallery .galery-slider .slide {
  position: relative;
  display: flex;
}
header .content .gallery .galery-slider .slide img {
  height: 150px;
  border-radius: 3px;
}
header .content .gallery .galery-slider .slide:last-child {
  padding-right: 20px;
}
header .content .gallery .galery-slider .slide .selected {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #5FBEF3;
  border-radius: 3px;
}
header .content .gallery .galery-slider .slide .selected .sel-icon {
  position: absolute;
  top: 0;
  left: 0;
  background: #5FBEF3;
  border-radius: 0px 0px 3px 0px;
  display: flex;
  padding: 6px 5px 5px 6px;
}
header .content .gallery .galery-slider .slide .selected .sel-icon svg {
  width: 12px;
  fill: #191c21;
}

main {
  font-family: "Manrope";
  background: #101318;
  position: relative;
  z-index: 1;
  padding-top: 20px;
}
main > .title {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  color: #fff;
}
main > .title:first-child {
  margin-top: 0;
}
main > .title.count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main > .title.count .count {
  font-size: 12px;
  color: #596271;
}
main .description {
  color: #fff;
  opacity: 0.8;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  line-height: 150%;
  font-size: 14px;
}
main .description a {
  color: #98d4fd;
  font-size: 14px;
}
main .hero-anime {
  margin-top: 20px;
  overflow: hidden;
  overflow-x: auto;
}
main .hero-anime .val {
  display: inline-flex;
  gap: 10px;
}
main .hero-anime .val a {
  overflow: hidden;
  width: 125px;
  height: 195px;
  position: relative;
  display: flex;
  border-radius: 4px;
}
main .hero-anime .val a img {
  width: 100%;
  top: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
}
main .hero-anime .val a .hero {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 10px 0px;
  background: rgba(16, 19, 24, 0.7);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  position: absolute;
  bottom: 0;
}
main .hero-anime .val a .hero .name {
  color: #FFF;
  text-align: center;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
main .hero-anime .val a:first-child {
  margin-left: 20px;
}
main .hero-anime .val a:last-child {
  margin-right: 20px;
}
main .player-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .player-title .player-controls {
  display: flex;
  gap: 5px;
  border-radius: 3px;
  overflow: hidden;
}
main .player-title .player-controls .btn {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  background: #191C21;
}

.spotify {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.episodes {
  margin: 20px 20px 10px 20px;
  overflow: hidden;
  overflow-x: auto;
  border-radius: 3px;
}
.episodes > .value {
  display: inline-flex;
  background: #15171e;
  border-radius: 3px;
  width: auto;
  position: relative;
}
.episodes > .value > .sel {
  position: absolute;
  width: 55px;
  height: 70px;
  background: #5fbef3;
  margin: 3px;
  border-radius: 3px;
  z-index: 1;
}
.episodes > .value > .episode {
  margin: 3px;
  width: 55px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Manrope, serif;
  font-weight: bold;
  color: #555657;
  z-index: 2;
  position: relative;
  flex-direction: column;
  cursor: pointer;
}
.episodes > .value > .episode > .ep-name {
  font-size: 11px;
  margin-top: 5px;
}

.player {
  display: flex;
}
.player iframe {
  width: 100%;
  aspect-ratio: 16/10;
  display: flex;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.player.fullscreen {
  aspect-ratio: 16/10;
  width: 100%;
}
.player.fullscreen iframe {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  margin: 0;
  aspect-ratio: auto;
  height: 100%;
}

.translations-wrapper {
  margin: 20px 20px 0 20px;
  background: #191C21;
  color: #020202;
  overflow: hidden;
  border-radius: 3px;
  display: flex;
}
.translations-wrapper .button-translation {
  display: flex;
  flex: 1 0 0;
  cursor: pointer;
  background: #5FBEF3;
  box-shadow: 2px 0px 0px 0px rgba(95, 190, 243, 0.1);
  border-radius: 0px 3px 3px 0px;
}
.translations-wrapper .button-translation .current-translation {
  display: flex;
  height: 45px;
  padding-left: 10px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}
.translations-wrapper .button-translation .current-translation svg {
  height: 13px;
  fill: #020202;
}
.translations-wrapper .button-translation .current-translation span {
  color: #020202;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 700;
}
.translations-wrapper .button-translation .count-current-translation {
  display: grid;
  place-items: center;
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  color: #020202;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
}
.translations-wrapper .button-stars {
  display: grid;
  place-items: center;
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  cursor: pointer;
}
.translations-wrapper .button-stars svg {
  fill: #fff;
  width: 14px;
}
.translations-wrapper .button-stars .selected {
  display: none;
  fill: #5FBEF3;
}
.translations-wrapper .button-stars.selected .selected {
  display: block;
}
.translations-wrapper .button-stars.selected .unselected {
  display: none;
}

.similiar-anime {
  margin-top: 20px;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
}
.similiar-anime a:first-child {
  margin-left: 20px;
}
.similiar-anime a:last-child .card-anime {
  margin-right: 20px;
}

.btn {
  cursor: pointer;
}

.hide {
  display: none;
}

.screen-wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: #101318;
  position: sticky;
  z-index: 1;
  padding: 20px;
  font-family: "Manrope";
}
footer .studio {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}
footer .studio span {
  font-size: 15px;
  opacity: 0.5;
}

.card-anime {
  display: grid;
}
.card-anime .card-content {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  max-height: 280px;
  justify-content: center;
  aspect-ratio: 1/1.44;
}
.card-anime .card-content img {
  height: 100%;
  z-index: 3;
}
.card-anime .card-content .blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  filter: blur(5px);
}
.card-anime .card-content .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(16, 19, 24, 0.7);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  text-align: center;
  padding: 10px 0px;
  z-index: 4;
}
.card-anime .card-content .title span {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  color: #fff;
  font-family: "Manrope";
  font-size: 13px;
  justify-content: center;
}
.card-anime .card-content .my-score {
  position: absolute;
  right: 10px;
  top: 10px;
  background: linear-gradient(98.26deg, #51B2FF 0%, #2672DA 100%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 3px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #fff;
  font-family: "Nova Square";
  font-size: 12px;
  z-index: 5;
}
.card-anime .card-content .my-score svg {
  fill: #fff;
  display: none;
}
.card-anime .card-information {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  font-family: "Nova Square";
  font-size: 12px;
}
.card-anime .card-information .score {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.card-anime.hide-anime {
  display: none;
}
.card-anime.hide-search {
  display: none;
}
.card-anime:empty {
  --duration: 1.5s;
  min-height: 308px;
  border-radius: 3px;
  position: relative;
}
.card-anime:empty::after {
  height: 14.5px;
  bottom: 0;
}
.card-anime:empty::before {
  top: 0;
  bottom: 24.5px;
}
.card-anime:empty::before, .card-anime:empty::after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 0.2;
  background: #282D39;
  border-radius: 3px;
  animation: loading var(--duration) infinite;
}

.swiper-slide-active a .card_anime .card_content {
  background: rgba(0, 0, 0, 0.7);
}

@keyframes loading {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
.windowed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  color: #FFF;
  font-family: "Manrope";
  display: block;
  transition: 0.3s ease-in-out;
}

.windowed-right {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Manrope";
  display: block;
  transition: 0.3s ease-in-out;
  z-index: 300;
  color: #FFF;
}

.windowed.hide,
.windowed-right.hide {
  display: none;
}
.windowed.hide .hide-window,
.windowed-right.hide .hide-window {
  opacity: 0;
}
.windowed .hide-window,
.windowed-right .hide-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.windowed-right .window-content {
  background: #101318;
  border-radius: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  overscroll-behavior: contain;
  overflow-y: auto;
  transition: 0.3s ease-in-out;
  transform: translateX(100%);
}
.windowed-right .window-content .content-wraper {
  padding-top: 20px;
  padding-left: calc(env(safe-area-inset-left) + 20px);
  padding-right: calc(env(safe-area-inset-right) + 20px);
  padding-bottom: max(20px, env(safe-area-inset-bottom));
  display: grid;
}
.windowed-right .window-content.hide {
  display: none;
}

.windowed .window-content {
  background: #101318;
  border-radius: 5px 5px 0px 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  right: 0;
  flex-direction: column;
  overflow-y: auto;
  transition: 0.3s ease-in-out;
  transform: translateY(100%);
}
.windowed .window-content .content-wraper {
  padding-left: calc(env(safe-area-inset-left) + 20px);
  padding-right: calc(env(safe-area-inset-right) + 20px);
  padding-top: 20px;
  padding-bottom: max(20px, env(safe-area-inset-bottom));
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.windowed .window-content.hide {
  display: none;
}
.windowed .window-content.border-hide {
  border-radius: 0px 0px 0px 0px;
}

@media screen and (min-width: 900px) {
  .windowed .window-content .content-wraper {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
  }
  .windowed-right .window-content {
    left: auto;
    max-width: 400px;
    width: 100%;
  }
}
.window-translation .window-content {
  max-height: calc(100dvh - env(safe-area-inset-top));
  overflow-y: hidden;
  overscroll-behavior: contain;
}
.window-translation .window-content .content-wraper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  overflow-y: hidden;
}
.window-translation .window-content .content-wraper .window-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.window-translation .window-content .content-wraper .window-bar .window-title {
  font-size: 14px;
}
.window-translation .window-content .content-wraper .window-bar .window-close {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.window-translation .window-content .content-wraper .window-bar .window-close svg {
  fill: #fff;
  width: 10px;
}
.window-translation .window-content .content-wraper .content-voices {
  background: #203544;
  border-radius: 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.window-translation .window-content .content-wraper .content-voices .voice {
  color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.window-translation .window-content .content-wraper .content-voices .voice .voice-content {
  font-family: Manrope;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  height: 45px;
  align-items: center;
  padding-left: 10px;
}
.window-translation .window-content .content-wraper .content-voices .voice .voice-content .voice-title {
  font-weight: 700;
}
.window-translation .window-content .content-wraper .content-voices .voice .voice-save {
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.window-translation .window-content .content-wraper .content-voices .voice .voice-save svg {
  fill: #fff;
  width: 14px;
}
.window-translation .window-content .content-wraper .content-voices .voice .voice-save .select {
  display: none;
}
.window-translation .window-content .content-wraper .content-voices .voice .voice-save.select svg.select {
  display: block;
  fill: #3587E6;
}
.window-translation .window-content .content-wraper .content-voices .voice .voice-save.select svg.unselect {
  display: none;
}
.window-translation .window-content .content-wraper .content-voices .voice.empty {
  height: 45px;
  display: grid;
  place-items: center;
  font-family: Manrope;
  font-size: 15px;
  justify-content: center;
}
.window-translation .window-content .content-wraper .content-voices .voice.select {
  background: #3587E6;
}
.window-translation .window-content .content-wraper .content-voices .voice.select .voice-save svg.select {
  fill: #fff;
}
.window-translation .window-content .content-wraper .window-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
}
.window-translation .window-content .content-wraper .window-footer .title {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #FFF;
  font-family: Manrope;
  font-size: 14px;
}
.window-translation .window-content .content-wraper .window-footer .title svg {
  width: 16px;
  fill: #fff;
}
.window-translation .window-content .content-wraper .window-footer .checkbox {
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 16px;
  height: 16px;
  background: #C0C0C0;
  border-radius: 3px;
}
.window-translation .window-content .content-wraper .window-footer .checkbox input {
  display: none;
}
.window-translation .window-content .content-wraper .window-footer .checkbox .switch-check {
  display: none;
  width: 100%;
  height: 100%;
  background: #3C92ED;
}
.window-translation .window-content .content-wraper .window-footer .checkbox input:checked + .switch-check {
  display: grid;
}

.content-score {
  max-height: 100dvh;
}
.content-score .content-wraper {
  padding-left: calc(env(safe-area-inset-left) + 0px) !important;
  padding-right: calc(env(safe-area-inset-right) + 0px) !important;
}
.content-score .content-wraper > * {
  flex-shrink: 0;
}
.content-score .content-wraper > .window-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.content-score .content-wraper > .window-bar .window-title {
  font-size: 15px;
  font-weight: bold;
}
.content-score .content-wraper > .window-bar .window-close {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.content-score .content-wraper > .window-bar .window-close svg {
  fill: #D4D4D8;
  width: 12px;
}
.content-score .content-wraper .block-score {
  display: flex;
  position: relative;
}
.content-score .content-wraper .block-score::before, .content-score .content-wraper .block-score::after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #101318;
  z-index: 2;
}
.content-score .content-wraper .block-score::before {
  left: 0;
  box-shadow: 4px 0px 3.3px 4px #101318;
}
.content-score .content-wraper .block-score::after {
  right: 60px;
  box-shadow: -4px 0px 3.3px 4px #101318;
}
.content-score .content-wraper .block-score .block-clear-score {
  display: grid;
  place-items: center;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  margin-right: 20px;
  cursor: pointer;
}
.content-score .content-wraper .block-score .block-clear-score.disabled svg {
  opacity: 0.25;
}
.content-score .content-wraper .block-score .block-clear-score svg {
  width: 12px;
  fill: #D4D4D8;
}
.content-score .content-wraper .block-score .score-list {
  display: flex;
  width: 100%;
  padding-right: 20px;
  overflow-x: auto;
  position: relative;
  gap: 7px;
}
.content-score .content-wraper .block-score .score-list .sc {
  min-width: 40px;
  min-height: 40px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  background: #191C21;
  font-size: 13px;
  cursor: pointer;
}
.content-score .content-wraper .block-score .score-list .sc.selected {
  background: #3689E8;
  font-weight: bold;
}
.content-score .content-wraper .block-score .score-list .sc:first-child {
  margin-left: 20px;
}
.content-score .content-wraper textarea {
  resize: none;
  min-height: 85px;
  width: 100%;
  background: #191C21;
  outline: none;
  border: none;
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 13px;
  color: #fff;
  font-family: "Manrope";
  border-radius: 0px;
}
.content-score .content-wraper .btn-commit {
  margin: 0 20px;
  height: 40px;
  background: #3689E8;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}
.content-score .content-wraper .title-block {
  font-size: 15px;
  font-weight: bold;
  padding: 0 20px;
}
.content-score .content-wraper .block-check {
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
}
.content-score .content-wraper .block-check input[type=checkbox] {
  width: 0;
  height: 0;
  opacity: 0;
  display: none;
  cursor: pointer;
}
.content-score .content-wraper .block-check input[type=checkbox]:checked ~ label > .check-box .check-arow {
  display: block;
}
.content-score .content-wraper .block-check .check-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  border-radius: 6px;
  cursor: pointer;
  background: #27272A;
}
.content-score .content-wraper .block-check .check-box .check-arow {
  display: none;
}
.content-score .content-wraper .block-check label {
  display: flex;
  gap: 10px;
  color: #FFF;
  font-size: 13px;
  font-family: Manrope;
  font-weight: 400;
  cursor: pointer;
}
.content-score .content-wraper .collection-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #191C21;
  padding: 0 20px;
}
.content-score .content-wraper .collection-select .collection-name {
  font-size: 13px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-score .content-wraper .collection-select .collection-name .select {
  font-weight: bold;
}
.content-score .content-wraper .collection-select .icon {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  display: grid;
  place-items: center;
}
.content-score .content-wraper .collection-select .icon svg {
  fill: #D4D4D8;
  width: 13px;
}
.content-score .content-wraper .anime-border-sync {
  background: #191C21;
  border-radius: 6px;
  padding: 2px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  animation: glower 20s linear infinite;
}
.content-score .content-wraper .anime-border-sync .circle-a,
.content-score .content-wraper .anime-border-sync .circle-b {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.content-score .content-wraper .anime-border-sync .circle-a {
  top: calc(0% - 20px);
  left: calc(0% - 20px);
  background: #beb81e;
  animation: circleA 10s ease-in-out infinite;
}
.content-score .content-wraper .anime-border-sync .circle-b {
  bottom: calc(0% - 20px);
  right: calc(0% - 20px);
  background: #3689e8;
  animation: circleB 10s ease-in-out infinite;
}
.content-score .content-wraper .anime-border-sync .anime-sync.block-check {
  padding: 0 !important;
  z-index: 3;
}
.content-score .content-wraper .anime-border-sync .anime-sync.block-check input[type=checkbox]:checked ~ label > .circle-a,
.content-score .content-wraper .anime-border-sync .anime-sync.block-check input[type=checkbox]:checked ~ label > .circle-b,
.content-score .content-wraper .anime-border-sync .anime-sync.block-check input[type=checkbox]:checked ~ label > .sync-status,
.content-score .content-wraper .anime-border-sync .anime-sync.block-check input[type=checkbox]:checked ~ label > .sync-icon {
  opacity: 1;
}
.content-score .content-wraper .anime-border-sync .anime-sync.block-check label {
  align-items: center;
  background: #191C21;
  padding: 1px;
  border-radius: 4px;
  padding: 10px 20px;
  gap: 10px;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.content-score .content-wraper .anime-border-sync .anime-sync.block-check label .circle-a,
.content-score .content-wraper .anime-border-sync .anime-sync.block-check label .circle-b {
  opacity: 0;
  filter: blur(30px);
}
.content-score .content-wraper .anime-border-sync .anime-sync.block-check .sync-icon {
  display: flex;
  z-index: 2;
  position: relative;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}
.content-score .content-wraper .anime-border-sync .anime-sync.block-check .sync-icon svg {
  fill: #D4D4D8;
  width: 18px;
}
.content-score .content-wraper .anime-border-sync .anime-sync.block-check .sync-status {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 3px;
  z-index: 2;
  position: relative;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}
.content-score .content-wraper .anime-border-sync .anime-sync.block-check .sync-status .name-param {
  font-size: 13px;
  font-weight: bold;
}
.content-score .content-wraper .anime-border-sync .anime-sync.block-check .sync-status .sync-data {
  display: flex;
  font-size: 9px;
  align-items: center;
  gap: 4px;
}
.content-score .content-wraper .anime-border-sync .anime-sync.block-check .sync-status .sync-data svg {
  width: 3px;
  fill: #D4D4D8;
}
.content-score .content-wraper .anime-border-sync .anime-sync.block-check .check-box {
  position: relative;
  z-index: 2;
}
@keyframes circleA {
  0% {
    left: calc(0% - 20px);
  }
  35% {
    left: calc(100% - 20px);
    top: calc(0% - 20px);
  }
  50% {
    left: calc(100% - 20px);
    top: calc(100% - 20px);
  }
  85% {
    left: calc(0% - 20px);
    top: calc(100% - 20px);
  }
  100% {
    top: calc(0% - 20px);
  }
}
@keyframes circleB {
  0% {
    right: calc(0% - 20px);
  }
  35% {
    right: calc(100% - 20px);
    bottom: calc(0% - 20px);
  }
  50% {
    right: calc(100% - 20px);
    bottom: calc(100% - 20px);
  }
  85% {
    right: calc(0% - 20px);
    bottom: calc(100% - 20px);
  }
  100% {
    bottom: calc(0% - 20px);
  }
}
@keyframes glower {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (min-width: 900px) {
  .content-score .content-wraper textarea {
    border-radius: 6px;
  }
  .content-score .content-wraper .collection-select {
    border-radius: 3px;
  }
}
.content-collection {
  max-height: 100dvh;
}
.content-collection .content-wraper {
  padding-left: calc(env(safe-area-inset-left) + 0px) !important;
  padding-right: calc(env(safe-area-inset-right) + 0px) !important;
  display: grid !important;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  overflow-y: hidden;
}
.content-collection .content-wraper > .window-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
.content-collection .content-wraper > .window-bar .to-add-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-height: 40px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding-right: 10px;
  gap: 5px;
  border-radius: 4px;
  background: rgb(54, 137, 232);
}
.content-collection .content-wraper > .window-bar .to-add-collection span.icon {
  display: grid;
  place-items: center;
  width: 40px;
  height: 100%;
}
.content-collection .content-wraper > .window-bar .to-add-collection span.icon svg {
  fill: #D4D4D8;
  width: 12px;
}
.content-collection .content-wraper > .window-bar .window-title {
  font-size: 13px;
  font-weight: bold;
}
.content-collection .content-wraper > .window-bar .add-to-collection {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.content-collection .content-wraper > .window-bar .add-to-collection svg {
  fill: #D4D4D8;
  width: 16px;
}
.content-collection .content-wraper .btn-commit {
  margin: 0 20px;
  height: 40px;
  background: #3689E8;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}
.content-collection .content-wraper .collection-search {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 20px;
  gap: 10px;
  position: relative;
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.content-collection .content-wraper .collection-search input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background: #282D39;
  border: none;
  outline: none;
  font-family: Manrope;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  padding-left: 10px;
  transition: 0.3s ease-in-out;
}
.content-collection .content-wraper .collection-search input::-moz-placeholder {
  color: #D4D4D8;
  font-weight: normal;
}
.content-collection .content-wraper .collection-search input::placeholder {
  color: #D4D4D8;
  font-weight: normal;
}
.content-collection .content-wraper .collection-search .add-new-collection {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: 0.3s ease-in-out;
  transform: rotate(45deg);
}
.content-collection .content-wraper .collection-search .add-new-collection svg {
  fill: #D4D4D8;
  width: 12px;
}
.content-collection .content-wraper .list-collection {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.content-collection .content-wraper .list-collection > * {
  flex-shrink: 0;
}
.content-collection .content-wraper .list-collection .swipe-collection-item {
  position: relative;
  background: rgba(40, 45, 57, 0.5);
  height: 45px;
  overflow-x: hidden;
}
.content-collection .content-wraper .list-collection .swipe-collection-item.selected .swipe-item {
  background: #3689E8;
}
.content-collection .content-wraper .list-collection .swipe-collection-item.load .swipe-item {
  background: #1c2029;
}
.content-collection .content-wraper .list-collection .swipe-collection-item.load .swipe-item .collection-name,
.content-collection .content-wraper .list-collection .swipe-collection-item.load .swipe-item .collection-count {
  color: #5d5d5d !important;
}
.content-collection .content-wraper .list-collection .swipe-collection-item.animation {
  animation: fadeInUp 0.3s ease-out;
}
.content-collection .content-wraper .list-collection .swipe-collection-item .reveal-left,
.content-collection .content-wraper .list-collection .swipe-collection-item .reveal-right {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  display: grid;
  place-items: center;
  z-index: 1;
  cursor: pointer;
}
.content-collection .content-wraper .list-collection .swipe-collection-item .reveal-left.reveal-left,
.content-collection .content-wraper .list-collection .swipe-collection-item .reveal-right.reveal-left {
  background: #7c0c0c;
  left: 0;
}
.content-collection .content-wraper .list-collection .swipe-collection-item .reveal-left.reveal-right,
.content-collection .content-wraper .list-collection .swipe-collection-item .reveal-right.reveal-right {
  background: #21538d;
  right: 0;
}
.content-collection .content-wraper .list-collection .swipe-collection-item .reveal-left svg,
.content-collection .content-wraper .list-collection .swipe-collection-item .reveal-right svg {
  fill: #D4D4D8;
  width: 13px;
}
.content-collection .content-wraper .list-collection .swipe-collection-item .swipe-item {
  background: #282D39;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  z-index: 2;
  padding: 0 20px;
  cursor: pointer;
}
.content-collection .content-wraper .list-collection .swipe-collection-item .swipe-item .collection-name {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-collection .content-wraper .list-collection .swipe-collection-item .swipe-item .collection-count {
  font-size: 13px;
  font-weight: normal;
  height: 45px;
  display: grid;
  place-items: center;
  width: 45px;
}

@media screen and (min-width: 900px) {
  .content-collection .content-wraper .list-collection .collection-item {
    border-radius: 3px;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.windowed .content-download .content-wraper {
  display: grid;
  grid-template-rows: auto auto auto auto;
  overflow-y: hidden;
}
.windowed .content-download .content-wraper .window-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.windowed .content-download .content-wraper .window-bar .window-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.windowed .content-download .content-wraper .window-bar .window-title .help-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #191C21;
  border-radius: 3px;
  cursor: pointer;
}
.windowed .content-download .content-wraper .window-bar .window-title .help-icon svg {
  height: 12px;
  fill: #fff;
}
.windowed .content-download .content-wraper .window-bar .window-close {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.windowed .content-download .content-wraper .window-bar .window-close svg {
  fill: #fff;
}
.windowed .content-download .content-wraper .wrapper-episodes-d {
  overflow-y: hidden;
  overflow-x: auto;
}
.windowed .content-download .content-wraper .wrapper-episodes-d .episodes-download {
  background: #191C21;
  border-radius: 3px;
  display: inline-flex;
  gap: 5px;
}
.windowed .content-download .content-wraper .wrapper-episodes-d .episodes-download .d-episode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 70px;
  font-size: 16px;
  font-weight: bold;
  margin: 3px;
  gap: 5px;
  color: #fff;
  position: relative;
  border-radius: 3px;
  opacity: 0.4;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.windowed .content-download .content-wraper .wrapper-episodes-d .episodes-download .d-episode.selected {
  background: #3C92ED;
  opacity: 1;
  cursor: auto;
}
.windowed .content-download .content-wraper .wrapper-episodes-d .episodes-download .d-episode span {
  text-transform: uppercase;
  font-size: 11px;
}
.windowed .content-download .content-wraper .wrapper-episodes-d .episodes-download .d-episode .downloaded {
  display: flex;
  width: 5px;
  height: 5px;
  position: absolute;
  right: 4px;
  top: 4px;
  background: #3C92ED;
  border-radius: 50%;
}
.windowed .content-download .content-wraper .progress-wrapper {
  position: relative;
  height: 25px;
  padding-top: 20px;
}
.windowed .content-download .content-wraper .progress-wrapper .download-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.windowed .content-download .content-wraper .progress-wrapper .progress-download {
  display: flex;
  height: 25px;
  border-radius: 3px;
  background: #191C21;
  overflow: hidden;
}
.windowed .content-download .content-wraper .progress-wrapper .progress-download .value {
  display: flex;
  width: 0%;
  height: 100%;
  background: #2393F1;
  position: relative;
  container-type: inline-size;
  transition: 0.3s ease-in-out;
}
.windowed .content-download .content-wraper .progress-wrapper .progress-download .value .percent {
  position: absolute;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 200;
  top: 0;
  bottom: 0;
  right: -35px;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}
@container (min-width: 80cqw) {
  .windowed .content-download .content-wraper .progress-wrapper .progress-download .value .percent {
    right: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
  }
}
.windowed .content-download .content-wraper .error-message {
  text-align: center;
  color: #A92527;
  font-size: 14px;
  font-family: Inter;
}
.windowed .content-download .content-wraper .download-buttons {
  position: relative;
}
.windowed .content-download .content-wraper .download-buttons .btn {
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  font-size: 16px;
}
.windowed .content-download .content-wraper .download-buttons .btn.btn-accept {
  position: relative;
  z-index: 9;
  background: #3C92ED;
}
.windowed .content-download .content-wraper .download-buttons .btn.btn-accept.disable {
  transform: translateY(-5px);
  scale: 0.9;
  opacity: 0.5;
  z-index: 8;
  pointer-events: none;
}
.windowed .content-download .content-wraper .download-buttons .btn.btn-stop {
  position: absolute;
  background: #F12323;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: 0.3s ease-in-out;
}
.windowed .content-download .content-wraper .download-buttons .btn.btn-stop.disable {
  bottom: 5px;
  scale: 0.9;
  opacity: 0.5;
  z-index: 8;
  pointer-events: none;
}
.windowed .content-download .content-wraper .window-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
}
.windowed .content-download .content-wraper .window-footer .title {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #FFF;
  font-family: Manrope;
  font-size: 14px;
}
.windowed .content-download .content-wraper .window-footer .title svg {
  width: 16px;
  fill: #fff;
}
.windowed .content-download .content-wraper .window-footer .checkbox {
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 16px;
  height: 16px;
  background: #C0C0C0;
  border-radius: 3px;
}
.windowed .content-download .content-wraper .window-footer .checkbox input {
  display: none;
}
.windowed .content-download .content-wraper .window-footer .checkbox .switch-check {
  display: none;
  width: 100%;
  height: 100%;
  background: #3C92ED;
}
.windowed .content-download .content-wraper .window-footer .checkbox input:checked + .switch-check {
  display: grid;
}

.franchise-title {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}

.list-franchise {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  overflow: hidden;
  overflow-x: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.list-franchise a.franchise {
  display: flex;
  min-height: 100px;
  min-width: 230px;
  border-radius: 3px;
  background: #191c21;
  color: #fff;
  padding: 10px;
  justify-content: space-between;
  gap: 10px;
  font-family: "Manrope";
}
.list-franchise a.franchise.hide {
  display: none;
}
.list-franchise a.franchise.selected {
  display: flex;
  background: #5FBEF3;
  color: #191C21;
}
.list-franchise a.franchise.selected .icon-info .status svg {
  fill: #191C21;
}
.list-franchise a.franchise.selected .icon-info .voice {
  background: #5FBEF3;
}
.list-franchise a.franchise.selected .icon-info .voice svg {
  fill: #191C21;
}
.list-franchise a.franchise.selected .icon-info .voice .circle {
  background: #5FBEF3;
}
.list-franchise a.franchise.selected .anime-info .bloc-info .wrapper .score svg {
  fill: #191C21;
}
.list-franchise a.franchise .anime-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 220px;
  gap: 10px;
}
.list-franchise a.franchise .anime-info .title {
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-franchise a.franchise .anime-info .status {
  background: #f7d149;
  color: #191c21;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 2px;
}
.list-franchise a.franchise .anime-info .bloc-info .anime-type {
  font-size: 12px;
}
.list-franchise a.franchise .anime-info .bloc-info .wrapper {
  display: flex;
  gap: 5px;
}
.list-franchise a.franchise .anime-info .bloc-info .wrapper .year {
  font-size: 12px;
  font-weight: bold;
}
.list-franchise a.franchise .anime-info .bloc-info .wrapper .score {
  font-size: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.list-franchise a.franchise .anime-info .bloc-info .wrapper .score svg {
  height: 10px;
  fill: #5fbef3;
}
.list-franchise a.franchise .icon-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-franchise a.franchise .icon-info .status {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-franchise a.franchise .icon-info .status svg {
  fill: #5FBEF3;
  height: 10px;
  display: none;
}
.list-franchise a.franchise .icon-info .status.watching svg.i-watching {
  display: block;
}
.list-franchise a.franchise .icon-info .status.planned svg.i-planned {
  display: block;
}
.list-franchise a.franchise .icon-info .status.completed svg.i-completed {
  display: block;
}
.list-franchise a.franchise .icon-info .status.dropped svg.i-dropped {
  display: block;
}
.list-franchise a.franchise .icon-info .voice {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191c21;
  border-radius: 3px;
  position: relative;
}
.list-franchise a.franchise .icon-info .voice.none {
  opacity: 0.1;
}
.list-franchise a.franchise .icon-info .voice.none .circle svg.i-xmark {
  display: block;
}
.list-franchise a.franchise .icon-info .voice.none .circle svg.i-circle {
  display: none;
}
.list-franchise a.franchise .icon-info .voice svg {
  height: 17px;
  fill: #5fbef3;
}
.list-franchise a.franchise .icon-info .voice .circle {
  position: absolute;
  display: grid;
  place-items: center;
  width: 11px;
  height: 11px;
  background: #191c21;
  border-radius: 50%;
  right: 3px;
  bottom: 4px;
}
.list-franchise a.franchise .icon-info .voice .circle svg {
  height: 8px;
}
.list-franchise a.franchise .icon-info .voice .circle svg.i-xmark {
  display: none;
}

.container-l {
  --uib-size: 24px;
  --uib-color: white;
  --uib-speed: 1.5s;
  --uib-dot-size: calc(var(--uib-size) * 0.4);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-dot-size);
  width: var(--uib-size);
}

.container-l::before,
.container-l::after {
  content: "";
  position: absolute;
  height: var(--uib-dot-size);
  width: var(--uib-dot-size);
  border-radius: 50%;
  background-color: var(--uib-color);
  flex-shrink: 0;
  transition: background-color 0.3s ease;
}

.container-l::before {
  animation: orbit var(--uib-speed) linear infinite;
}

.container-l::after {
  animation: orbit var(--uib-speed) linear calc(var(--uib-speed) / -2) infinite;
}

@keyframes orbit {
  0% {
    transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
    opacity: 0.65;
  }
  5% {
    transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.684208);
    opacity: 0.58;
  }
  10% {
    transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.631576);
    opacity: 0.51;
  }
  15% {
    transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.578944);
    opacity: 0.44;
  }
  20% {
    transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.526312);
    opacity: 0.37;
  }
  25% {
    transform: translateX(0%) scale(0.47368);
    opacity: 0.3;
  }
  30% {
    transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.526312);
    opacity: 0.37;
  }
  35% {
    transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.578944);
    opacity: 0.44;
  }
  40% {
    transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.631576);
    opacity: 0.51;
  }
  45% {
    transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.684208);
    opacity: 0.58;
  }
  50% {
    transform: translateX(calc(var(--uib-size) * -0.25)) scale(0.73684);
    opacity: 0.65;
  }
  55% {
    transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.789472);
    opacity: 0.72;
  }
  60% {
    transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.842104);
    opacity: 0.79;
  }
  65% {
    transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.894736);
    opacity: 0.86;
  }
  70% {
    transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.947368);
    opacity: 0.93;
  }
  75% {
    transform: translateX(0%) scale(1);
    opacity: 1;
  }
  80% {
    transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.947368);
    opacity: 0.93;
  }
  85% {
    transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.894736);
    opacity: 0.86;
  }
  90% {
    transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.842104);
    opacity: 0.79;
  }
  95% {
    transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.789472);
    opacity: 0.72;
  }
  100% {
    transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
    opacity: 0.65;
  }
}
:root {
  --sab: env(safe-area-inset-bottom);
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.popup .popup-content {
  background: #2393F1;
  color: #fff;
  font-family: Manrope;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 11px;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.368627451);
  position: relative;
}
.popup .popup-content img {
  position: absolute;
  top: -23px;
  width: 30px;
  right: 20px;
}
.popup.popup-menu-none {
  bottom: -40px;
}
.popup.popup-menu-visible {
  bottom: calc(env(safe-area-inset-bottom) - 40px);
}

.app-reload {
  position: fixed;
  top: -300px;
  left: 20px;
  right: 20px;
  bottom: calc(100dvh - 41px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  border-radius: 15px;
  pointer-events: none;
}
.app-reload .wrapper {
  background: #191C21;
  position: relative;
  display: grid;
  place-items: center;
  padding: 13px;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.29, -0.81, 0.42, 1.68);
}
.app-reload .wrapper svg {
  width: 15px;
  fill: #fff;
}

.card-anime {
  min-width: 195px;
  margin-right: 10px;
}

@media screen and (max-width: 920px) {
  header .mr-20 {
    margin-right: 20px;
  }
}
@media screen and (max-width: 920px) and (orientation: landscape) {
  header {
    margin-top: 20px;
  }
}
#center-player {
  display: none;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  #center-player {
    display: grid;
  }
  .landscape-player {
    display: flex;
  }
  .landscape-player .player {
    width: 100%;
    max-height: calc(100vh - 20px);
  }
  .landscape-player .player iframe {
    margin: 0;
  }
  .landscape-player.reverse-left {
    margin: 10px 20px 0 20px;
  }
  .landscape-player.reverse-left .episodes {
    margin: 0;
    margin-right: 20px;
    min-width: 61px;
  }
  .landscape-player.reverse-left .episodes .value {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 20px);
    overflow-x: hidden;
    overflow-y: visible;
  }
  .landscape-player.reverse-left .episodes .value .episode {
    min-width: 55px;
    max-width: 55px;
    min-height: 70px;
    max-height: 70px;
  }
  .landscape-player.reverse-top {
    flex-direction: column;
  }
  .landscape-player.reverse-top .player iframe {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .landscape-player.reverse-right {
    flex-direction: row-reverse;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .landscape-player.reverse-right .episodes {
    margin: 0;
    margin-right: 0;
    margin-left: 20px;
    min-width: 61px;
  }
  .landscape-player.reverse-right .episodes .value {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 20px);
    overflow-x: hidden;
    overflow-y: visible;
  }
  .landscape-player.reverse-right .episodes .value .episode {
    min-width: 55px;
    max-width: 55px;
    min-height: 70px;
    max-height: 70px;
  }
}
@media screen and (max-width: 650px) {
  header {
    flex-direction: column;
    margin-top: 0;
  }
  header .preview {
    margin-left: 0;
    max-width: none;
    height: 528px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .preview .preview-wrapper img.main {
    position: fixed;
    top: 0;
    left: 0;
  }
  header .content {
    padding-top: 20px;
    z-index: 1;
    background: #101318;
  }
}