@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #282D39;
}

header {
  overflow: hidden;
}
header .poster {
  position: relative;
  display: flex;
  align-items: center;
}
header .poster .fix_img {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
header .poster .watch {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3411764706);
}
header .poster .watch .go {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg, #2296F0 0%, #287BF1 100%);
  border-radius: 50%;
  transform: rotate(-35.18deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
header .poster .watch .go svg {
  height: 35.01px;
  transform: rotate(35.18deg);
  fill: #FFFFFF;
  margin-left: 7px;
  margin-top: 5px;
}
header .poster .obj1, header .poster .obj2 {
  position: absolute;
  bottom: -7px;
}
header .poster .obj1 img, header .poster .obj2 img {
  width: 86px;
}
header .poster .obj1 .btn_obj, header .poster .obj2 .btn_obj {
  position: absolute;
  background: #15171E;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  top: 42px;
}
header .poster .obj1 .btn_obj svg, header .poster .obj2 .btn_obj svg {
  width: 18px;
  fill: #fff;
}
header .poster .obj1 {
  left: -2px;
}
header .poster .obj1 .btn_obj {
  left: 10px;
}
header .poster .obj1 .btn_obj svg {
  width: 20px;
  background: #15171E;
  padding: 10px;
  border-radius: 3px;
}
header .poster .obj2 {
  right: -2px;
}
header .poster .obj2 .btn_obj {
  right: 10px;
}
header .poster .obj2 .btn_obj svg {
  width: 15px;
  background: #15171E;
  padding: 10px;
  border-radius: 3px;
}

main {
  position: relative;
  background: #282D39;
  z-index: 1;
}
main .title_raiting {
  margin-left: 17px;
  margin-right: 17px;
  padding-top: 20px;
  margin-bottom: 10px;
  background: #282D39;
  display: flex;
  justify-content: space-between;
}
main .title_raiting h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  color: #FFFFFF;
}
main .title_raiting .raiting {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  color: #FFFFFF;
}
main .title_raiting .raiting svg {
  height: 14px;
  fill: #2487F1;
  margin-right: 10px;
}
main .janre {
  margin: 0 17px;
  display: flex;
}
main .janre .janre__val {
  padding: 4px 18px;
  background: #15171E;
  border-radius: 13px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #A7A7A7;
  margin-right: 10px;
}
main h2 {
  margin: 0 17px;
  margin-top: 10px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}
main .description {
  margin-top: 10px;
  margin-left: 17px;
  margin-right: 17px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.1%;
  /* or 23px */
  color: #CECECE;
}
main .hide_description {
  max-height: 150px;
  overflow: hidden;
  position: relative;
}
main .hide_description::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(40, 45, 57, 0) 0%, #282D39 100%);
}
main .btn_main {
  display: flex;
}
main .show_btn {
  margin-top: 10px;
  width: 100%;
  margin-left: 17px;
  margin-right: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 35px;
  background: #1D7FD0;
  border-radius: 4px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  color: #FFFFFF;
}

.video_player {
  position: relative;
  background: #282D39;
  z-index: 1;
  padding-top: 10px;
}