.content-notify {
    .content-wraper {
        grid-template-rows: auto 1fr;
        overscroll-behavior: contain;
        gap: 10px;
        min-height: 90dvh;

        .title-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title-witch-icon {
                display: flex;
                align-items: center;
                font-weight: 700;
                font-size: 16px;
            }

            .btn-window-close {
                $size: 40px;
                display: grid;
                width: $size;
                height: $size;
                place-items: center;
                cursor: pointer;
                background: $object_bg;
                border-radius: $radius;

                svg {
                    fill: #FFF;
                    width: 10px;
                    height: 10px;
                    flex-shrink: 0;
                }
            }
        }

        .notify-content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            &.hide {
                display: none;
            }
        }

        //Филтр в уведомлениях
        .notify-filter {
            border-radius: $radius;
            background: $object_bg;

            display: flex;
            height: 40px;
            padding: 2px;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;

            .block-filter {
                display: flex;
                padding: 10px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-size: 13px;
                flex: 1 0 0;
                align-self: stretch;
                cursor: pointer;

                &.selected {
                    border-radius: 3px;
                    background: $primary;
                    font-weight: bold;
                }
            }
        }

        //Уведомление
        .content-notifycation {
            display: flex;
            gap: 10px;
            flex-direction: column;

            .notifycation {
                cursor: pointer;
                padding: 7px 10px 7px 0px;
                display: flex;
                position: relative;
                overflow: hidden;
                gap: 10px;
                border-radius: 3px;
                background: $object_bg;

                .status-unread {
                    width: 2px;
                    align-self: stretch;
                    background: #51B2FF;
                }

                .notification-data {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    flex: 1 0 0;

                    .notify-title-date {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        align-self: stretch;

                        color: #FFF;
                        font-family: Manrope;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        .notify-date{
                            opacity: .5;
                        }
                    }

                    .notify-text {
                        color: #FFF;
                        font-family: Manrope;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .notify-user-info {
                        display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        align-self: stretch;

                        .anime-episodes {
                            display: flex;
                            padding: 5px 10px;
                            align-items: center;
                            gap: 10px;

                            border-radius: 3px;
                            background: rgba(81, 178, 255, 0.10);

                            color: #51B2FF;
                            font-weight: 700;
                            font-family: Manrope;
                            font-size: 10px;

                            svg {
                                fill: #51B2FF;
                                width: 12px;
                            }
                        }

                        .voice-status {
                            display: flex;

                            &>div {
                                display: flex;
                                padding: 5px 10px;
                                align-items: center;
                                gap: 10px;
                                border-radius: 3px;

                                font-family: Manrope;
                                font-size: 10px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;

                                svg {
                                    height: 12px;
                                }

                                &.available {
                                    background: rgba(52, 222, 49, 0.10);
                                    color: #34DE31;

                                    svg {
                                        fill: #34DE31;
                                    }
                                }

                                &.unavailable {
                                    background: rgba(222, 49, 49, 0.10);
                                    color: #DE3131;

                                    svg {
                                        fill: #DE3131;
                                    }
                                }

                                &.load {
                                    background: rgba(199, 199, 199, 0.10);
                                    color: #C7C7C7;

                                    svg {
                                        fill: #C7C7C7;
                                    }
                                }
                            }

                            &.available {

                                .unavailable,
                                .load {
                                    display: none;
                                }
                            }

                            &.load {

                                .unavailable,
                                .available {
                                    display: none;
                                }
                            }

                            &.unavailable {

                                .available,
                                .load {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .empty-notify {
                    opacity: 0.5;
                    display: flex;
                    height: 200px;
                    padding: 10px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    flex: 1 0 0;
                    color: #fff;
                    text-align: center;
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 700;
                    cursor: default;

                    svg {
                        height: 34px;
                        fill: #FFF;
                    }
                }

                &.empty-notify {
                    border-radius: 0;
                    background: none;
                    padding: 0;
                }

                &.true {
                    padding: 7px 10px;
                }

                .read-event,
                .remove-event {
                    display: grid;
                    position: absolute;
                    border-radius: 3px;
                    max-width: 85px;
                    width: 0%;
                    top: 0;
                    bottom: 0;
                    place-items: center;

                    svg {
                        fill: #fff;
                        width: 22%;
                    }
                }

                .remove-event {
                    right: 0;

                    background: #DE3131;
                }

                .read-event {
                    left: 0;
                    background: #51B2FF;
                }
            }

            &.unread {
                .notifycation.true {
                    display: none;
                }
            }
        }

        //Загрузка
        .notify-load {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            height: 100%;

            &.hide{
                display: none;
            }
        }
    }
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.scale-down-center {
    -webkit-animation: scale-down-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate-reverse both;
    animation: scale-down-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate-reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-15 0:29:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

.jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-15 0:31:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}