.content-notify {
    .content-wraper {
        grid-template-rows: auto 1fr;
        gap: 10px;

        .title-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title-witch-icon {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 700;

                svg {
                    width: 10px;
                    height: 12px;
                    fill: #fff;
                }
            }

            .btn-window-close {
                display: grid;
                width: 35px;
                height: 35px;
                place-items: center;
                cursor: pointer;

                svg {
                    fill: #FFF;
                    width: 10px;
                    height: 10px;
                    flex-shrink: 0;
                }
            }
        }

        .content-notifycation {
            border-top: 1px solid rgba(255, 255, 255, 0.20);
            display: flex;
            flex-direction: column;

            .notifycation {
                cursor: pointer;
                padding: 10px 0;
                margin-top: 10px;
                display: flex;
                position: relative;
                overflow: hidden;

                .notify-status{
                    width: 100%;
                    display: grid;
                    place-items: center;
                    font-weight: 700;
                    opacity: .3;
                }

                .controlls-read {
                    background: #2393F1;
                    display: grid;
                    place-items: center;
                    width: 0px; // 100px
                    margin-right: 0px; // 10px
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 10;

                    // transition: .3s ease-in-out;
                    svg {
                        fill: #fff;
                    }
                }

                .controlls-del {
                    background: #f12323;
                    display: grid;
                    place-items: center;
                    width: 0px; // 100px
                    margin-left: 0px; // 10px
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 10;

                    // transition: .3s ease-in-out;
                    svg {
                        fill: #fff;
                    }
                }

                &-cnt {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 100%;

                    &-type-date {
                        display: flex;
                        justify-content: space-between;
                        color: #FFF;
                        font-family: Manrope;

                        &>.notify-type {
                            font-size: 14px;
                            font-weight: 700;
                            display: flex;
                            align-items: center;

                            .read-false {
                                width: 5px;
                                height: 5px;
                                background: #2393F1;
                                border-radius: 50%;
                                margin-right: 5px;
                            }
                        }

                        &>.notify-date {
                            font-size: 13px;
                            font-weight: 400;
                        }
                    }

                    &-text>div {
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                    }

                    &-tags {
                        display: flex;
                        justify-content: space-between;
                        &-list {
                            display: flex;
                            gap: 10px;

                            div {
                                background: #2393F1;
                                border-radius: 3px;
                                font-size: 10px;
                                font-weight: 600;
                                padding: 3px 6px;
                            }
                        }
                        &-onshow{
                            display: grid;
                            place-items: center;
                            aspect-ratio: 1 / 1;
                            height: 100%;
                            background: #5c5c5c;
                            border-radius: 3px;
                            svg{
                                fill: #fff;
                                width: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}