.window-update {
    .list-tags {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #191c21;
        border-radius: 5px;
        max-height: 140px;
        overflow-y: scroll;
        height: 0;
        z-index: 3;

        .t {
            padding: 10px 0px;
            text-align: center;
            cursor: pointer;
            font-size: 11px;
            font-weight: bold;

            &.select {
                background: #468be8;
            }
        }
    }
}

.content-update {
    font-family: 'Manrope';
    max-height: 100dvh;

    .filter-hide {
        display: grid;
        place-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 8;
        pointer-events: none;
        transition: .3s ease-in-out;

        .loader {
            opacity: 0;
            transition: .3s ease-in-out;
        }
    }

    &.list-show {
        .filter-hide {
            pointer-events: all;
            background: rgba(0, 0, 0, 0.5);
        }
    }

    &.load-commit {
        .filter-hide {
            pointer-events: all;
            background: rgba(0, 0, 0, 0.5);

            .loader {
                opacity: 1;
                width: 50px;
                height: 50px;
                border: 6px solid #3689E8;
                border-bottom-color: #ffffff;
            }
        }
    }

    .content-wraper {
        overflow-y: auto;
        padding-top: 0 !important;
        gap: 0px !important;
        padding-left: calc(env(safe-area-inset-left) + 0px) !important;
        padding-right: calc(env(safe-area-inset-right) + 0px) !important;
    }

    //Title + tag
    .title-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 60px;
        margin-left: 10px;
        margin-right: 10px;

        .title {
            font-size: 16px;
            font-weight: bold;
        }

        .tag {
            display: flex;
            background: #191C21;
            border-radius: 3px;
            padding: 10px 10px;
            gap: 10px;
            font-size: 11px;
            font-weight: bold;
            z-index: 9;
            cursor: pointer;

            svg {
                width: 9.4px;
                fill: #fff;
            }
        }
    }

    //Update content
    .update-content-wraper {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #191C21;
        margin-bottom: 10px;
        gap: 12px;

        .update-page-block {
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .block-title {
            display: flex;
            align-items: center;
            font-size: calc(16px + 0 * (100vw / 1280));
            font-weight: bold;
            background: #468be8;
            padding: 5px 0;

            span {
                display: grid;
                place-items: center;
                aspect-ratio: 1/1;
                height: 22px;

                &::after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    background: #3689E8;
                    border-radius: 50%;
                }
            }
        }

        .block-content {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .block-icon {
                margin-left: 22px;
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: calc(15px + 0 * (100vw / 1280));
                font-weight: bold;
                margin-right: 10px;

                .icon {
                    width: 22px;
                    height: 22px;
                    display: grid;
                    place-items: center;

                    svg {
                        fill: #ffffff9f;
                        width: 12px;
                    }
                }
            }

            .block-text {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .content {
                    font-size: 13.7px;
                    margin-left: calc(12px + 10px);
                    margin-right: 10px;
                }

                .tWrapper {
                    max-width: 100%;
                    overflow-x: scroll;
                }

                .uSwiperWrapper {
                    margin-top: 5px;
                    padding-bottom: 20px;
                    margin-bottom: -10px;
                    overflow: hidden;

                    .sWrapper {
                        position: relative;

                        .swiper-wrapper {
                            .iWrapper{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                img{
                                    height: 100%;
                                }
                            }
                            .vWrapper {
                                overflow: hidden;
                                width: 100%;
                                aspect-ratio: 16 / 9;
                                position: relative;
                                // border-top: 2px solid #3689E8;
                                // border-bottom: 2px solid #3689E8;
                                // box-sizing: border-box;
                                // 

                                video {
                                    width: 100%;
                                }

                                .controls {
                                    position: absolute;
                                    bottom: -40px; // 5px
                                    left: 5px;
                                    right: 5px;
                                    height: 35px;
                                    padding-left: 5px;
                                    padding-right: 5px;
                                    background: #1f293b;
                                    display: flex;
                                    align-items: center;
                                    border-radius: 3px;
                                    justify-content: space-between;

                                    .icon {
                                        display: flex;
                                        color: #fff;
                                        font-size: 12px;
                                        align-items: center;
                                        gap: 5px;
                                        font-weight: bold;
                                        text-wrap: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        margin-right: 10px;

                                        img {
                                            width: 22px;
                                            border-radius: 3px;
                                        }
                                    }

                                    .buttons {
                                        display: flex;
                                        gap: 3px;

                                        .btn-play-pause {
                                            &.pause {
                                                svg.play {
                                                    opacity: 0;
                                                }
                                            }

                                            &.play {
                                                svg.pause {
                                                    opacity: 0;
                                                }
                                            }
                                        }

                                        .btn-play-pause,
                                        a {
                                            width: 25px;
                                            height: 25px;
                                            background: #0f141d;
                                            border-radius: 3px;
                                            cursor: pointer;
                                            display: grid;
                                            place-items: center;
                                            position: relative;

                                            svg {
                                                width: 10px;
                                                fill: #b2b3b6;
                                                position: absolute;
                                            }
                                        }

                                        a {
                                            svg {
                                                width: 12px;
                                                transform: rotate(45deg);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .swiper-pagination {
                            // --swiper-pagination-bullet-size: 8px;
                            // --swiper-pagination-bullet-width: 50px;
                            // --swiper-pagination-bullet-height: 8px;
                            --swiper-pagination-bullet-inactive-color: #528de8;
                            // --swiper-pagination-bullet-inactive-opacity: 0.2;
                            // --swiper-pagination-bullet-opacity: 1;
                            // --swiper-pagination-bullet-horizontal-gap: 4px;
                            // --swiper-pagination-bullet-vertical-gap: 6px;

                            .swiper-pagination-bullet {
                                border-radius: 3px !important;
                            }
                        }

                        .swiper-horizontal>.swiper-pagination-bullets,
                        .swiper-pagination-bullets.swiper-pagination-horizontal,
                        .swiper-pagination-custom,
                        .swiper-pagination-fraction {
                            bottom: -15px !important;

                        }

                        .swiper-pagination-bullet-active {
                            background: #3689E8 !important;
                        }
                    }

                    @media screen and (min-width: 740px) {
                        & {
                            margin-left: 20px;
                            margin-right: 20px;
                            padding-bottom: 13px;

                            .swiper-wrapper {
                                .vWrapper {
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }

                .msgElement {
                    margin: 10px;
                    padding: 2px 3px;
                    gap: 6px;
                    background: #FFE600;
                    display: flex;
                    flex-direction: column;
                    border-radius: 5px;

                    .msgTitleWrapper {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 5px 10px 0px 10px;

                        .msgTitle {
                            display: flex;
                            color: #191C21;
                            font-size: 14px;
                            font-weight: bold;
                        }

                        .msgIcon {
                            display: flex;

                            .ticon {
                                height: 20px;
                                background-color: #191C21;
                            }
                        }
                    }

                    .msgContentWrapper {
                        display: flex;
                        flex-direction: column;
                        background: #1A1C21;
                        border-radius: 5px;
                        padding: 15px 10px;
                        box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.2);

                        span {
                            min-height: 20px;
                            width: 100%;
                            font-size: 15px;
                            font-weight: bold;
                            color: #FFFFFF;
                        }
                    }
                }


                .modTable {
                    width: max-content;
                    min-width: 100%;

                    .tadd,
                    .trem,
                    .tedt {
                        display: flex;
                        align-items: center;
                        padding-left: 12px;
                        width: 100%;

                        .icon {
                            min-width: 35px;
                            height: 35px;
                            display: grid;
                            place-items: center;
                            position: sticky;
                            left: 0px;
                            z-index: 2;

                            svg {
                                fill: #fff;
                                width: 12px;
                            }
                        }

                        .value {
                            text-wrap: nowrap;
                            position: sticky;
                            left: 35px;
                            color: #fff;
                            margin-right: 10px;
                            font-size: 14px;
                        }

                        &.tadd {
                            background: #1b2639;

                            .icon {
                                background: #1b2639;
                            }
                        }

                        &.tedt {
                            background: #1f2228;

                            .icon {
                                background: #1f2228;
                            }
                        }

                        &.trem {
                            background: #391c1c;

                            .icon {
                                background: #391c1c;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 900px) {
            & {
                border-radius: 5px;
            }
        }
    }

    .btn-wrapper {
        $height: 40px;
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;

        .restart-script {
            min-height: $height;
            max-height: $height;
            min-width: $height;
            max-width: $height;
            display: none;
            place-items: center;
            cursor: pointer;

            &.show {
                display: grid;
            }

            svg {
                fill: #fff;
                width: 15px;
            }
        }
    }

    //Button accept updation
    .btn-submit {
        flex: 1 0 0;
        $height: 40px;
        min-height: $height;
        max-height: $height;
        background: #3689E8;
        border-radius: 4px;
        display: grid;
        place-items: center;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;

        position: relative;
        overflow: hidden;

        &.cl-2 {
            .type-2 {
                transform: translateY(0px);
                opacity: 1;
            }

            .type-1 {
                transform: translateY(-23px);
                opacity: 0;
                transition: .1s ease-in-out;
            }
        }



        .type-2 {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            transform: translateY(23px);
            opacity: 0;
            transition: .1s ease-in-out;
        }
    }

    .loader {
        width: 15px;
        height: 15px;
        border: 2px solid #10131847;
        border-bottom-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.i-envelope {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M112 128C85.5 128 64 149.5 64 176C64 191.1 71.1 205.3 83.2 214.4L291.2 370.4C308.3 383.2 331.7 383.2 348.8 370.4L556.8 214.4C568.9 205.3 576 191.1 576 176C576 149.5 554.5 128 528 128L112 128zM64 260L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 260L377.6 408.8C343.5 434.4 296.5 434.4 262.4 408.8L64 260z"/></svg>');
}

.i-clock {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320C64 178.6 178.6 64 320 64zM296 184L296 320C296 328 300 335.5 306.7 340L402.7 404C413.7 411.4 428.6 408.4 436 397.3C443.4 386.2 440.4 371.4 429.3 364L344 307.2L344 184C344 170.7 333.3 160 320 160C306.7 160 296 170.7 296 184z"/></svg>');
}

.i-triangle-exclamation{
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M320 64C334.7 64 348.2 72.1 355.2 85L571.2 485C577.9 497.4 577.6 512.4 570.4 524.5C563.2 536.6 550.1 544 536 544L104 544C89.9 544 76.8 536.6 69.6 524.5C62.4 512.4 62.1 497.4 68.8 485L284.8 85C291.8 72.1 305.3 64 320 64zM320 416C302.3 416 288 430.3 288 448C288 465.7 302.3 480 320 480C337.7 480 352 465.7 352 448C352 430.3 337.7 416 320 416zM320 224C301.8 224 287.3 239.5 288.6 257.7L296 361.7C296.9 374.2 307.4 384 319.9 384C332.5 384 342.9 374.3 343.8 361.7L351.2 257.7C352.5 239.5 338.1 224 319.8 224z"/></svg>');
}