.content-update {
    font-family: 'Manrope';
    max-height: 100dvh;

    .content-wraper{
        overflow-y: auto;
    }

    //Title + tag
    .title-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        //new code
        border-bottom: 2px solid rgba(64, 153, 240, 0.4);
        padding-bottom: 10px;

        .title {
            font-size: 16px;
            font-weight: bold;
        }

        .tag {
            display: flex;
            background: #191C21;
            border-radius: 3px;
            padding: 10px 10px;
            gap: 10px;
            font-size: 11px;
            font-weight: bold;

            svg {
                width: 9.4px;
                fill: #fff;
            }
        }
    }

    //Update content
    .update-content-wraper {
        max-height: calc(100vh - 45px - 107px - max(20px, env(safe-area-inset-bottom)));
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        width: 100%;

        .update-page-block {
            border-bottom: 2px solid rgba(64, 153, 240, 0.4);
            padding-bottom: 20px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &:first-child {
                margin-top: 10px;
            }
        }

        .block-title {
            display: flex;
            align-items: center;
            gap: 10px;
            // font-size: 14px;
            font-size: calc(16px + 0 * (100vw / 1280));

            span {
                display: flex;
                width: 6px;
                height: 6px;
                background: linear-gradient(90.75deg, #51B3FF 0%, #3283E4 100%);
                border-radius: 50%;
            }
        }

        .block-content {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .block-icon {
                display: flex;
                align-items: center;
                gap: 10px;
                // font-size: 14px;
                font-size: calc(15px + 0 * (100vw / 1280));
                font-weight: bold;

                svg {
                    fill: #fff;
                    width: 12px;
                }
            }

            .block-text {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .content {
                    // font-size: 11px;
                    font-size: calc(13px + 0 * (100vw / 1280));
                    margin-left: calc(12px + 10px);
                }
            }
        }
    }

    //Button accept updation
    .btn-submit {
        $height: 40px;
        min-height: $height;
        max-height: $height;
        background: #2393F1;
        border-radius: 4px;
        display: grid;
        place-items: center;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
    }
}