.menu-controls {
    .menu-btn {
        width: 60px;
        height: 60px;

        display: grid;
        place-items: center;
        box-sizing: border-box;

        cursor: pointer;

        svg {
            z-index: 2;
            fill: #FFFFFF;
            height: 26px;
        }
    }
}