@mixin Player() {
    .player {
        display: flex;

        iframe{
            margin-top: 10px;
            width: 100%;
            aspect-ratio: 16 / 9;
        }

        &[data-type="tunime"][default-controls="false"]{
            iframe {
                width: 100%;
                min-height: calc((100vw * 9 / 16) + 48px);
                display: flex;
                aspect-ratio: auto;
            }
        }

        @media (orientation: landscape) {
            iframe{
                aspect-ratio: 16/9 !important;
                min-height: auto !important;
            }
        }


        @media screen and (min-width:900px) {
            iframe {
                min-height: auto !important;
                border-radius: 5px !important;
                aspect-ratio: 16/9 !important;
            }
        }

        &.fullscreen {
            aspect-ratio: 16 / 9;
            width: 100%;

            iframe {
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 999;
                margin: 0;
                aspect-ratio: auto;
                height: 100%;
            }
        }
    }
}