.button-wrapper {
    padding: 0 20px;

    .o-button {
        background: #191C21;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #FFFFFF;
        height: 52px;
        gap: 5px;
        border-radius: 5px;
        cursor: pointer;

        .icon {
            width: 30px;
            height: 30px;
            display: grid;
            place-items: center;

            .ticon {
                height: 15px;
                background-color: #FFFFFF;
            }
        }
    }
}